Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Update release notes
  RELEASE.md
Due: frontend_change

Release v6.6.1 (#1597)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

Revert "Update fastapi[all] requirement in /package (#1483)" (#1598)
  package/test_requirements.txt
Due: backend_change

Re-adding requirements.txt file back
  package/requirements.txt
Due: backend_change

Linking .toml file to the requirements.txt dependencies
  package/pyproject.toml
Due: backend_change

Resolve .toml link issues via dynamic metadata
  package/pyproject.toml
Due: backend_change

Update strategy from default auto to increase-if-neces.
  .github/dependabot.yml
Due: frontend_change

fix lint
  package/kedro_viz/data_access/managers.py
Due: backend_change

Update strategy from default auto to increase-if-neces. (#1602)
  .github/dependabot.yml
Due: frontend_change

Removing sql_node based approach present
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Removing missed sql_node test changes
  package/tests/test_models/test_flowchart.py
Due: backend_change

add pytest for resolve dataset factory patterns
  package/kedro_viz/data_access/managers.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

modify release statement
  RELEASE.md
Due: frontend_change

add comments based on PR review
  package/kedro_viz/data_access/managers.py
Due: backend_change

not-working version of pydantic shift
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

Add tooltip to copy button, update tooltip to handle arrow size and position
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/ui/tooltip/tooltip.js
  src/components/ui/tooltip/tooltip.scss
  src/components/ui/tooltip/tooltip.test.js
Due: frontend_change

Fix dataset factory patterns in Experiment Tracking (#1588)
  RELEASE.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change, frontend_change

Add missing dependency
  demo-project/src/demo_project/requirements.in
Due: frontend_change

Replace deprecated command in README
  demo-project/README.md
Due: frontend_change

Update configuration to use OmegaConfigLoader
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/base/catalog_02_int.yml
  demo-project/conf/base/catalog_03_prm.yml
  demo-project/conf/base/catalog_04_feature.yml
  demo-project/conf/base/catalog_05_model_input.yml
  demo-project/conf/base/catalog_06_models.yml
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/conf/base/catalog_09_tracking.yml
  demo-project/conf/base/catalog_globals.yml
  demo-project/conf/base/globals.yml
  demo-project/conf/base/parameters/feature_engineering.yml
  demo-project/conf/prod/catalog_globals.yml
  demo-project/conf/prod/globals.yml
Due: frontend_change

Use OmegaConfigLoader in project settings
  demo-project/src/demo_project/settings.py
Due: frontend_change

Fix parameters of modeling pipeline
  demo-project/conf/base/parameters/modelling.yml
Due: frontend_change

Bump kedro init version
  demo-project/pyproject.toml
Due: frontend_change

Fix Pandas SettingWithCopyWarning by using loc
  demo-project/src/demo_project/pipelines/reporting/nodes.py
Due: frontend_change

Remove unneeded CONFIG_LOADER_ARGS
  demo-project/src/demo_project/settings.py
Due: frontend_change

Update demo project to use OmegaConfigLoader (#1590)
  demo-project/README.md
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/base/catalog_02_int.yml
  demo-project/conf/base/catalog_03_prm.yml
  demo-project/conf/base/catalog_04_feature.yml
  demo-project/conf/base/catalog_05_model_input.yml
  demo-project/conf/base/catalog_06_models.yml
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/conf/base/catalog_09_tracking.yml
  demo-project/conf/base/catalog_globals.yml
  demo-project/conf/base/globals.yml
  demo-project/conf/base/parameters/feature_engineering.yml
  demo-project/conf/base/parameters/modelling.yml
  demo-project/conf/prod/catalog_globals.yml
  demo-project/conf/prod/globals.yml
  demo-project/pyproject.toml
  demo-project/src/demo_project/pipelines/reporting/nodes.py
  demo-project/src/demo_project/requirements.in
  demo-project/src/demo_project/settings.py
Due: frontend_change

revert pydantic v2 compat code
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/experiment_tracking.py
  package/requirements.txt
Due: backend_change, frontend_change

fix release and ignore try except import in mypy
  RELEASE.md
  package/kedro_viz/api/rest/responses.py
Due: backend_change, frontend_change

ignore try except import in mypy
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Add tooltip to command copier, update tooltip
  src/components/flowchart/flowchart.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/ui/command-copier/command-copier.js
  src/components/ui/command-copier/command-copier.scss
  src/components/ui/tooltip/tooltip.js
  src/components/ui/tooltip/tooltip.scss
Due: frontend_change

Update docs front page
  docs/source/index.md
Due: frontend_change

Remove nav_version next to Kedro logo in top left; add Kedro logo
  docs/source/_templates/layout.html
  docs/source/kedro_logo.svg
Due: frontend_change

Revise project name and author name
  docs/source/conf.py
Due: frontend_change

Use full kedro icon and type for logo
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/kedro-horizontal-color-on-light.svg
Due: frontend_change

non-working p2
  package/kedro_viz/models/flowchart.py
Due: backend_change

Fix scss errors, sort tooltip react props, update tooltip padding
  src/components/ui/tooltip/tooltip.js
  src/components/ui/tooltip/tooltip.scss
Due: frontend_change

Add heap parameter (#1594)
  docs/source/_templates/layout.html
Due: frontend_change

Update package/test_requirements.txt
  package/test_requirements.txt
Due: backend_change

Fix: Kedro-Viz doesn't work when hosted via a URL subpath
  src/config.js
Due: frontend_change
