Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Add PR number to release notes
  RELEASE.md
Due: frontend_change

Remove Python 3.9 support (#2511)
  .github/actions/setup_tests/action.yml
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/check-release.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/merge-gatekeeper.yml
  .readthedocs.yml
  CONTRIBUTING.md
  README.npm.md
  RELEASE.md
  demo-project/Dockerfile
  demo-project/pyproject.toml
  package/README.md
  package/features/steps/lower_requirements.txt
  package/pyproject.toml
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

Deploy Kedro builder to Kedro-Viz Github-pages
  .github/workflows/deploy-demo-with-kedro-builder.yml
Due: frontend_change

Branch name updated
  .github/workflows/deploy-demo-with-kedro-builder.yml
Due: frontend_change

Deploy Kedro builder to Kedro-Viz Github-pages (#2520)
  .github/workflows/deploy-demo-with-kedro-builder.yml
Due: frontend_change

fix(viz): support bound methods in node metadata (#2510)
  RELEASE.md
  package/kedro_viz/models/flowchart/node_metadata.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

initial draft for webpack to vite esm
  ARCHITECTURE.md
  STYLE_GUIDE.md
  esm/ddbb56d1f11d8ec8cfa3.worker.js
  esm/ddbb56d1f11d8ec8cfa3.worker.js.LICENSE.txt
  esm/kedro-viz.css
  esm/kedro-viz.mjs
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package.json
  package/kedro_viz/integrations/notebook/visualizer.py
  vite.esm.config.js
  webpack.config.js
Due: backend_change, frontend_change

lint fix
  package/kedro_viz/integrations/notebook/visualizer.py
Due: backend_change

fix security issues
  esm/kedro-viz.mjs
  vite.esm.config.js
Due: frontend_change

update css link
  package/kedro_viz/integrations/notebook/visualizer.py
Due: backend_change

update release note and docs
  RELEASE.md
  docs/kedro-viz_visualisation.md
Due: frontend_change

fix lint
  package/kedro_viz/integrations/notebook/visualizer.py
Due: backend_change

revert testing specific files
  package/kedro_viz/integrations/notebook/visualizer.py
Due: backend_change

Migrate ESM bundling to vite from webpack (#2521)
  ARCHITECTURE.md
  RELEASE.md
  STYLE_GUIDE.md
  docs/kedro-viz_visualisation.md
  esm/ddbb56d1f11d8ec8cfa3.worker.js
  esm/ddbb56d1f11d8ec8cfa3.worker.js.LICENSE.txt
  esm/kedro-viz.css
  esm/kedro-viz.mjs
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package.json
  package/kedro_viz/integrations/notebook/visualizer.py
  vite.esm.config.js
  webpack.config.js
Due: backend_change, frontend_change

v13.0.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release 13.0.0
  RELEASE.md
Due: frontend_change

update reminder-content
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

v12.2.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release 12.2.0
  RELEASE.md
  esm/kedro-viz.mjs
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

add styles
  demo-project/.viz/styles.example.json
  demo-project/.viz/styles.json
Due: frontend_change

fix matplotlibwriter warning and pureposixpath error
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/pyproject.toml
  demo-project/src/docker_requirements.txt
  package/kedro_viz/integrations/kedro/hooks_utils.py
Due: backend_change, frontend_change

revert node color to grayscale
  demo-project/.viz/styles.json
  docs/images/custom_node_color.png
Due: frontend_change

Add node colors to demo project (#2526)
  demo-project/.viz/styles.example.json
  demo-project/.viz/styles.json
  docs/images/custom_node_color.png
Due: frontend_change

catch broader exception
  package/kedro_viz/integrations/kedro/hooks_utils.py
Due: backend_change

fix lint
  package/kedro_viz/integrations/kedro/hooks_utils.py
Due: backend_change

fix lint
  demo-project/.viz/styles.json
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

Issues with demo project and run status view (#2527)
  RELEASE.md
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/pyproject.toml
  demo-project/src/docker_requirements.txt
  package/kedro_viz/integrations/kedro/hooks_utils.py
Due: backend_change, frontend_change

Release v12.2.0 (#2525)
  RELEASE.md
  demo-project/.version
  esm/kedro-viz.mjs
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

testing mermaid preview changes
  Makefile
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  package-lock.json
  package.json
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/models/flowchart/node_metadata.py
  src/components/mermaid-renderer/index.js
  src/components/mermaid-renderer/mermaid-renderer.jsx
  src/components/mermaid-renderer/mermaid-renderer.scss
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata-modal/metadata-modal.scss
  src/components/metadata/metadata.jsx
  src/components/metadata/styles/metadata.scss
Due: backend_change, frontend_change

implement decorator approach
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

fix lint
  package/kedro_viz/api/rest/utils.py
Due: backend_change

test
  RELEASE.md
Due: frontend_change

done
  .github/workflows/auto-merge-demo.yml
Due: frontend_change

done
  package/kedro_viz/api/rest/utils.py
Due: backend_change
