Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

connect redux store to component
  src/components/node-list/components/row/row.js
  src/components/node-list/node-list-tree-item.js
  src/components/ui/visibility-control/visibility-control.js
Due: frontend_change

fix orientation switch
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/selectors/layers.js
  src/selectors/nodes.js
  src/utils/graph/routing.js
Due: frontend_change

AutoreloadFileFilter added for accurate auto reload files
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/test_autoreload_file_filter.py
Due: backend_change

remove unwanted code
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart/draw.js
Due: frontend_change

Test fix
  package/tests/test_launchers/test_cli/test_run.py
  package/tests/test_utils.py
Due: backend_change

fix styling
  src/components/filter-row/filter-row.js
  src/components/filter-row/filter-row.scss
  src/components/node-list/styles/_group.scss
Due: frontend_change

Test fix
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

update name to ToggleControl
  src/components/filter-row/filter-row.js
  src/components/node-list/components/row/row.js
  src/components/node-list/node-list.test.js
  src/components/ui/toggle-control/toggle-control.js
  src/components/ui/toggle-control/toggle-control.scss
  src/components/ui/toggle-control/toggle-control.test.js
Due: frontend_change

changes based on comments
  src/utils/index.js
Due: frontend_change

Initialize `ruff.toml` and replicate `isort`
  package/ruff.toml
Due: backend_change

add lite support for kedro 18 and add e2e test
  package/features/viz.feature
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/abstract_dataset_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/utils.py
Due: backend_change

fix perm
  demo-project/.version
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

remove disable props as no longer needed
  src/components/node-list/node-list-group.js
  src/components/node-list/node-list-group.test.js
  src/components/ui/toggle-control/toggle-control.js
  src/components/ui/toggle-control/toggle-control.test.js
Due: frontend_change

Extend `ruff` config to replicate existing linter
  package/ruff.toml
Due: backend_change

Remove a few `pylint` directives that are no longer needed
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Delete 3 config files that are no longer needed
  package/.flake8
  package/.isort.cfg
  package/.pylintrc
Due: backend_change

Delete 4 tools from requirements and add `ruff` instead
  package/test_requirements.txt
Due: backend_change

Include `ruff` linter in `Makefile`
  Makefile
Due: frontend_change

Add a `BLE` ruleset
  package/ruff.toml
Due: backend_change

Add NOQAs for `BLE` ruleset instead of `pylint` ones
  package/features/steps/cli_steps.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/kedro_viz/integrations/kedro/telemetry.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

Implement `N` ruleset and add settings for it
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/ruff.toml
Due: backend_change

Eliminate individual `pylint: disable` completely
  package/features/environment.py
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/types.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/graph.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/data_access/repositories/runs.py
  package/kedro_viz/data_access/repositories/tags.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/kedro_viz/launchers/cli/build.py
  package/kedro_viz/launchers/cli/deploy.py
  package/kedro_viz/launchers/cli/lazy_default_group.py
  package/kedro_viz/launchers/cli/main.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/metadata.py
  package/kedro_viz/server.py
  package/ruff.toml
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

Bring risk-free formats
  package/kedro_viz/__init__.py
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/router.py
  package/kedro_viz/data_access/__init__.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/__init__.py
  package/kedro_viz/data_access/repositories/graph.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/data_access/repositories/runs.py
  package/kedro_viz/data_access/repositories/tags.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/kedro_viz/integrations/kedro/telemetry.py
  package/kedro_viz/integrations/pypi/__init__.py
  package/kedro_viz/launchers/cli/build.py
  package/kedro_viz/launchers/cli/deploy.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/services/__init__.py
  package/kedro_viz/services/layers.py
  package/tests/test_import.py
Due: backend_change

Switch from `...` to `pass` in dummy function definition to satisfy `ruff`
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Get rid of final pylint disable
  package/tests/test_api/test_graphql/test_queries.py
Due: backend_change

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: frontend_change

Remove `black` from requirements and Makefile
  Makefile
  package/test_requirements.txt
Due: backend_change, frontend_change

Delete reference to `pylint` issue that's no longer needed
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

Sort `ruff.toml`
  package/ruff.toml
Due: backend_change

use hasattr
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Introduce hierarchical config
  demo-project/ruff.toml
  package/ruff.toml
  ruff.toml
Due: backend_change, frontend_change

Apply `ruff` lint and format fixes to demo project
  demo-project/docs/source/conf.py
  demo-project/src/demo_project/__init__.py
  demo-project/src/demo_project/__main__.py
  demo-project/src/demo_project/hooks.py
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/feature_engineering/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/nodes.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  demo-project/src/demo_project/pipelines/reporting/image_utils.py
  demo-project/src/demo_project/pipelines/reporting/nodes.py
  demo-project/src/demo_project/pipelines/reporting/pipeline.py
  demo-project/src/tests/test_run.py
Due: frontend_change

Remove `package` directory pointer from `make lint`
  Makefile
Due: frontend_change

Refactor all `demo_project` dev workflows to `ruff`
  demo-project/.pre-commit-config.yaml
  demo-project/pyproject.toml
  demo-project/setup.cfg
  demo-project/src/demo_project/requirements.in
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/models/experiment_tracking.py
  ruff.toml
Due: backend_change, frontend_change

Replace a few BLE noqas by config exclude
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  ruff.toml
Due: backend_change, frontend_change

Modify RELEASE.md
  RELEASE.md
Due: frontend_change

lint and unit test fix
  package/kedro_viz/autoreload_file_filter.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

Test fix
  package/features/steps/lower_requirements.txt
  package/requirements.txt
  package/test_requirements.txt
  package/tests/test_autoreload_file_filter.py
Due: backend_change

Lint fix
  package/features/steps/lower_requirements.txt
  package/kedro_viz/autoreload_file_filter.py
  package/tests/test_autoreload_file_filter.py
Due: backend_change

Add `kedro` to 3rd party imports of `package`
  package/ruff.toml
Due: backend_change
