Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Update share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Update conf.py
  docs/source/conf.py
Due: frontend_change

Update layout.html
  docs/source/_templates/layout.html
Due: frontend_change

Update Shareable Viz docs with sections on creating access key and billing. (#1631)
  docs/source/images/kedro_viz_share_credentials1.png
  docs/source/images/kedro_viz_share_credentials2.png
  docs/source/images/kedro_viz_share_credentials3.png
  docs/source/images/kedro_viz_share_credentials4.png
  docs/source/share_kedro_viz.md
Due: frontend_change

Fix for Circle CI build fails
  package-lock.json
  package.json
  src/components/node-list/node-list-tree-item.js
  src/components/node-list/node-list-tree.js
Due: frontend_change

upgrade fastapi and test
  package/features/steps/lower_requirements.txt
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change

upgrade pydantic to accomodate fastapi
  package/features/steps/lower_requirements.txt
Due: backend_change

Price histogram data restored (#1630)
  demo-project/data/08_reporting/price_histogram.json/2022-04-24T21.03.25.671Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-08-24T21.04.31.605Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-09-05T12.27.04.496Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-09-28T13.46.31.462Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-10-05T12.22.35.825Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-12-24T21.05.59.296Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2023-11-08T11.44.01.051Z/price_histogram.json
  package-lock.json
  package.json
  src/components/node-list/node-list-tree-item.js
  src/components/node-list/node-list-tree.js
Due: frontend_change

Update docs/source/conf.py
  docs/source/conf.py
Due: frontend_change

Update docs/source/preview_datasets.md
  docs/source/preview_datasets.md
Due: frontend_change

Update docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_matplotlib.md
Due: frontend_change

Update docs/source/visualise_charts_with_plotly.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

Suggested variable removal
  docs/source/conf.py
Due: frontend_change

Fix links
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

Revise Viz docs content to add intersphinx linking (#1628)
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/experiment_tracking.md
  docs/source/images/kedro_viz_share_credentials1.png
  docs/source/images/kedro_viz_share_credentials2.png
  docs/source/images/kedro_viz_share_credentials3.png
  docs/source/images/kedro_viz_share_credentials4.png
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  docs/source/kedro_logo.svg
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

pin lowerbound pydantic version
  package/features/steps/lower_requirements.txt
Due: backend_change

create base class for tag and registered pipeline
  package/kedro_viz/models/flowchart.py
Due: backend_change

add release note
  RELEASE.md
Due: frontend_change

Refactor Flowchart models from dataclass to pydantic base models (#1565)
  RELEASE.md
  package/.pylintrc
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/mypy.ini
  package/test_requirements.txt
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change, frontend_change

lint fix
  package/kedro_viz/models/flowchart.py
Due: backend_change

fixed
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/wrapper/wrapper.js
Due: frontend_change

add release notes
  RELEASE.md
Due: frontend_change

fix shareable viz
  package/kedro_viz/models/flowchart.py
Due: backend_change

Upgrade to React 18
  package-lock.json
  package.json
  src/components/experiment-tracking/accordion/accordion.test.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.test.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.test.js
  src/components/node-list/node-list-tree.js
  src/components/ui/search-bar/search-bar.test.js
  src/components/ui/search-bar/search-input/search-input.test.js
  src/components/ui/switch/switch.test.js
  src/index.js
  src/setupTests.js
  tools/test-lib/react-app/app.test.js
  tools/test-lib/react-app/package.json
Due: frontend_change

update earliest kedro version to 0.18.3
  package/features/viz.feature
Due: backend_change

Fix shareable viz issue with dataclass refactor (#1640)
  package/features/viz.feature
  package/kedro_viz/models/flowchart.py
Due: backend_change

address PR comments
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

modify release note
  RELEASE.md
Due: frontend_change

add deprecation warning for cli
  package/kedro_viz/launchers/cli.py
Due: backend_change

update pytest
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

fix tests
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
Due: frontend_change

Make shareable URL modal open globally across the app. (#1639)
  RELEASE.md
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/wrapper/wrapper.js
Due: frontend_change

Bump FAST API upper bounds (#1634)
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

Broken test cases fixed
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
  src/setupTests.js
  tools/test-lib/react-app/package.json
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
