Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

fix lint
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

temp pinning kedro in ci to 19
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

fix test coverage
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

fixes based on reviews
  .github/actions/install_kedro_and_python_dependencies/action.yml
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/utils.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
Due: backend_change, frontend_change

fix typo
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

fix docs
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

fix test coverage
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

last few fixes
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

Run status: Hook implementation to generate and store run data (#2328)
  .github/actions/install_kedro_and_python_dependencies/action.yml
  demo-project/.viz/kedro_pipeline_events.json
  docs/source/kedro-viz_visualisation.md
  package/features/viz.feature
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/pyproject.toml
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change, frontend_change

Run status: Process Raw data and prepare the response (#2350)
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/constants.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_launchers/test_utils.py
  package/tests/test_utils.py
Due: backend_change

remove unused files
  src/reducers/status.js
  src/selectors/status.js
Due: frontend_change

doc test fix
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Run status: Set run data into redux store (#2351)
  src/actions/run-status.js
  src/components/app/app.js
  src/reducers/index.js
  src/reducers/run-status.js
  src/selectors/run-status.js
  src/store/initial-state.js
  src/store/normalize-run-data.js
Due: frontend_change

removed files that are not related to this PR
  src/actions/run-status.js
  src/selectors/run-status.js
  src/utils/normalizeRunStatus.js
Due: frontend_change

Reset the state for workflow view
  src/actions/index.js
  src/components/flowchart-route-wrapper/flowchart-route-wrapper.js
  src/components/flowchart-route-wrapper/index.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/workflow-route-wrapper/index.js
  src/components/workflow-route-wrapper/workflow-route-wrapper.js
  src/components/wrapper/wrapper.js
  src/reducers/index.js
  src/reducers/reset-state-for-workflow-view.js
Due: frontend_change

works as expected
  src/components/run-status-notification/run-status-notification.js
  src/components/workflow/workflow.js
Due: frontend_change

update conflicts
  src/components/draw/draw-nodes.js
  src/components/run-status-notification/run-status-notification.js
  src/components/workflow/workflow.js
Due: frontend_change

fix the light theme for notification
  src/components/run-status-notification/run-status-notification.scss
Due: frontend_change

update icons
  src/components/icons/failure.js
  src/components/icons/success.js
Due: frontend_change

to ensure its lower key first before mapping
  src/components/run-status-notification/run-status-notification.js
Due: frontend_change

update mock data for all green
  src/utils/run-status-mock-data/working-all-green.js
Due: frontend_change

remove toSelectedPipeline and toSelectedNodes in WorkFlow
  src/components/workflow/workflow.js
Due: frontend_change

styling for when metadata panel is visible
  src/components/run-status-notification/run-status-notification.js
  src/components/run-status-notification/run-status-notification.scss
  src/components/workflow/workflow.js
Due: frontend_change

test kedro viz run with DataCatalog1.0, KedroDataCatalog, DataCatalog2.0 success
  demo-project/src/demo_project/pipelines/reporting/image_utils.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change, frontend_change

formatTimestamp
  src/components/workflow/workflow-utils/format.js
  src/components/workflow/workflow.js
Due: frontend_change

update format util and add tests
  src/components/workflow/workflow-utils/format.js
  src/components/workflow/workflow-utils/format.test.js
Due: frontend_change

update comment
  src/components/draw/draw-nodes.js
Due: frontend_change

update docs to stable to avoid broken links
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

cleanup
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

fix lint and tests
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

fix lint and tests
  .github/workflows/lint.yml
Due: frontend_change

update mock data to be sucess
  src/components/run-status-notification/run-status-notification.js
  src/utils/run-status-mock-data/working-all-green.js
Due: frontend_change

specific timezone UTC in formatTimestamp
  src/components/workflow/workflow-utils/format.js
  src/components/workflow/workflow-utils/format.test.js
Due: frontend_change

keep 2 point decimal
  src/components/workflow/workflow-utils/format.js
  src/components/workflow/workflow-utils/format.test.js
Due: frontend_change

remove react from wrapper
  src/components/workflow-wrapper/workflow-wrapper.js
Due: frontend_change

Staging/run status notification (#2389)
  docs/source/kedro-viz_visualisation.md
  src/components/draw/draw-nodes.js
  src/components/icons/failure.js
  src/components/icons/success.js
  src/components/run-status-notification/run-status-notification.js
  src/components/run-status-notification/run-status-notification.scss
  src/components/workflow-wrapper/workflow-wrapper.js
  src/components/workflow/workflow-utils/format.js
  src/components/workflow/workflow-utils/format.test.js
  src/components/workflow/workflow.js
  src/utils/run-status-mock-data/working-all-green.js
Due: frontend_change

fixed issue with expand pipelines
  src/actions/index.js
  src/components/global-toolbar/global-toolbar.js
  src/reducers/index.js
  src/reducers/modular-pipelines.js
  src/reducers/reset-state-for-workflow-view.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
