Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Migrate to React 18 (#1652)
  RELEASE.md
  package-lock.json
  package.json
  src/components/experiment-tracking/accordion/accordion.test.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.test.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.test.js
  src/components/node-list/node-list-tree.js
  src/components/ui/search-bar/search-bar.test.js
  src/components/ui/search-bar/search-input/search-input.test.js
  src/components/ui/switch/switch.test.js
  src/index.js
  src/setupTests.js
  tools/test-lib/react-app/app.test.js
  tools/test-lib/react-app/package.json
  tools/test-lib/react-app/webpack.config.js
Due: frontend_change

initial draft fix with failing pytests
  package/tests/conftest.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

update e2e starter project
  package/features/viz.feature
Due: backend_change

fix metadata timestamp for shareableviz (#1679)
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/wrapper/wrapper.js
Due: frontend_change

update starter to a common project for kedro18 and kedro19
  package/features/viz.feature
Due: backend_change

fix lint issues
  demo-project/pyproject.toml
  demo-project/src/demo_project/extras/datasets/image_dataset.py
  demo-project/src/docker_requirements.txt
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change, frontend_change

fix lint
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/models/experiment_tracking.py
Due: backend_change

adjust requirements path
  package/features/steps/cli_steps.py
Due: backend_change

fix e2e tests
  package/features/environment.py
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

fix e2e req path
  package/features/environment.py
  package/features/steps/cli_steps.py
Due: backend_change

remove try imports from tests
  demo-project/src/demo_project/cli.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change, frontend_change

add older version comments
  package/kedro_viz/models/experiment_tracking.py
  package/tests/conftest.py
Due: backend_change

fix pytest with task node id change and no layer
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

add timeout for flaky cypress test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

Cypress test fix
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

add layers back
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

fix lint
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

added support for Kedro 0.18.x
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

add defaultCommandTImeout
  cypress.config.js
Due: frontend_change

update datasets to 2.0 on demo-project
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

fix reqs
  package/test_requirements.txt
Due: backend_change

fix version for datasets
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

datasets to <=2.0
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

fix-tests-for-datasets-2.0
  package/tests/test_api/test_graphql/conftest.py
Due: backend_change

Support for Kedro 19 (#1680)
  cypress.config.js
  demo-project/pyproject.toml
  demo-project/src/demo_project/cli.py
  demo-project/src/demo_project/extras/datasets/image_dataset.py
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/test_requirements.txt
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change, frontend_change

Fix bug on `kedro viz --load-file` (#1677)
  README.md
  docs/source/kedro-viz_visualisation.md
  package/kedro_viz/server.py
Due: backend_change, frontend_change

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

fix based on reviews
  CONTRIBUTING.md
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change, frontend_change

typo in docs
  docs/source/share_kedro_viz.md
Due: frontend_change

AWS focussed CLI implementation for Shareable Viz (#1661)
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/source/share_kedro_viz.md
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change, frontend_change

fixed
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/base/catalog_02_int.yml
  demo-project/conf/base/catalog_03_prm.yml
  demo-project/conf/base/catalog_04_feature.yml
  demo-project/conf/base/catalog_05_model_input.yml
  demo-project/conf/base/catalog_06_models.yml
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/conf/base/catalog_09_tracking.yml
  demo-project/src/demo_project/extras/datasets/image_dataset.py
Due: frontend_change

fix reqs and remove unwanted reqs
  demo-project/src/demo_project/pipelines/data_ingestion/requirements.txt
  demo-project/src/demo_project/pipelines/feature_engineering/requirements.txt
  demo-project/src/demo_project/pipelines/modelling/requirements.txt
  demo-project/src/demo_project/pipelines/reporting/requirements.txt
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

Fix demo-project to work with kedro-datasets 2.0 (#1683)
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/base/catalog_02_int.yml
  demo-project/conf/base/catalog_03_prm.yml
  demo-project/conf/base/catalog_04_feature.yml
  demo-project/conf/base/catalog_05_model_input.yml
  demo-project/conf/base/catalog_06_models.yml
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/conf/base/catalog_09_tracking.yml
  demo-project/src/demo_project/extras/datasets/image_dataset.py
  demo-project/src/demo_project/pipelines/data_ingestion/requirements.txt
  demo-project/src/demo_project/pipelines/feature_engineering/requirements.txt
  demo-project/src/demo_project/pipelines/modelling/requirements.txt
  demo-project/src/demo_project/pipelines/reporting/requirements.txt
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

release ready
  RELEASE.md
  demo-project/lightsail.json
Due: frontend_change

release version update
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

update highlights
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

v7.0.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release
  RELEASE.md
  demo-project/lightsail.json
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

update e2e longer
  package/features/steps/cli_steps.py
Due: backend_change
