Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Compare live and adapter
  inspection-adapter-tickets/compare_live_vs_adapter.py
Due: frontend_change

Phase 3 (step 1): slim metadata-node builder + parity proof (additive)
  package/kedro_viz/data_access/managers.py
  package/tests/test_inspection_adapter/test_metadata_node_index.py
Due: backend_change

Phase 4: delete the live graph engine; adapter is the only graph path
  inspection-adapter-tickets/phase4_deletion_decisions.md
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/__init__.py
  package/kedro_viz/data_access/repositories/graph.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_data_provider.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_registered_pipelines.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_graph_shape.py
  package/tests/test_inspection_adapter/test_metadata_node_index.py
  package/tests/test_inspection_adapter/test_runtime_params.py
  package/tests/test_integrations/test_notebook_visualizer.py
  package/tests/test_server.py
Due: backend_change, frontend_change

Phase 4 follow-ups: --lite --params builds the adapter with lite stubs; fix stale tooling/docs
  inspection-adapter-tickets/ARCHITECTURE.md
  inspection-adapter-tickets/FRONTEND_HANDOFF.md
  inspection-adapter-tickets/compare_live_vs_adapter.py
  package/kedro_viz/server.py
  package/tests/test_server.py
Due: backend_change, frontend_change

Docs/comments: sync the inspection-adapter docs to the post-Phase-4 (adapter-only) state
  INSPECTION_ADAPTER_PLAN.md
  inspection-adapter-tickets/ARCHITECTURE.md
  inspection-adapter-tickets/FRONTEND_HANDOFF.md
  inspection-adapter-tickets/README.md
  inspection-adapter-tickets/backend_v2_adoption_plan.md
  inspection-adapter-tickets/phase1_params_test_plan.md
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  progress.md
Due: backend_change, frontend_change

Phase 5: slim the flowchart models — remove domain models the deleted engine left dead
  package/kedro_viz/models/flowchart/edge.py
  package/kedro_viz/models/flowchart/named_entities.py
  package/kedro_viz/models/flowchart/nodes.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_models/test_flowchart/test_pipeline.py
Due: backend_change

Phase 5 (cont.): remove the dead Tag / TagsRepository (write-only after the deletion)
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/__init__.py
  package/kedro_viz/data_access/repositories/tags.py
  package/kedro_viz/models/flowchart/named_entities.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

Foundations: snapshot loader, node-ID scheme, parity harness (#2655)
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/__init__.py
  package/tests/test_inspection_adapter/baseline/main.json
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/baseline/pipelines/__default__.json
  package/tests/test_inspection_adapter/baseline/pipelines/data_ingestion.json
  package/tests/test_inspection_adapter/baseline/pipelines/feature_engineering.json
  package/tests/test_inspection_adapter/baseline/pipelines/modelling_stage.json
  package/tests/test_inspection_adapter/baseline/pipelines/pre_modelling.json
  package/tests/test_inspection_adapter/baseline/pipelines/reporting_stage.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/conftest.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

docs: add PR-stack log + persist issue-update drafts (backend-v2 rollout tracking)
  inspection-adapter-tickets/PR_STACK_LOG.md
  inspection-adapter-tickets/issue-updates/issue-2655-foundations.md
  inspection-adapter-tickets/issue-updates/issue-2659-runtime-and-delete.md
  inspection-adapter-tickets/issue-updates/issue-2660-id-lockstep.md
  inspection-adapter-tickets/issue-updates/issue-2661-lite-mode.md
  inspection-adapter-tickets/issue-updates/issue-new-params-overlay.md
  inspection-adapter-tickets/issue-updates/issue-new-slim-models.md
Due: frontend_change

Mark the parity-baseline fixtures as generated (.gitattributes)
  .gitattributes
Due: frontend_change

docs(PR-stack log): add branch sync & drift-control section
  inspection-adapter-tickets/PR_STACK_LOG.md
Due: frontend_change

fix(foundation): regenerate stale node-id baseline and guard it
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_ids.py
Due: backend_change

refactor(foundation): tighten docstrings and harden the ID tests
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

docs(foundation): conform docstrings to the kedro-viz house style
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

More docstring cleanup
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/conftest.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

refactor(foundation): address review feedback (trim surface, rename, contract test)
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

refactor(foundation): require kedro>=1.4, drop the inspection-availability check
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/requirements.txt
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

test(foundation): cover the config-loader path to reach 100%
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Code review fixes
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Tighten node re-measure comments; drop stale web-font wording
  src/actions/index.js
  src/components/flowchart/flowchart.jsx
  src/components/workflow/workflow.jsx
  src/reducers/index.js
  src/selectors/nodes.js
  src/utils/node-remeasure.js
Due: frontend_change

Remove merging part
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

babel-systemjs-override for the CI fix
  tools/test-lib/react-app/jest.setup.js
  tools/test-lib/react-app/package.json
Due: frontend_change

Rename InspectionSession
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

preview(graph): phase-2 main-graph builder off foundation (throwaway)
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_shape.py
Due: backend_change

draft approaches
  package/kedro_viz/docs/snapshot_node_source_approaches.md
Due: backend_change

Clarify node re-measure comments per review
  src/reducers/index.js
  src/utils/node-remeasure.js
Due: frontend_change

Add documentation for Kedro snapshot source code approaches
  package/kedro_viz/docs/snapshot_node_source_approaches_updated.md
Due: backend_change

Update snapshot_node_source_approaches_updated.md
  package/kedro_viz/docs/snapshot_node_source_approaches_updated.md
Due: backend_change

Foundations: snapshot loader, node-ID scheme, parity harness (#2689)
  .gitattributes
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/requirements.txt
  package/tests/test_inspection_adapter/__init__.py
  package/tests/test_inspection_adapter/baseline/main.json
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/baseline/pipelines/__default__.json
  package/tests/test_inspection_adapter/baseline/pipelines/data_ingestion.json
  package/tests/test_inspection_adapter/baseline/pipelines/feature_engineering.json
  package/tests/test_inspection_adapter/baseline/pipelines/modelling_stage.json
  package/tests/test_inspection_adapter/baseline/pipelines/pre_modelling.json
  package/tests/test_inspection_adapter/baseline/pipelines/reporting_stage.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/conftest.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change, frontend_change

Graph builder: main graph from the inspection snapshot
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_shape.py
Due: backend_change

Graph builder: aggregate node tags globally across pipelines
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Comment updated
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
Due: backend_change

Test updated
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_shape.py
Due: backend_change

Sync draft to reviewed foundation API and fold in graph-builder fixes
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_export.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_shape.py
  package/tests/test_inspection_adapter/test_id_lockstep.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_inspection_adapter_provider.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_metadata_bridge.py
  package/tests/test_inspection_adapter/test_provider_graph_enrichment.py
  package/tests/test_inspection_adapter/test_router_flag_on.py
  package/tests/test_inspection_adapter/test_runtime_params.py
  package/tests/test_inspection_adapter/test_runtime_params_catalog.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

transcoded dataset fixes
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Approach 1 spike: serve node code/filepath from the snapshot source location
  package/kedro_viz/api/inspection_adapter_provider.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_metadata_bridge.py
Due: backend_change

Approach 1 spike: reconstruct the live task-node ID from snapshot func_name
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_id_lockstep.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_metadata_bridge.py
  package/tests/test_inspection_adapter/test_provider_graph_enrichment.py
Due: backend_change

Code review suggestions
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Add unit tests for positionLayerNames util (review feedback)
  src/components/draw/utils/position-layer-names.test.js
Due: frontend_change

Fix layer labels overlapping in the top-left corner on first load. (#2685)
  src/components/draw/draw-layer-names.jsx
  src/components/draw/utils/position-layer-names.js
  src/components/draw/utils/position-layer-names.test.js
  src/components/flowchart/flowchart.jsx
  src/components/workflow/workflow.jsx
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
