Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Add official support for python 3.14
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/docs-only-checks.yml
  .gitignore
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change, frontend_change

Release note
  RELEASE.md
Due: frontend_change

Add official support for python 3.14. (#2637)
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/docs-only-checks.yml
  .gitignore
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change, frontend_change

fix(security): template variable injection into inline javascript (#2619)
  public/telemetry.html
Due: frontend_change

Add CMP script to Kedro-Viz docs
  docs/overrides/partials/copyright-legal-socials.html
  docs/stylesheets/footer.css
  mkdocs.yml
Due: frontend_change

Update release.md
  RELEASE.md
Due: frontend_change

v12.4.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

v12.4.0
  esm/kedro-viz.mjs
Due: frontend_change

fix(tests): make heap mocks JSON-serializable in base deployer test
  package/tests/test_integrations/test_base_deployer.py
Due: backend_change

Add CMP script to Kedro-Viz docs (#2643)
  docs/overrides/partials/copyright-legal-socials.html
  docs/stylesheets/footer.css
  mkdocs.yml
Due: frontend_change

fix(tests): make heap mocks JSON-serializable in base deployer test (#2645)
  package/tests/test_integrations/test_base_deployer.py
Due: backend_change

CI Fix: encoding issue for ✨ for Python 3.14 and Windows
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

Temp workflow change to run windows test
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Fix stdout encoding
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

Revert workflow changes
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

CI Fix: encoding issue for ✨ with Python 3.14 and Windows. (#2662)
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

Release note updated
  RELEASE.md
Due: frontend_change

Release v12.4.0 (#2644)
  RELEASE.md
  demo-project/.version
  esm/kedro-viz.mjs
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Address review feedback: cleanup, fixes, and tests
  AI_PYTHON_REVIEW_REPORT.md
  demo-project/.viz/kedro_pipeline_events copy.json
  demo-project/.viz/kedro_pipeline_events.json
  demo-project/.viz/stats.json
  demo-project/data/08_reporting/cancellation_breakdown.json
  demo-project/data/08_reporting/cancellation_policy_grid.png
  demo-project/data/08_reporting/confusion_matrix.png/2026-05-28T12.52.24.875Z/confusion_matrix.png
  demo-project/data/08_reporting/feature_importance_plot.json/2026-05-28T12.52.24.875Z/feature_importance_plot.json
  demo-project/data/08_reporting/price_histogram.json/2026-05-28T12.52.24.875Z/price_histogram.json
  demo-project/data/08_reporting/top_shuttle_data.json
  demo-project/pyproject.toml
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_api/test_data_provider.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_server.py
Due: backend_change, frontend_change

Step 1 / Phase 7: drop the KEDRO_VIZ_INSPECTION_ADAPTER opt-out env var
  inspection-adapter-tickets/FRONTEND_HANDOFF.md
  inspection-adapter-tickets/README.md
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/server.py
  package/tests/test_api/test_data_provider.py
  package/tests/test_inspection_adapter/test_id_lockstep.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_metadata_bridge.py
  package/tests/test_inspection_adapter/test_router_flag_on.py
  package/tests/test_server.py
  progress.md
Due: backend_change, frontend_change

More cleanup and fixes
  inspection-adapter-tickets/ARCHITECTURE.md
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_export.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_provider_graph_enrichment.py
Due: backend_change, frontend_change

Step 2 / Phase 7: reclassify the live backend as the --params path (D18)
  inspection-adapter-tickets/ARCHITECTURE.md
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/server.py
  package/tests/test_server.py
  progress.md
Due: backend_change, frontend_change

Path B: adapter-lite serves the no-deps case via LiteParser stubbing (D19)
  inspection-adapter-tickets/ARCHITECTURE.md
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_server.py
  progress.md
Due: backend_change, frontend_change

Review fixes: decision tags out of code, node_ids SoT, typing, docstrings
  RELEASE.md
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/kedro_viz/server.py
  progress.md
Due: backend_change, frontend_change

Move modular-edge + cycle-removal out of GraphBuilder into modular_pipelines
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  progress.md
Due: backend_change, frontend_change

Docs: make feature docstrings brief and remove plan/phase references
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/node_ids.py
Due: backend_change

Cleanup
  AI_PYTHON_REVIEW_REPORT.md
Due: frontend_change

Potential DOM XSS via unsafe HTML insertion in row labels
  src/components/ui/row-text/row-text.jsx
  src/components/ui/row-text/row-text.test.jsx
  src/utils/index.js
  src/utils/utils.test.jsx
Due: frontend_change

Fix test description formatting in RowText test
  src/components/ui/row-text/row-text.test.jsx
Due: frontend_change

security: resolve open Dependabot critical/high/medium alerts via overrides (#2673)
  package-lock.json
  package.json
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

Security: Potential DOM XSS via unsafe HTML insertion in row labels (#2669)
  src/components/ui/row-text/row-text.jsx
  src/components/ui/row-text/row-text.test.jsx
  src/utils/index.js
  src/utils/utils.test.jsx
Due: frontend_change

add draft plan
  backend_v2_rearchitecture_plan.md
Due: frontend_change

refactor
  RELEASE.md
  inspection-adapter-tickets/FRONTEND_HANDOFF.md
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_metadata_bridge.py
  package/tests/test_inspection_adapter/test_provider_graph_enrichment.py
  progress.md
Due: backend_change, frontend_change

Docs: backend-v2 adoption plan + Phase 1 --params test plan
  inspection-adapter-tickets/backend_v2_adoption_plan.md
  inspection-adapter-tickets/phase1_params_test_plan.md
Due: frontend_change

Phase 1: --params via config-loader overlay (spike, no deletion)
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_provider_graph_enrichment.py
  package/tests/test_inspection_adapter/test_runtime_params.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Phase 1 fix: parameter-node metadata matches live shape + parity tests
  package/kedro_viz/api/inspection_adapter_provider.py
  package/tests/test_inspection_adapter/test_runtime_params.py
Due: backend_change

Phase 1 gates: --params topology invariance + catalog-templating boundary
  package/tests/test_inspection_adapter/test_runtime_params.py
  package/tests/test_inspection_adapter/test_runtime_params_catalog.py
Due: backend_change

Phase 1: correct topology comment, add blind-spots demo, record gate findings
  inspection-adapter-tickets/backend_v2_adoption_plan.md
  inspection-adapter-tickets/blind_spots_demo.py
  package/tests/test_inspection_adapter/test_runtime_params.py
Due: backend_change, frontend_change

Phase 2: route --params through the adapter (keep the live load for the bridge)
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/test_router_flag_on.py
  package/tests/test_server.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
