Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Clear to Reset
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/node-list/node-list.test.js
  src/components/node-list/styles/_section.scss
Due: frontend_change

Release note & retain qparams updated
  RELEASE.md
  src/config.js
Due: frontend_change

changes based on review
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
Due: frontend_change

Update metadata.js
  src/components/metadata/metadata.js
Due: frontend_change

Remove demo data source and update feature hints (#1804)
  RELEASE.md
  package/tests/test_launchers/test_cli.py
  src/components/feature-hints/feature-hints-content.js
  src/utils/data-source.js
Due: backend_change, frontend_change

add reactmarkdown
  src/components/update-reminder/update-reminder.js
Due: frontend_change

Update package.json
  package.json
Due: frontend_change

still WIP
  demo-project/conf/base/catalog_01_raw.yml
  package/kedro_viz/integrations/kedro/data_loader.py
  src/actions/filters.js
  src/actions/nodes.js
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/node-list/index.js
  src/components/node-list/node-list-groups.js
  src/components/node-list/node-list.js
  src/reducers/filters.js
  src/reducers/index.js
  src/selectors/disabled.js
  src/selectors/linked-nodes.js
  src/store/normalize-data.js
Due: backend_change, frontend_change

changes based on review
  src/components/metadata/metadata.js
Due: frontend_change

fixes
  src/store/initial-state.js
Due: frontend_change

almost done
  src/store/initial-state.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

initial draft
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_gcp_deployer.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

add release note and update readme
  README.md
  RELEASE.md
Due: frontend_change

add feature hints file to secret scan ignore list
  trufflehog-ignore.txt
Due: frontend_change

temp add for toposort dep
  package/requirements.txt
Due: backend_change

add initial draft
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_gcp_deployer.py
  package/tests/test_server.py
Due: backend_change

update release note
  RELEASE.md
Due: frontend_change

Fix CircleCI build failure due to secret scan and missing toposort dependency (#1819)
  package/requirements.txt
  trufflehog-ignore.txt
Due: backend_change, frontend_change

change to markdown-it
  package.json
  src/components/update-reminder/update-reminder.js
Due: frontend_change

ignore protected access lint
  package/kedro_viz/data_access/managers.py
Due: backend_change

resolve posix path warning
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change, frontend_change

Add JSONDataset preview support (#1800)
  RELEASE.md
  src/components/json-object/json-object.js
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata-modal/metadata-modal.scss
  src/components/metadata/metadata.js
  src/components/metadata/styles/metadata.scss
Due: frontend_change

add simple backtick replace with codeblock
  package.json
  src/components/update-reminder/update-reminder.js
Due: frontend_change

wip
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/selectors/disabled.js
  src/selectors/linked-nodes.js
Due: frontend_change

missing nodeTypes added
  src/store/initial-state.js
Due: frontend_change

URL Params handling moved to user-generated-pathname.js
  src/components/node-list/index.js
  src/utils/hooks/use-generate-pathname.js
Due: frontend_change

Review suggestion added
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/config.js
  src/utils/hooks/use-generate-pathname.js
Due: frontend_change

getKeysByValue moved
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/utils/get-key-by-value.js
  src/utils/get-key-by-value.test.js
  src/utils/get-keys-by-value.js
  src/utils/object-utils.js
  src/utils/object-utils.test.js
Due: frontend_change

updateStateWithFilters renamed
  src/store/normalize-data.js
Due: frontend_change

resolve PR comments
  README.md
  package/kedro_viz/launchers/cli.py
Due: backend_change, frontend_change

sync help text
  README.md
  package/kedro_viz/launchers/cli.py
Due: backend_change, frontend_change

debug draft
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

move configure project before kedro integration
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
Due: backend_change

revert debugging
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

Add markdown support for version reminders (#1826)
  RELEASE.md
  src/components/update-reminder/update-reminder.js
Due: frontend_change

Reset button status check removed
  cypress/tests/ui/flowchart/menu.cy.js
  src/components/node-list/index.js
  src/components/node-list/node-list.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
