Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

link to a different branch
  package/setup.py
Due: backend_change

include favicon in kedro-viz
  demo-project/pyproject.toml
  docs/source/conf.py
Due: frontend_change

remove favicon setting from kedro-viz doc
  demo-project/pyproject.toml
  docs/source/conf.py
Due: frontend_change

test the build
  docs/source/conf.py
Due: frontend_change

rebuild
  docs/source/conf.py
Due: frontend_change

partially working parser - WIP
  .gitignore
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/parser.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change, frontend_change

add favicon to kedro-viz
  demo-project/pyproject.toml
  docs/source/conf.py
Due: frontend_change

isPrettyName set default to false
  src/config.js
Due: frontend_change

add favicon to kedro-viz directly
  docs/source/conf.py
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

test with changes from sphinx-theme
  package/setup.py
Due: backend_change

revert back to normal sphinx-theme
  package/setup.py
Due: backend_change

Add favicon to kedro-viz documentation (#1959)
  RELEASE.md
  docs/source/conf.py
Due: frontend_change

Restoring existing README.md to root
  .github/README.md
  .github/workflows/release.yml
  README.md
  README.npm.md
  package/setup.py
Due: backend_change, frontend_change

debug
  tools/test-lib/react-app/app.test.js
Due: frontend_change

Update config.js
  src/config.js
Due: frontend_change

Update app.test.js
  tools/test-lib/react-app/app.test.js
Due: frontend_change

added "-p" cli option to match `kedro` pipeline options fixed ann anchor in CONTRIBUTING.md Signed-off-by: Vlad Cozma <vlad@cozma.online>
  CONTRIBUTING.md
  README.md
  RELEASE.md
  package/kedro_viz/launchers/cli.py
Due: backend_change, frontend_change

added command options to cli test
  package/tests/test_launchers/test_cli.py
Due: backend_change

works
  src/components/container/container.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

sidebar display
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

address PR comments2
  package/kedro_viz/data_access/managers.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

partial working commit
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/parser.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

Code review suggestion
  README.md
  README.npm.md
Due: frontend_change

Update Packaging Pin to >=23.0 (#1953)
  RELEASE.md
  package/requirements.txt
Due: backend_change, frontend_change

preview removed
  README.npm.md
Due: frontend_change

metadataPanel prop added
  src/components/app/app.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/flowchart/flowchart.js
  src/store/initial-state.js
Due: frontend_change

test fix
  src/components/flowchart/flowchart.test.js
Due: frontend_change

Release note added
  RELEASE.md
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

improve pytest readability
  package/tests/conftest.py
  package/tests/test_api/expected_modular_pipeline_tree_for_edge_cases
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/expected_tree_for_edge_cases
  package/tests/test_data_access/test_managers.py
Due: backend_change

updated tests for readability
  package/tests/conftest.py
  package/tests/test_api/expected_modular_pipeline_tree_for_edge_cases
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

updated tests for readability
  package/tests/test_data_access/expected_tree_for_edge_cases
  package/tests/test_data_access/test_managers.py
Due: backend_change

added unit tests to mod-pipeline-repo :
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

adjust file permissions
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

add release notes
  RELEASE.md
  package/kedro_viz/launchers/cli.py
Due: backend_change, frontend_change

Refactor Namespace Pipelines (#1897)
  RELEASE.md
  cypress/tests/ui/flowchart/menu.cy.js
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/services/__init__.py
  package/kedro_viz/services/modular_pipelines.py
  package/kedro_viz/utils.py
  package/tests/conftest.py
  package/tests/test_api/expected_modular_pipeline_tree_for_edge_cases
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change, frontend_change
