Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Change to trigger circleci
  src/config.js
Due: frontend_change

Remove source maps from the Kedro-viz package (#1534)
  package.json
Due: frontend_change

shareable url modal UI fix
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/modal/modal.js
Due: frontend_change

Build error fix
  src/components/ui/dropdown/dropdown.js
  src/components/ui/modal/modal.js
Due: frontend_change

changes based on reviews
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

fix lint
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

shareable URL modal form validation fix
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

make lower requirements pydantic < v2 and code compatible
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/experiment_tracking.py
Due: backend_change

shareable URL modal UI Fixes (#1537)
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/modal/modal.js
Due: frontend_change

ignore mypy pydantic issues
  package/kedro_viz/api/rest/responses.py
Due: backend_change

fixes based on review
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
Due: backend_change

updated cli help definition
  package/kedro_viz/launchers/cli.py
Due: backend_change

update filpath to directory
  package/kedro_viz/api/rest/responses.py
Due: backend_change

add recursive tag inheritance
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

Add support for pydantic v2
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/rest/responses.py
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

linting
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Fix version in RELEASE
  RELEASE.md
Due: frontend_change

Add the first of the Cypress tests
  cypress/fixtures/mock/package-compatibilities-compatible.json
  cypress/fixtures/mock/package-compatibilities-incompatible.json
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

add s3 protocol in the backend
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

leftover from merge fix
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Shareable Kedro-viz backend implementation (#1498)
  .gitignore
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/api/rest/utils.py
  package/kedro_viz/data_access/repositories/graph.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/integrations/deployment/__init__.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_registered_pipelines.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_server.py
Due: backend_change, frontend_change

Remove redundant inherit_tags method
  package/kedro_viz/models/flowchart.py
Due: backend_change

lint
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

Add preliminary 'Switch' row to test changes with
  src/components/metadata/metadata.js
Due: frontend_change

E2E cypress test added for shareable
  cypress/fixtures/mock/deploySuccessResponse.json
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

fixed
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  src/selectors/nodes.js
  src/selectors/nodes.test.js
Due: frontend_change

Changing language from deploy to publish
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

add docstring and change name
  src/selectors/nodes.js
Due: frontend_change

fix tests
  src/selectors/nodes.test.js
Due: frontend_change

Update wording again; return a better error message to the FE; handle the error; move s3 bucket regions to config file
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  package/kedro_viz/api/rest/router.py
  src/components/global-toolbar/global-toolbar.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/config.js
Due: backend_change, frontend_change

Add go back button to error modal stategs
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Update tests; use fstrings; remove unused CSS
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  package/kedro_viz/api/rest/router.py
  src/components/flowchart-wrapper/flowchart-wrapper.scss
Due: backend_change, frontend_change

fix naming
  src/selectors/nodes.js
  src/selectors/nodes.test.js
Due: frontend_change

Renaming from "Deploy" to "Publish"
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

Code review changes added
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

debugging skip hooks
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
Due: backend_change

E2E cypress test for Shareable URL modal (#1543)
  cypress/fixtures/mock/deploySuccessResponse.json
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

fix cypress tests
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

initial draft to skip plugins
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/setup.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
