Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Compatibility message banner and text updated.
  src/components/experiment-tracking/details/details.js
  src/components/experiment-tracking/details/details.scss
Due: frontend_change

Banner text size updated
  src/components/experiment-tracking/details/details.scss
Due: frontend_change

Test fixes
  cypress/tests/ui/flowchart/flowchart.cy.js
  package/kedro_viz/api/rest/responses.py
Due: backend_change, frontend_change

fixed (#1773)
  demo-project/src/demo_project/cli.py
Due: frontend_change

Fixes for all Bugbash 8.0.0 findings (#1767)
  cypress/fixtures/mock/package-compatibilities-compatible.json
  cypress/fixtures/mock/package-compatibilities-incompatible.json
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  docs/source/experiment_tracking.md
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/constants.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  src/components/experiment-tracking/details/details.js
  src/components/experiment-tracking/details/details.scss
  src/components/experiment-wrapper/experiment-wrapper.js
  src/components/metadata-modal/metadata-modal.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/config.js
  src/utils/index.js
Due: backend_change, frontend_change

v8.0.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

initial release draft
  RELEASE.md
  demo-project/lightsail.json
  package-lock.json
Due: frontend_change

update reminder text
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

add AWS to reminder content
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

some changes
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

initial commit
  docs/source/images/run_viz_in_new_tab.png
  docs/source/images/run_viz_with_args.png
  docs/source/images/viz_running_in_new_tab.png
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

initial commit (#1782)
  docs/source/images/run_viz_in_new_tab.png
  docs/source/images/run_viz_with_args.png
  docs/source/images/viz_running_in_new_tab.png
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

add link to notebook docs
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

add more to release notes
  RELEASE.md
Due: frontend_change

Release v8.0.0 (#1781)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

santanas-pr
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

project_path update
  package/kedro_viz/server.py
Due: backend_change

fix lint and test
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix tests
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix lint and tests
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix lint
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

fixed
  package/kedro_viz/launchers/cli.py
Due: backend_change

remove unwanted PR changes
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

remove unwanted PR changes
  package/kedro_viz/server.py
Due: backend_change

fix tests and lint
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix lint
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix lint and tests
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

remove extra project_path
  package/kedro_viz/server.py
Due: backend_change

Compatibility/Support Matrix Update (#1774)
  README.md
  RELEASE.md
Due: frontend_change

fixed
  src/components/metadata/metadata.js
Due: frontend_change

remove unwanted code
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

add release note
  RELEASE.md
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

minor modification
  RELEASE.md
  src/components/metadata/metadata.js
Due: frontend_change

add already merged release note
  RELEASE.md
Due: frontend_change

Fix Kedro-Viz preview bug (#1794)
  RELEASE.md
  src/components/metadata/metadata.js
Due: frontend_change

v8.0.1
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
