Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Bypassing lint error to match hook signature
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Run events to run status change
  src/actions/run-status.js
  src/components/app/app.js
  src/selectors/run-status.js
  src/utils/normalizeRunStatus.js
Due: frontend_change

done
  src/components/app/app.test.js
  src/components/flowchart/flowchart.test.js
  src/components/metadata-modal/metadata-modal.test.js
  src/components/minimap/minimap.test.js
  src/components/nodes-panel/nodes-panel.test.js
  src/components/settings-modal/settings-modal.test.js
  src/components/wrapper/wrapper.test.js
  src/selectors/filtered-node-list-item.test.js
Due: frontend_change

Updating e2e test to 0.18.5 Kedro version
  package/features/viz.feature
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Updating e2e test to 0.18.5 Kedro version
  package/features/viz.feature
Due: backend_change

Static update reminder dot added
  src/components/global-toolbar/global-toolbar.js
  src/components/global-toolbar/global-toolbar.scss
Due: frontend_change

Constant added
  src/components/global-toolbar/global-toolbar.js
  src/components/pipeline-list/pipeline-list.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

Code review suggestion
  src/actions/index.js
  src/components/global-toolbar/global-toolbar.js
  src/components/wrapper/wrapper.js
  src/reducers/index.js
Due: frontend_change

Updating e2e test to 0.18.14 Kedro version
  package/features/viz.feature
Due: backend_change

Code review suggestions
  package/features/viz.feature
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

added missing flowchart tests
  RELEASE.md
  src/components/flowchart/flowchart.test.js
Due: frontend_change

remove unwanted
  src/components/icons/indicator-partial.js
Due: frontend_change

make lazylist test like
  src/components/lazy-list/lazy-list.test.js
Due: frontend_change

update test
  src/components/flowchart/flowchart.test.js
Due: frontend_change

use values from config file instead
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
Due: frontend_change

Test fix
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

Refactor draw.js (#2358)
  src/components/draw/draw-edges.js
  src/components/draw/draw-edges.test.js
  src/components/draw/draw-layer-names.js
  src/components/draw/draw-layer-names.test.js
  src/components/draw/draw-layers.js
  src/components/draw/draw-layers.test.js
  src/components/draw/draw-nodes.js
  src/components/draw/draw-nodes.test.js
  src/components/draw/graph-svg.js
  src/components/draw/index.js
  src/components/draw/styles/_edges.scss
  src/components/draw/styles/_layers.scss
  src/components/draw/styles/_node.scss
  src/components/draw/styles/_variables.scss
  src/components/draw/styles/flowchart.scss
  src/components/draw/utils/config.js
  src/components/draw/utils/draw-utils.js
  src/components/draw/utils/updateNodeRect.js
  src/components/draw/utils/updateParameterRect.js
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart-utils.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
  src/components/split-panel/split-panel.test.js
  src/utils/state.mock.js
Due: frontend_change

remove pages from .mkdocs
  mkdocs.yml
Due: frontend_change

include /en/latest in site_url
  mkdocs.yml
Due: frontend_change

simplify the URL for datasets
  mkdocs.yml
Due: frontend_change

Chore: Remove unused dependencies from package.json #2339
  package-lock.json
  package.json
Due: frontend_change

Release 11.0.2 (#2341)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

e2e tes fix
  package/features/steps/cli_steps.py
Due: backend_change

error object fix
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

Type fix
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Type annotations updated
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Class rename
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

Moved to response/utils.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/utils.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
  package/tests/test_utils.py
Due: backend_change

safe_int util removed
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
Due: backend_change

final testing
  demo-project/notebooks/customer_pipe.ipynb
  demo-project/notebooks/customer_pipe.py
Due: frontend_change

pipeline end event updated
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Node_id checked removed
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

apply new refactoring structure
  src/components/draw/draw-nodes.js
  src/components/draw/utils/renderNodeDetailsContainer.js
  src/components/draw/utils/updateNodeRect.js
  src/components/flowchart-copy/flowchart.js
  src/components/flowchart-copy/renderNodeDetailsContainer.js
  src/components/flowchart-copy/updateNodeRects.js
Due: frontend_change

remove old files
  src/components/draw/utils/renderNodeDetailsContainer.js
  src/components/flowchart-copy/renderNodeDetailsContainer.js
  src/components/flowchart-copy/updateNodeRects.js
Due: frontend_change
