Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

reverting changes to main
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

final change to extract release notes
  tools/github_actions/extract_release_notes.py
Due: frontend_change

update contributing guide
  CONTRIBUTING.md
  RELEASE.md
Due: frontend_change

modify Release doc
  RELEASE.md
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Resolve data set patterns in populate_data
  package/kedro_viz/server.py
Due: backend_change

Update demo-project catalog to use data set patterns
  demo-project/conf/base/catalog_09_tracking.yml
Due: frontend_change

Fix: Sidebar search width fix for longer text query (#1489)
  RELEASE.md
  src/components/ui/search-bar/search-input/search-input.scss
Due: frontend_change

Fix Safari blank page when clicking on modular pipelines (#1488)
  RELEASE.md
  src/components/flowchart/draw.js
Due: frontend_change

Organize imports according to the convention
  package/kedro_viz/server.py
Due: backend_change

Hide exp tracking and deploy button when not running Viz locally; remove WS/subscription code
  src/apollo/config.js
  src/apollo/subscriptions.js
  src/apollo/utils.js
  src/components/experiment-wrapper/experiment-wrapper.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/global-toolbar/global-toolbar.js
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: frontend_change

Fix DatasetNotFoundError import for older version of kedro
  package/kedro_viz/server.py
Due: backend_change

Add the beginnings of a /deploy REST endpoint
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
Due: backend_change

Fix for highlighting searched text irrespective of pretty text flag
  src/selectors/modular-pipelines.js
Due: frontend_change

Trying to send credentials to the backend
  package/kedro_viz/api/rest/router.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

Fix for sidebar search result based on Pretty name flag (#1485)
  RELEASE.md
  src/selectors/modular-pipelines.js
  src/selectors/nodes.js
  src/selectors/nodes.test.js
Due: frontend_change

v6.4.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Update release notes and update reminder content
  RELEASE.md
  demo-project/lightsail.json
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Reorganize imports
  package/kedro_viz/server.py
Due: backend_change

modify release guide and add release branch condition
  .github/workflows/check-release.yml
  CONTRIBUTING.md
Due: frontend_change

Release v6.4.0 (#1492)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

update responses
  package/kedro_viz/api/rest/responses.py
Due: backend_change

test
  .gitignore
  package/kedro_viz/api/apps.py
  package/kedro_viz/server.py
Due: backend_change, frontend_change

Fix to search for a '<lambda' Python function in the sidebar
  RELEASE.md
  src/components/node-list/node-list-row.js
  src/utils/index.js
  src/utils/utils.test.js
Due: frontend_change

Fix for failed test cases
  src/components/node-list/node-list-row.js
  src/utils/index.js
  src/utils/utils.test.js
Due: frontend_change

fix PR comments
  CONTRIBUTING.md
  tools/github_actions/extract_release_notes.py
Due: frontend_change

Update UI to remove unneeded fields
  package/kedro_viz/api/rest/router.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

Fix failing text
  src/components/shareable-url-modal/shareable-url-modal.test.js
Due: frontend_change

Automate Kedro-viz Release process (#1490)
  .github/workflows/check-release.yml
  CONTRIBUTING.md
  tools/github_actions/check_version.py
  tools/github_actions/extract_release_notes.py
Due: frontend_change

Workable Prototype
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/server.py
Due: backend_change

fix rebase
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/server.py
Due: backend_change

fixing stuff
  package/kedro_viz/api/rest/responses.py
Due: backend_change

add stats to data node
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

lint and format check fix
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
Due: backend_change

fix pytests
  package/kedro_viz/data_access/managers.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Successfully returning a 200 from /api/deploy endpoint
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

Variable name updated
  src/utils/index.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
