Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

release
  RELEASE.md
  demo-project/lightsail.json
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
Due: frontend_change

create new component for draw
  src/components/draw/draw-edges.js
  src/components/draw/draw-layer-names.js
  src/components/draw/draw-layers.js
  src/components/draw/draw-nodes.js
  src/components/flowchart/flowchart-utils.js
  src/components/flowchart/flowchart.js
Due: frontend_change

create index file to import all the components in draw
  src/components/draw/index.js
  src/components/flowchart/flowchart.js
Due: frontend_change

Release 11.0.2 (#2341)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

cretae new draw component and fix the layers issues
  src/components/draw/draw-layer-names.js
  src/components/draw/draw-layers.js
  src/components/draw/styles/_edges.scss
  src/components/draw/styles/_layers.scss
  src/components/draw/styles/_node.scss
  src/components/draw/styles/_variables.scss
  src/components/draw/styles/flowchart.scss
  src/components/flowchart/flowchart.js
Due: frontend_change

fix the layers not showing up issues
  src/components/flowchart/flowchart.js
Due: frontend_change

update group for nodes and edges
  src/components/draw/draw-edges.js
  src/components/draw/draw-nodes.js
  src/components/flowchart/flowchart.js
Due: frontend_change

adding callback for drawNodes
  src/components/draw/draw-nodes.js
  src/components/flowchart/flowchart.js
Due: frontend_change

combine groups inside layers and layersname
  src/components/draw/draw-layer-names.js
  src/components/draw/draw-layers.js
  src/components/draw/index.js
  src/components/flowchart/flowchart.js
Due: frontend_change

separate graphSVG to its own component
  src/components/draw/graph-svg.js
  src/components/draw/index.js
  src/components/flowchart/flowchart.js
Due: frontend_change

Code clean up 3
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  src/utils/run-status.js
Due: backend_change, frontend_change

hide text when hide text is on
  src/components/draw/draw-nodes.js
Due: frontend_change

renderNodeDetails draft
  src/components/flowchart/renderNodeDetails.js
Due: frontend_change

too much debugging
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

new set of mock data
  src/components/flowchart-copy/flowchart.js
  src/reducers/status.js
  src/selectors/status.js
  src/utils/run-status-mock-data/dataset-error.js
  src/utils/run-status-mock-data/fun-node-error.js
  src/utils/run-status-mock-data/working-all-green.js
Due: frontend_change

first draft to render the values
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/updateNodeRects.js
Due: frontend_change

clean-up
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

fix typo
  src/components/flowchart-copy/updateNodeRects.js
  src/utils/run-status-mock-data/fun-node-error.js
Due: frontend_change

Moved some utils
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

include more missing function in drawNodes, and moving all the logic outside drawNodes component
  src/components/draw/draw-nodes.js
  src/components/flowchart/flowchart.js
Due: frontend_change

Moved some utils 2
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/utils.py
Due: backend_change

Copy change
  package/kedro_viz/api/rest/router.py
Due: backend_change

done
  src/actions/index.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/workflow-wrapper/workflow-wrapper.js
  src/reducers/index.js
  src/selectors/layout.js
  src/store/initial-state.js
  src/utils/graph/graph.js
  src/utils/graph/index.js
  src/utils/graph/layout.js
Due: frontend_change

minor chnages
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_launchers/test_cli/test_run.py
  src/utils/graph/layout.js
Due: backend_change, frontend_change

change to workflow instead of ET
  src/components/wrapper/wrapper.js
Due: frontend_change

format utils for duration and size
  src/components/flowchart-copy/formatUtils.js
  src/components/flowchart-copy/updateNodeRects.js
Due: frontend_change

include status skip
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/styles/_node.scss
Due: frontend_change

update duration in mock data to test minute
  src/utils/run-status-mock-data/fun-node-error.js
Due: frontend_change

create util for creating node width
  src/components/flowchart-copy/updateNodeRects.js
Due: frontend_change

create getStatus utils for workflow
  src/components/flowchart-copy/updateNodeRects.js
  src/components/flowchart-copy/workflow-utils/format.js
  src/components/flowchart-copy/workflow-utils/getStatus.js
Due: frontend_change

getValueFillColor util function
  src/components/flowchart-copy/updateNodeRects.js
  src/components/flowchart-copy/workflow-utils/getColour.js
Due: frontend_change

remove duplicate code in draw.js
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/styles/_node.scss
Due: frontend_change

use status Cofig to get the status for each node
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/workflow-utils/getNodeStatusKey.js
  src/config.js
Due: frontend_change

move all the styling for workflow to a separate file
  src/components/flowchart-copy/styles/_node.scss
  src/components/flowchart-copy/styles/_workflow_node.scss
  src/components/flowchart-copy/styles/flowchart.scss
  src/components/flowchart-copy/updateNodeRects.js
  src/components/flowchart-copy/workflow-utils/getColour.js
Due: frontend_change

remove unused vars
  src/components/workflow-wrapper/workflow-wrapper.js
Due: frontend_change

Workflow tab related functionality
  src/actions/index.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/global-toolbar/global-toolbar.js
  src/components/pipeline-list/pipeline-list.js
  src/components/sidebar/sidebar.js
  src/components/wrapper/wrapper.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

using classnames to simplify the code
  src/components/draw/draw-nodes.js
Due: frontend_change

set config for duration
  src/components/draw/config.js
  src/components/draw/draw-nodes.js
Due: frontend_change

add transition for the edges
  src/components/draw/draw-edges.js
Due: frontend_change
