Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

fix failed e2e tests
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/flowchart/panel.cy.js
Due: frontend_change

adding transformX value for button
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
Due: frontend_change

add slice btn functionality
  src/actions/filters.js
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
  src/components/flowchart/flowchart.js
Due: frontend_change

remove unused props
  src/actions/filters.js
  src/components/app/app.test.js
  src/selectors/filtered-pipeline.test.js
  src/selectors/nodes.test.js
Due: frontend_change

fix console error where the same id applies twice
  src/components/node-list/node-list-tree-item.js
  src/components/node-list/node-list-tree.js
Due: frontend_change

Props updated
  README.npm.md
Due: frontend_change

changes based on review
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
  src/actions/index.js
  src/components/settings-modal/settings-modal.js
  src/reducers/index.js
  src/reducers/preferences.js
Due: backend_change, frontend_change

prevent resetting on onclick slice btn
  src/components/flowchart/flowchart.js
Due: frontend_change

kedro viz annotation updates
  .github/img/kedro_viz_annotation.png
Due: frontend_change

coverage
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

add tests
  package/tests/test_api/test_rest/test_router.py
  src/components/settings-modal/settings-modal.test.js
Due: backend_change, frontend_change

propTypes added
  src/components/app/app.js
Due: frontend_change

lint
  package/kedro_viz/api/rest/router.py
Due: backend_change

Adjust requirements file and dependabot versioning strategy (#1978)
  .github/dependabot.yml
  RELEASE.md
  package/requirements.txt
Due: backend_change, frontend_change

first working version of dilerting node list
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/node-list/node-list-tree.js
  src/selectors/nodes.js
Due: frontend_change

sporadic working needs testing
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Fix packaging (#1766)
  Makefile
  README.md
  RELEASE.md
  cypress/tests/ui/flowchart/menu.cy.js
  package/README.md
  package/pyproject.toml
  package/setup.cfg
  package/setup.py
Due: backend_change, frontend_change

design changes
  src/config.js
Due: frontend_change

pipelineBtn renamed to expandPipelinesBtn
  src/components/app/app.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/global-toolbar/global-toolbar.test.js
  src/store/initial-state.js
  src/store/initial-state.test.js
Due: frontend_change

Moving zoomToolbar into display
  src/components/app/app.js
  src/components/global-toolbar/global-toolbar.test.js
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/minimap-toolbar/minimap-toolbar.test.js
  src/store/initial-state.js
Due: frontend_change

Refactor
  src/actions/pipelines.js
  src/components/app/app.js
  src/components/export-modal/export-modal.js
  src/components/export-modal/export-modal.test.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/global-toolbar/global-toolbar.test.js
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/minimap-toolbar/minimap-toolbar.test.js
  src/components/minimap/minimap.js
  src/components/minimap/minimap.test.js
  src/components/settings-modal/settings-modal.test.js
  src/store/initial-state.js
  src/store/initial-state.test.js
  tools/test-lib/react-app/VizComponent.js
Due: frontend_change

changes based on review 2
  src/components/settings-modal/settings-modal.js
Due: frontend_change

filtering node list on the left
  src/components/node-list/node-list-tree.js
  src/selectors/nodes.js
Due: frontend_change

update sys modules with patch
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
Due: backend_change

Fix
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/store/initial-state.js
Due: frontend_change

globalToolbar renamed to globalNavigation
  src/components/app/app.js
  src/components/flowchart/flowchart.js
  src/components/sidebar/sidebar.js
  src/store/initial-state.js
  tools/test-lib/react-app/VizComponent.js
Due: frontend_change

Test fix
  src/components/flowchart/flowchart.test.js
  src/components/wrapper/wrapper.js
  src/components/wrapper/wrapper.test.js
Due: frontend_change

Docs updated as pre new refactor work
  README.npm.md
Due: frontend_change

annotation image updated
  .github/img/kedro_viz_annotation.png
Due: frontend_change

fix lint and pytests
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_data_catalog_lite.py
  package/tests/test_integrations/test_data_loader.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

changes based on review 3
  src/components/settings-modal/settings-modal.js
  src/utils/preferences-api.js
Due: frontend_change

add reducer test
  src/components/settings-modal/settings-modal.js
  src/reducers/reducers.test.js
Due: frontend_change

elint fix
  src/components/settings-modal/settings-modal.js
Due: frontend_change

Test fix
  src/components/wrapper/wrapper.js
Due: frontend_change

README.md conflict resolved
  package/README.md
Due: backend_change

Doc copy changes.
  README.npm.md
Due: frontend_change

Fix build fail
  src/actions/pipelines.js
Due: frontend_change

Code review fix
  src/actions/pipelines.js
  src/components/app/app.js
  src/components/export-modal/export-modal.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

Test fix
  src/components/export-modal/export-modal.test.js
Due: frontend_change

Code review fix
  src/components/minimap/minimap.js
  src/components/minimap/minimap.test.js
  tools/test-lib/react-app/app.js
  tools/test-lib/react-app/viz-component.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
