Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

testing webpack
  demo-project/viz_jupyter_test.ipynb
  package.json
  package/kedro_viz/launchers/notebook_visualizer.py
  webpack.config.js
  webpack.lib.js
Due: backend_change, frontend_change

ignore babel for umd
  package.json
Due: frontend_change

done
  .github/workflows/deploy-gitpage.yml
Due: frontend_change

Create CNAME
  CNAME
Due: frontend_change

testing with published bundle
  package/kedro_viz/launchers/notebook_visualizer.py
Due: backend_change

Delete CNAME
  CNAME
Due: frontend_change

tested bundle
  webpack.lib.js
Due: frontend_change

done
  package-lock.json
  src/components/deprecation-banner/deprecation-banner.js
Due: frontend_change

done
  src/components/deprecation-banner/deprecation-banner.js
Due: frontend_change

Update src/components/deprecation-banner/deprecation-banner.js
  src/components/deprecation-banner/deprecation-banner.js
Due: frontend_change

done
  cypress/tests/ui/flowchart/banners.cy.js
  src/components/deprecation-banner/deprecation-banner.js
Due: frontend_change

Feat/add deprecation et (#2248)
  RELEASE.md
  cypress/support/commands.js
  cypress/tests/ui/flowchart/banners.cy.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
  package-lock.json
  src/components/deprecation-banner/deprecation-banner.js
  src/components/deprecation-banner/deprecation-banner.scss
  src/components/wrapper/wrapper.js
  src/config.js
Due: frontend_change

optimization code added
  demo-project/viz_jupyter_test.ipynb
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/notebook_visualizer.py
  webpack.lib.js
Due: backend_change, frontend_change

add optimization to prod bundle
  webpack.lib.js
Due: frontend_change

First attempt at adding Dev Containers config
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
  .dockerignore
  .gitignore
Due: frontend_change

Finish frontend
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
Due: frontend_change

WIP: Add NODE_VERSION (does not work)
  .devcontainer/devcontainer.json
Due: frontend_change

Fix commands
  .devcontainer/devcontainer.json
Due: frontend_change

Fix whitespace
  .devcontainer/devcontainer.json
Due: frontend_change

Update update-reminder-content.js
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

done
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

run lint
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

done"
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

lint
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

Add 'Deprecation Warning' for Experiment Tracking in CLI. (#2263)
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

add log
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

fix for notebook common process
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

add sanity check to allocate port
  package/kedro_viz/launchers/utils.py
Due: backend_change

add log (#2266)
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

test graph utils done
  src/utils/graph/common.js
  src/utils/graph/constraints.js
  src/utils/graph/graph.test.js
Due: frontend_change

component tests passing
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/flowchart/flowchart.test.js
Due: frontend_change

some tests
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
Due: frontend_change

Release v10.2.0 (#2254)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

added new icon
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/icons/left-right.js
  src/components/icons/top-bottom.js
Due: frontend_change

icon
  src/components/app/app.scss
  src/components/flowchart/flowchart.js
  src/components/icons/left-right.js
  src/components/icons/orientation.scss
  src/components/icons/top-bottom.js
Due: frontend_change

add umd to repo
  Makefile
  package.json
  webpack.umd.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
