Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Code review suggestion
  src/actions/index.js
  src/components/global-toolbar/global-toolbar.js
  src/components/wrapper/wrapper.js
  src/reducers/index.js
Due: frontend_change

Static update reminder dot added
  src/components/global-toolbar/global-toolbar.js
  src/components/global-toolbar/global-toolbar.scss
Due: frontend_change

Moved to response/utils.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/utils.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
  package/tests/test_utils.py
Due: backend_change

Type fix
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Lint fixes
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/constants.py
  package/kedro_viz/utils.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

Constant added
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/constants.py
Due: backend_change

Type annotations updated
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Class rename
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

error object fix
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

Run events to run status change
  src/actions/run-status.js
  src/components/app/app.js
  src/selectors/run-status.js
  src/utils/normalizeRunStatus.js
Due: frontend_change

Node_id checked removed
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

pipeline end event updated
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Code review fixes
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

Code review suggestions
  src/actions/run-status.js
  src/components/app/app.js
  src/utils/normalizeRunStatus.js
Due: frontend_change

safe_int util removed
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/responses/utils.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
Due: backend_change

ui fix
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/pipeline-list/pipeline-list.js
Due: frontend_change

Unit and lint test fix
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
Due: backend_change

Lint fixes
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Lint fix
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/conftest.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

fixed bundling
  .gitignore
  .gitpod.yml
  ARCHITECTURE.md
  Makefile
  package.json
  package/kedro_viz/api/apps.py
  src/utils/graph-worker.js
  src/utils/graph.worker.js
  src/utils/graph/index.js
  src/utils/worker.js
  vite.config.js
Due: backend_change, frontend_change

Test fixes
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

fix eslint
  .eslintrc.json
  package-lock.json
  package.json
  src/setupTests.js
  src/utils/graph-worker.js
  src/utils/worker.js
Due: frontend_change

update package.json
  package.json
Due: frontend_change

fix test-lib
  package.json
  tools/test-lib/react-app/index.js
Due: frontend_change

revert test-lib stuff
  tools/test-lib/react-app/__mocks__/kedroVizMock.js
  tools/test-lib/react-app/package.json
Due: frontend_change

works with test-lib
  package.json
  tools/test-lib/react-app/jest.setup.js
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
  webpack.lib.js
Due: frontend_change

fixed test
  package.json
  src/utils/graph-worker.js
  src/utils/graph/index.js
Due: frontend_change

few changes
  package-lock.json
  package.json
  src/actions/graph.js
  src/setupTests.js
Due: frontend_change

test removal of unused deps
  package-lock.json
  package.json
Due: frontend_change

revert to old setupTest
  src/setupTests.js
Due: frontend_change

add back webpack-cli
  package-lock.json
  package.json
  src/setupTests.js
Due: frontend_change

remove workerize-loader
  package-lock.json
  package.json
Due: frontend_change

fix the layernames rendering issue
  src/components/workflow/workflow.js
Due: frontend_change

Bug fixes
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

Test file refactor
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

lint fix
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

Code review fixes and lint fixes
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/conftest.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

Test refactor
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
Due: backend_change

update styling and remove boldness for kedro-viz list
  docs/migrate_experiment_tracking.md
  docs/stylesheets/typography.css
Due: frontend_change

update pip install requirements
  docs/kedro-viz_visualisation.md
  docs/preview_matplotlib_datasets.md
  docs/preview_plotly_datasets.md
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
