Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Commenting secret scan
  .github/workflows/lint.yml
Due: frontend_change

Revert changes
  docs/kedro-viz_visualisation.md
Due: frontend_change

Telemetry/run status (#2435)
  src/components/flowchart/flowchart.js
  src/components/workflow/workflow.js
Due: frontend_change

remove mock data
  src/components/container/container.js
  src/components/container/node.js
Due: frontend_change

Fix/run status nodelist expanding (#2439)
  src/components/node-list-tree/node-list-tree.js
  src/components/nodes-panel/nodes-panel.js
  src/components/nodes-panel/utils/node-list-context.js
Due: frontend_change

Code review suggestions
  docs/images/pipeline_visualisation.png
  docs/kedro-viz_visualisation.md
  docs/run_status.md
Due: frontend_change

update tests to drop raw_data (#2438)
  package/tests/conftest.py
Due: backend_change

Code review fix
  README.npm.md
  docs/images/workflow_view.png
  docs/index.md
  docs/run_status.md
Due: frontend_change

Code review fix
  docs/run_status.md
Due: frontend_change

Vale fixes
  docs/run_status.md
Due: frontend_change

More vale fix
  README.npm.md
Due: frontend_change

More Vale fix
  docs/kedro-viz_visualisation.md
Due: frontend_change

Version info added
  docs/run_status.md
Due: frontend_change

Bug fixes and code review suggestions for run status (#2437)
  .github/workflows/lint.yml
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/hooks_utils.py
  src/components/ui/search-bar/search-input/search-input.js
  src/components/workflow/workflow-utils/format.js
Due: backend_change, frontend_change

More copy change
  README.npm.md
  docs/kedro-viz_visualisation.md
Due: frontend_change

Logger for default run
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Code review suggestions
  README.npm.md
  docs/index.md
  docs/run_status.md
Due: frontend_change

Vale fix for "Clearly"
  docs/run_status.md
Due: frontend_change

Code view suggestion
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Code review suggestions
  docs/kedro-viz_visualisation.md
  docs/workflow-view.md
  mkdocs.yml
Due: frontend_change

Table formatting fix
  docs/workflow-view.md
Due: frontend_change

Title and gifts updated
  docs/images/run-status-dataset-missing.gif
  docs/images/run-status-node-failure.gif
  docs/images/run-status-success.gif
  docs/workflow-view.md
Due: frontend_change

gitignore updated
  .gitignore
Due: frontend_change

Missing UI element note added in docs
  docs/workflow-view.md
Due: frontend_change

Typo fixed
  docs/workflow-view.md
Due: frontend_change

Logger text updated.
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Final commit before merge
  README.npm.md
  docs/index.md
  package/README.md
  src/components/feature-hints/feature-hints-content.js
Due: backend_change, frontend_change

Documentation: Workflow view in kedro-viz (#2436)
  .github/img/banner.gif
  .github/img/banner.png
  README.npm.md
  docs/images/pipeline_visualisation.png
  docs/images/run-status-dataset-missing.gif
  docs/images/run-status-node-failure.gif
  docs/images/run-status-success.gif
  docs/images/workflow_view.png
  docs/index.md
  docs/kedro-viz_visualisation.md
  docs/workflow-view.md
  mkdocs.yml
  package/README.md
  src/components/feature-hints/feature-hints-content.js
Due: backend_change, frontend_change

Issue link added
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

merged
  package-lock.json
  package.json
Due: frontend_change

changed all to jsx
  src/components/run-not-found-warning/run-not-found-warning.jsx
  src/components/run-status-notification/run-status-notification.jsx
  src/components/workflow-wrapper/workflow-wrapper.jsx
  src/components/workflow-wrapper/workflow-wrapper.test.jsx
  src/components/workflow/workflow.jsx
Due: frontend_change

Runner check and log added
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_hooks_utils.py
Due: backend_change

Lint fix
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

fix lib issue
  src/utils/index.js
Due: frontend_change

convrt icons to jsx
  src/components/icons/failure.jsx
  src/components/icons/success.jsx
  src/components/icons/workflow.jsx
Due: frontend_change

fix npm build
  src/components/error-log/error-log.jsx
  src/components/error-log/error-log.test.jsx
  src/components/pipeline-loading/pipeline-loading.jsx
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
