Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

remove unnecessary hook and convert it to utility
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/utils/normalize-preview.js
Due: frontend_change

adjust preview text
  src/components/metadata-modal/metadata-modal.scss
Due: frontend_change

adjust test
  src/components/metadata/metadata.test.jsx
Due: frontend_change

task node preview backend changes
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

add mermaid renderer component
  src/components/mermaid-renderer/index.js
  src/components/mermaid-renderer/mermaid-renderer.jsx
  src/components/mermaid-renderer/mermaid-renderer.scss
  src/components/mermaid-renderer/mermaid-renderer.test.jsx
Due: frontend_change

unmount containerRef mermaid renderer
  src/components/mermaid-renderer/mermaid-renderer.jsx
Due: frontend_change

add text renderer
  package.json
  src/components/text-renderer/index.js
  src/components/text-renderer/text-renderer.jsx
  src/components/text-renderer/text-renderer.scss
  src/components/text-renderer/text-renderer.test.jsx
Due: frontend_change

include task node previews
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/components/preview-renderer/preview-renderer.jsx
  src/utils/normalize-preview.js
Due: frontend_change

include task node previews
  src/utils/normalize-preview.js
Due: frontend_change

testing draft
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/demo_project/pipelines/preview_tests/__init__.py
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  demo-project/src/demo_project/pipelines/preview_tests/pipeline.py
Due: frontend_change

missing styles
  src/components/metadata/styles/metadata.scss
  src/styles/_variables.scss
Due: frontend_change

renderer parent divs added
  src/components/preview-renderer/preview-renderer.jsx
Due: frontend_change

text preview with code support
  src/components/metadata/metadata-code.jsx
  src/components/metadata/styles/metadata-code.scss
Due: frontend_change

update non blocking version
  .github/workflows/blocking-issues.yml
Due: frontend_change

temp workflow dispatch for blocking issues
  .github/workflows/blocking-issues.yml
Due: frontend_change

warning added
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

add backwar compat
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

revert blocking issues check
  .github/workflows/blocking-issues.yml
Due: frontend_change

PR suggestion to change to switch from ifs
  src/components/preview-renderer/preview-renderer.jsx
Due: frontend_change

Preview Refactor (#2553)
  src/components/json-object/index.js
  src/components/json-renderer/index.js
  src/components/json-renderer/json-renderer.jsx
  src/components/json-renderer/json-renderer.scss
  src/components/json-renderer/json-theme.js
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata-modal/metadata-modal.scss
  src/components/metadata/metadata-row.jsx
  src/components/metadata/metadata.jsx
  src/components/metadata/metadata.test.jsx
  src/components/metadata/preview-wrapper.jsx
  src/components/metadata/preview-wrapper.test.jsx
  src/components/plotly-chart/index.js
  src/components/plotly-renderer/index.js
  src/components/plotly-renderer/plotly-renderer.jsx
  src/components/plotly-renderer/plotly-renderer.scss
  src/components/plotly-renderer/plotly-renderer.test.jsx
  src/components/preview-renderer/index.js
  src/components/preview-renderer/preview-renderer.jsx
  src/components/preview-renderer/preview-renderer.test.jsx
  src/components/preview-table/index.js
  src/components/table-renderer/index.js
  src/components/table-renderer/table-renderer.jsx
  src/components/table-renderer/table-renderer.scss
  src/components/table-renderer/table-renderer.test.jsx
  src/utils/normalize-preview.js
Due: frontend_change

switch added back
  src/components/preview-renderer/preview-renderer.jsx
Due: frontend_change

fix lint
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

address scss PR comments
  src/components/metadata/styles/metadata-code.scss
  src/components/metadata/styles/metadata.scss
Due: frontend_change

scss comment fix
  src/components/metadata/styles/metadata-code.scss
  src/components/metadata/styles/metadata.scss
Due: frontend_change

update backend tests for preview
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change

update backend tests for preview
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

fix pytests
  .github/actions/install_kedro_and_python_dependencies/action.yml
  package/kedro_viz/models/flowchart/node_metadata.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

lint fix
  package/kedro_viz/models/flowchart/node_metadata.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change

fix fe tests
  src/components/mermaid-renderer/mermaid-renderer.test.jsx
  src/components/text-renderer/text-renderer.test.jsx
  src/setupTests.js
Due: frontend_change

fix mermaid flickering
  src/components/mermaid-renderer/mermaid-renderer.jsx
Due: frontend_change

add mermaid preview to split data node
  demo-project/src/demo_project/pipelines/modelling/nodes.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change, frontend_change

add mermaid preview to split data node
  demo-project/src/demo_project/pipelines/modelling/nodes.py
Due: frontend_change

inline term changed for better understanding
  src/components/metadata/metadata-code.jsx
  src/components/metadata/styles/metadata-code.scss
  src/components/text-renderer/text-renderer.jsx
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

add doc draft
  docs/preview_task_nodes.md
  mkdocs.yml
Due: frontend_change

fix vale warnings
  docs/preview_task_nodes.md
Due: frontend_change
