Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

update local variable names
  src/components/shareable-url-modal/published-view/published-view.js
Due: frontend_change

revert the update localStorage state
  src/store/helpers.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

update name deployVix
  src/components/shareable-url-modal/shareable-url-modal.js
  src/utils/index.js
Due: frontend_change

update setToggle name
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

fix typo
  src/config.js
Due: frontend_change

partially working tests
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change

update permissions
  package/tests/test_data_access/test_repositories/test_graph.py
Due: backend_change

adjust pytest for responses
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

fix typo and update variables names
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

update the order in test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

set form with localStorage data
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

remove create fucntion and set the state directly
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

fix the order not updated
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Retrieve viz url (#1907)
  RELEASE.md
  cypress/support/commands.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/icons/info.js
  src/components/shareable-url-modal/compatibility-error-view/compatibility-error-view.js
  src/components/shareable-url-modal/error-view/error-view.js
  src/components/shareable-url-modal/loading-view/loading-view.js
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/published-view/published-view.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/shareable-url-modal.test.js
  src/components/shareable-url-modal/success-view/success-view.js
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/url-box/url-box.scss
  src/components/shareable-url-modal/utils.js
  src/components/ui/icon-button/icon-button.js
  src/components/ui/modal/modal.js
  src/config.js
  src/utils/index.js
Due: frontend_change

working stage with pytests, lint, format - need minor improvements to pytests
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

All dataset preview toggle works with deploy api
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

pytests updated and fixed lint
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/conftest.py
  package/tests/test_data_access/expected_tree_for_edge_cases
  package/tests/test_data_access/test_managers.py
Due: backend_change

fix js test
  cypress/tests/ui/flowchart/menu.cy.js
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

split tests from modular pipeline refactor
  cypress/tests/ui/flowchart/menu.cy.js
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/expected_tree_for_edge_cases
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change, frontend_change

split refactor modular pipelines model changes
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

split modular pipelines refactor for repositories
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

split modular pipeline refactor data_access
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/services/__init__.py
  package/kedro_viz/services/modular_pipelines.py
  package/tests/test_data_access/expected_tree_for_edge_cases
  package/tests/test_data_access/test_managers.py
  package/tests/test_services/test_layers.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change

split refactor modular pipelines api tests
  cypress/tests/ui/flowchart/menu.cy.js
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change, frontend_change

change file permissions
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

revert run command change
  package/kedro_viz/models/flowchart.py
Due: backend_change

revert run command
  package/kedro_viz/models/flowchart.py
Due: backend_change

revert namespace model change
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

revert task node namespace change
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

add comments and test
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

CLI flag renamed to --include-previews
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

CLI flag renamed to --include-previews
  README.md
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/preview_datasets.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

update comment
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

replace toposort with graphlib
  package/kedro_viz/services/layers.py
Due: backend_change

Enable/disable preview for all the datasets when publishing Kedro-Viz from UI (#1895)
  RELEASE.md
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_launchers/test_cli.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

Docs: Enable users to disable preview for all when publishing Kedro-Viz (#1925)
  README.md
  docs/source/images/kedro-publish-aws.gif
  docs/source/images/kedro-publish-azure.gif
  docs/source/images/kedro-publish-gcp.gif
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/preview_datasets.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change
