Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

use the old version of express
  package-lock.json
Due: frontend_change

test ci fail with main
  package.json
Due: frontend_change

config removed
  src/config.js
Due: frontend_change

config var added
  src/components/feedback-form/feedback-form.js
  src/components/flowchart/flowchart.js
Due: frontend_change

only feedback object removed
  src/components/feedback-form/feedback-form.js
  src/components/flowchart/flowchart.js
  src/config.js
Due: frontend_change

comment
  src/config.js
Due: frontend_change

include localStorage from config
  src/components/feedback-form/feedback-form.js
  src/components/flowchart/flowchart.js
  src/config.js
Due: frontend_change

Feature/feedback form (#2085)
  RELEASE.md
  package.json
  src/components/feedback-button/feedback-button.js
  src/components/feedback-button/feedback-button.scss
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/flowchart/flowchart.js
  src/components/icons/mood-dissatisfied.js
  src/components/icons/mood-neutral.js
  src/components/icons/mood-satisfied.js
  src/components/icons/mood-very-dissatisfied.js
  src/components/icons/mood-very-satisfied.js
  src/components/mood/mood.js
  src/components/mood/mood.scss
  src/config.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

done
  package/kedro_viz/integrations/utils.py
Due: backend_change

make lint
  package/kedro_viz/integrations/utils.py
Due: backend_change

Fix `kedro viz --lite` compatibility with Kedro 18 (#2102)
  package/kedro_viz/integrations/utils.py
Due: backend_change

simplify
  src/styles/_variables.scss
Due: frontend_change

imp doc fix
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

imp doc fix
  demo-project/.version
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

Doc fix for lite section (#2104)
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Release Kedro-viz 10.0.0 (#2094)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

add zindex entry
  src/components/ui/banner/banner.scss
  src/styles/_variables.scss
Due: frontend_change

manually update versions
  demo-project/build/graphql/getVersion.json
Due: frontend_change

group by levels
  src/styles/_variables.scss
Due: frontend_change

Update _variables.scss
  src/styles/_variables.scss
Due: frontend_change

Aligned kedro-viz telemetry with kedro-telemetry
  package/kedro_viz/integrations/kedro/telemetry.py
  package/requirements.txt
  package/tests/test_integrations/test_telemetry.py
Due: backend_change

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: frontend_change

Test fix
  package/tests/test_integrations/test_telemetry.py
Due: backend_change

lint fix
  package/tests/test_integrations/test_telemetry.py
Due: backend_change

Test fix
  package/tests/test_api/test_apps.py
Due: backend_change

Release note added
  RELEASE.md
Due: frontend_change

refactor response classes
  demo-project/profile.speedscope.json
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/responses/common.py
  package/kedro_viz/api/rest/responses/deploy.py
  package/kedro_viz/api/rest/responses/main.py
  package/kedro_viz/api/rest/responses/metadata.py
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
Due: backend_change, frontend_change

adjust permissions
  demo-project/.version
  demo-project/profile.speedscope.json
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

adjuste permissions
  package/kedro_viz/api/apps.py
  package/kedro_viz/server.py
Due: backend_change

Organise CSS Z-index (#2095)
  src/components/experiment-tracking/run-plots-modal/run-plots-modal.scss
  src/components/experiment-tracking/runs-list/runs-list.scss
  src/components/feature-hints/feature-hints.scss
  src/components/flowchart-wrapper/flowchart-wrapper.scss
  src/components/global-toolbar/global-toolbar.scss
  src/components/metadata-modal/metadata-modal.scss
  src/components/metadata/styles/metadata-code.scss
  src/components/metadata/styles/metadata.scss
  src/components/node-list/styles/_group.scss
  src/components/node-list/styles/_panels.scss
  src/components/node-list/styles/_row.scss
  src/components/preview-table/preview-table.scss
  src/components/search-list/search-list.scss
  src/components/sidebar/sidebar.scss
  src/components/ui/banner/banner.scss
  src/components/ui/dropdown/dropdown.scss
  src/components/ui/icon-button/icon-button.scss
  src/components/ui/modal/modal.scss
  src/components/ui/search-bar/search-bar.scss
  src/components/ui/switch/switch.scss
  src/components/ui/tooltip/tooltip.scss
  src/components/update-reminder/update-reminder.scss
  src/styles/_variables.scss
Due: frontend_change

Extra Disclaimer word removed
  src/components/shareable-url-modal/main-view/main-view.js
Due: frontend_change

Extra Disclaimer word removed (#2115)
  src/components/shareable-url-modal/main-view/main-view.js
Due: frontend_change

move from multiprocessing to threading
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/server.py
Due: backend_change

add suppressions for too many args
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

lint
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
