Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

toggleNodeClick added back
  src/components/flowchart/flowchart.js
  src/selectors/metadata.js
Due: frontend_change

Parent div element as wrapper added
  README.npm.md
Due: frontend_change

Update README.md
  README.md
Due: frontend_change

Update README.npm.md
  README.npm.md
Due: frontend_change

testing show code
  package/kedro_viz/integrations/kedro/parser.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/utils.py
Due: backend_change

Generic actions for a redux state update
  src/actions/index.js
  src/components/app/app.js
  src/components/container/container.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

replace space with underscore
  tools/test-lib/react-app/app.test.js
Due: frontend_change

fix tests when pretty name is off by default
  src/components/flowchart/flowchart.test.js
  src/components/node-list/node-list.test.js
Due: frontend_change

fix
  src/components/flowchart/flowchart.test.js
  src/components/node-list/node-list.test.js
Due: frontend_change

Update index.js
  src/reducers/index.js
Due: frontend_change

run command with on node click
  src/components/command/command.js
  src/components/command/command.scss
  src/components/command/index.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/selectors/command.js
Due: frontend_change

more fixes
  src/components/flowchart/flowchart.test.js
  src/selectors/nodes.test.js
Due: frontend_change

keep order of layers
  package/kedro_viz/services/layers.py
Due: backend_change

lint
  package/kedro_viz/services/layers.py
Due: backend_change

general styling
  src/components/command/command.js
  src/components/command/command.scss
  src/selectors/command.js
Due: frontend_change

add release notes and comments
  RELEASE.md
  package/kedro_viz/services/layers.py
Due: backend_change, frontend_change

adjust file permissions
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

update comments and rename parser file
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/utils.py
Due: backend_change

remove gitignore
  .gitignore
Due: frontend_change

handle func lambda case
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/utils.py
Due: backend_change

Replace toposort with graphlib (#1942)
  RELEASE.md
  package/kedro_viz/services/layers.py
  package/requirements.txt
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_services/test_layers.py
Due: backend_change, frontend_change

fix some failed tests that are related to the prettyName is off by default
  src/components/node-list/node-list-items.test.js
  src/reducers/reducers.test.js
  src/selectors/edges.test.js
  src/selectors/linked-nodes.test.js
Due: frontend_change

Refactor code
  src/components/app/app.js
  src/components/container/container.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/selectors/layout.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

Add toLowerCase to some of the tests
  src/components/node-list/node-list.test.js
  src/selectors/nodes.test.js
Due: frontend_change

Update app.test.js
  src/components/app/app.test.js
Due: frontend_change

add cypress custom command to enable pretty name
  cypress/support/commands.js
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
Due: frontend_change

Update commands.js
  cypress/support/commands.js
Due: frontend_change

update command run for switching pipeline
  src/selectors/command.js
Due: frontend_change

Alignment fix
  src/components/container/container.js
  src/components/flowchart/styles/_layers.scss
  src/selectors/layout.js
Due: frontend_change

remove extra action
  src/actions/filters.js
  src/actions/nodes.js
  src/components/flowchart/flowchart.js
  src/reducers/nodes.js
Due: frontend_change

Test fix
  src/components/flowchart/flowchart.test.js
  src/store/initial-state.js
  src/store/initial-state.test.js
Due: frontend_change

test fix
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
Due: frontend_change

test fix
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

Added "-p" cli option to match `kedro` pipeline options (#1961)
  CONTRIBUTING.md
  README.md
  RELEASE.md
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Update global-toolbar.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
Due: frontend_change

Update src/actions/index.js
  src/actions/index.js
Due: frontend_change

Variable renaming
  src/actions/index.js
  src/components/app/app.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

shifting the logic around for shift hold the node
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
