Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

update pytests
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_aws_deployer.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
  package/tests/test_server.py
Due: backend_change

fix docs based on review
  docs/source/share_kedro_viz.md
Due: frontend_change

add pytest for azure shareableviz
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

Docs for `kedro viz build` (#1710)
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  docs/source/share_kedro_viz.md
Due: frontend_change

v7.1.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Release v7.1.0
  RELEASE.md
  demo-project/lightsail.json
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

PR number updated for cli command kedro viz build
  RELEASE.md
Due: frontend_change

Doc link updated
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Doc text updated
  package/kedro_viz/launchers/cli.py
Due: backend_change

Test fix
  package/tests/test_launchers/test_cli.py
Due: backend_change

test fix
  package/tests/test_launchers/test_cli.py
Due: backend_change

refactor and add timeout
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_aws_deployer.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_local_deployer.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Release v7.1.0 (#1713)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

WIP
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/conf/base/catalog_09_tracking.yml
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

refactor cli
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/setup.py
  package/test_requirements.txt
  package/tests/test_launchers/test_cli.py
Due: backend_change

update pytest
  package/tests/test_launchers/test_utils.py
  package/tests/test_server.py
Due: backend_change

add release note
  RELEASE.md
Due: frontend_change

fix flaky test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

fixed
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/local_deployer.py
Due: backend_change

done
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/local_deployer.py
Due: backend_change

fix PR comments and flaky test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  package/kedro_viz/api/rest/responses.py
  package/tests/test_api/test_rest/test_responses.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

testing flaky c y test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

remove flaky test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

add pytest for gcp
  RELEASE.md
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/kedro_viz/launchers/cli.py
  package/test_requirements.txt
  package/tests/test_integrations/test_gcp_deployer.py
Due: backend_change, frontend_change

fix gcp pytest coverage
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

fix lint
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

Make kedro viz build compatible with Kedro 18
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/local_deployer.py
Due: backend_change

resolve conflicts
  package/kedro_viz/integrations/deployment/local_deployer.py
Due: backend_change

fix PR comments
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

shareable viz with multiple platform UI
  src/components/metadata/metadata.js
  src/components/settings-modal/settings-modal.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/dropdown/dropdown.scss
  src/components/ui/input/index.js
  src/components/ui/menu-option/menu-option.scss
  src/components/ui/modal/modal.js
  src/config.js
Due: frontend_change

test fix
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.test.js
  src/components/ui/input/input.test.js
  src/config.js
Due: frontend_change

Relative path fix for user entered url
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

some fixes
  package/kedro_viz/models/flowchart.py
Due: backend_change

slicing
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/setup.py
  package/test_requirements.txt
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_aws_deployer.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_server.py
Due: backend_change

fix lint
  package/tests/test_launchers/test_utils.py
Due: backend_change

fix lint-2
  package/tests/test_launchers/test_utils.py
Due: backend_change
