Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Resturcture runner component
  src/components/runner/__tests__/control-panel.test.js
  src/components/runner/control-panel.js
  src/components/runner/control-panel/control-panel.js
  src/components/runner/control-panel/index.js
  src/components/runner/jobs-list.js
  src/components/runner/jobs-panel/index.js
  src/components/runner/jobs-panel/jobs-list.impl.js
  src/components/runner/jobs-panel/jobs-list.js
  src/components/runner/runner-manager.js
  src/components/runner/watch-list.js
  src/components/runner/watch-panel/index.js
  src/components/runner/watch-panel/watch-list.impl.js
  src/components/runner/watch-panel/watch-list.js
Due: frontend_change

fix corupted file
  src/components/runner/control-panel/control-panel.js
  src/components/runner/runner-manager.js
Due: frontend_change

chnage copy to text
  src/components/runner/control-panel/control-panel.js
Due: frontend_change

log the CycleError exception and layer_dependencies (#2467)
  RELEASE.md
  package/kedro_viz/services/layers.py
  package/tests/test_services/test_layers.py
  ruff.toml
Due: backend_change, frontend_change

include date for last update
  mkdocs.yml
Due: frontend_change

Add llm.txt with mkdocs (#2466)
  RELEASE.md
  mkdocs.yml
  package/pyproject.toml
Due: backend_change, frontend_change

Remove @astrojuanlu from CODEOWNERS (#2468)
  .github/CODEOWNERS
Due: frontend_change

import watchlist dialog
  src/components/runner/runner-manager.js
Due: frontend_change

refactor watchlist metods
  src/components/runner/runner-manager.js
  src/components/runner/watch-list-dialog.js
Due: frontend_change

refactor runner
  src/components/runner/runner-manager.js
Due: frontend_change

update router app
  package/kedro_viz/api/rest/router.py
Due: backend_change

router handles kedro commands
  package/kedro_viz/api/rest/router.py
Due: backend_change

update status api
  package/kedro_viz/api/rest/router.py
Due: backend_change

terminate job
  package/kedro_viz/api/rest/router.py
Due: backend_change

Refactor watch list
  src/components/runner-wrapper/runner-wrapper.js
  src/components/runner/runner-manager.js
  src/components/runner/watch-panel/index.js
  src/components/runner/watch-panel/watch-panel.js
  src/components/wrapper/wrapper.js
Due: frontend_change

Vite: Worker not loading when using Kedro-viz as npm library (#2449)
  package.json
  src/utils/worker.js
  tools/test-lib/react-app/__mocks__/inline-worker-mock.js
  tools/test-lib/react-app/app.js
  tools/test-lib/react-app/jest.setup.js
  tools/test-lib/react-app/package.json
  vite.config.js
  vite.lib.config.js
  webpack.lib.js
Due: frontend_change

updated copyright
  docs/overrides/partials/copyright-legal-socials.html
Due: frontend_change

done
  docs/overrides/partials/copyright-legal-socials.html
Due: frontend_change

save kedro environment allow api to return active kedro environment
  package/kedro_viz/api/rest/responses/env.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
Due: backend_change

add environment variables to the control panel
  src/components/runner/control-panel/control-panel.js
  src/components/runner/runner-manager.js
  src/utils/runner-api.js
Due: frontend_change

change chip color on tags
  src/components/runner/runner-manager.scss
Due: frontend_change

removed unused functions
  src/components/runner/runner-manager.js
Due: frontend_change

refactor reusable function as utils
  src/components/runner/runner-utils.js
Due: frontend_change

fix stream reader from prematurely closing the pipe
  package/kedro_viz/api/rest/router.py
Due: backend_change

add test for runner page
  src/components/runner/__tests__/runner-page.integration.test.js
Due: frontend_change

refactro joblist as a separate component
  src/components/runner/JobListPanel.js
  src/components/runner/control-panel/control-panel.js
  src/components/runner/runner-manager.js
Due: frontend_change

Move watchlist panel to a separate file
  src/components/runner/WatchListPanel.js
  src/components/runner/runner-manager.js
Due: frontend_change

Fix visuals of Job List Panel
  src/components/runner/JobListPanel.js
  src/components/runner/runner-manager.js
Due: frontend_change

fix watch list panel
  src/components/runner/runner-manager.js
Due: frontend_change

Set telemetry consent to false on CI/CD setup
  .github/actions/setup_tests/action.yml
Due: frontend_change

Move env block outside of runs
  .github/actions/setup_tests/action.yml
Due: frontend_change

updated as per LF instructions
  docs/overrides/partials/copyright-legal-socials.html
Due: frontend_change

Update copyright in docs (#2473)
  docs/overrides/partials/copyright-legal-socials.html
Due: frontend_change

set env KEDRO_DISABLE_TELEMETRY: "true" at e2e test level
  .github/workflows/e2e-tests.yml
Due: frontend_change

add env to deploy-demo, lint.yml and unit-tests.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

v12.1.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

prepare for release
  RELEASE.md
  esm/ddbb56d1f11d8ec8cfa3.worker.js
  esm/ddbb56d1f11d8ec8cfa3.worker.js.LICENSE.txt
  esm/kedro-viz.production.mjs
Due: frontend_change

mock KEDRO_DISABLE_TELEMETRY env for the test
  package/tests/test_integrations/test_telemetry.py
Due: backend_change

update the env for the rest of tests
  package/tests/test_integrations/test_telemetry.py
Due: backend_change
