Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

exclude root from modularPipelineIDs
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/selectors/disabled.js
Due: frontend_change

Update flowchart-primary-toolbar.test.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
Due: frontend_change

revert disabled
  src/selectors/disabled.js
Due: frontend_change

Improve Console Output to Indicate Hook Usage in Kedro-Viz (#2235)
  package/kedro_viz/launchers/cli/run.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

Move to linkcode extension on docs
  docs/source/conf.py
Due: frontend_change

Fix import
  docs/source/conf.py
Due: frontend_change

Pin vale
  .github/workflows/docs-language-linter.yml
Due: frontend_change

Add new reducer to hanlde update state for when toggle expanding all pipelines
  src/actions/modular-pipelines.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/reducers/modular-pipelines.js
Due: frontend_change

initial draft
  demo-project/Untitled.ipynb
  package/kedro_viz/api/apps.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/experimental_viz.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
Due: backend_change, frontend_change

set up rest for getversion
  package/kedro_viz/api/rest/responses/version.py
  package/kedro_viz/api/rest/router.py
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: backend_change, frontend_change

include get_latest_version, is_running_outdated_version
  package/kedro_viz/api/rest/responses/version.py
  package/kedro_viz/api/rest/router.py
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: backend_change, frontend_change

fixing the error
  package/kedro_viz/api/rest/responses/version.py
  src/components/wrapper/wrapper.js
Due: backend_change, frontend_change

remove graphql
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/__init__.py
  package/kedro_viz/api/graphql/router.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/types.py
Due: backend_change

include test for getting version
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

remove check schema in lint
  .github/workflows/lint.yml
Due: frontend_change

fix lint format error
  package/kedro_viz/api/rest/responses/version.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_router.py
  src/components/wrapper/wrapper.js
Due: backend_change, frontend_change

remove test for graphql
  package/tests/test_api/test_graphql/test_queries.py
Due: backend_change

fix syntax error
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

remove apollo
  cypress/support/commands.js
  src/apollo/config.js
  src/apollo/queries.js
  src/apollo/schema.graphql
  src/apollo/utils.js
  src/components/provider/provider.js
  src/components/wrapper/wrapper.js
Due: frontend_change

update libasound2 to libasound2t64 with the lates ubutun
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

update libgconf-2-4
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

update packages to be compatible with Ubuntu 24.04
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

update packages to be compatible with Ubuntu 24.04 (#2243)
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

rename and clean up code
  src/actions/actions.test.js
  src/actions/index.js
  src/actions/modular-pipelines.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/reducers/index.js
  src/reducers/modular-pipelines.js
  src/reducers/reducers.test.js
Due: frontend_change

adding window config for jupyter users
  demo-project/Untitled.ipynb
  package/kedro_viz/api/apps.py
  src/store/initial-state.js
Due: backend_change, frontend_change

update versions to version
  src/components/update-reminder/update-reminder.js
  src/components/update-reminder/update-reminder.test.js
  src/components/wrapper/wrapper.js
Due: frontend_change

new design tweaks
  src/components/flowchart/draw.js
  src/components/flowchart/styles/_layers.scss
  src/utils/graph/graph.js
  src/utils/graph/routing.js
Due: frontend_change

done
  package/kedro_viz/models/flowchart.py
Due: backend_change

fix lint
  package/kedro_viz/models/flowchart.py
Due: backend_change

Get version using restAPI (#2242)
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/lint.yml
  cypress/support/commands.js
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/__init__.py
  package/kedro_viz/api/graphql/router.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/types.py
  package/kedro_viz/api/rest/responses/version.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_rest/test_router.py
  src/apollo/config.js
  src/apollo/queries.js
  src/apollo/schema.graphql
  src/apollo/utils.js
  src/components/provider/provider.js
  src/components/update-reminder/update-reminder.js
  src/components/update-reminder/update-reminder.test.js
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: backend_change, frontend_change

tests done
  package/tests/test_models/test_flowchart.py
Due: backend_change

done
  package/kedro_viz/models/flowchart/model_utils.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change

changes based on review
  src/actions/modular-pipelines.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
Due: frontend_change

fix test
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
Due: frontend_change

undo rename
  src/actions/actions.test.js
  src/actions/index.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/reducers/index.js
  src/reducers/reducers.test.js
Due: frontend_change

use shorthand
  package/kedro_viz/models/flowchart/model_utils.py
Due: backend_change

revert to prvious
  package/kedro_viz/models/flowchart/model_utils.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Refactor modular pipeline expansions to instantly update UI (#2225)
  RELEASE.md
  src/actions/index.js
  src/actions/modular-pipelines.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/reducers/modular-pipelines.js
Due: frontend_change

working draft
  demo-project/Untitled.ipynb
  demo-project/viz_jupyter_test.ipynb
  package/kedro_viz/launchers/experimental_viz.py
  src/store/initial-state.js
  src/utils/data-source.js
  src/utils/viz-entry.js
  webpack.config.js
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
