Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Serve run status from the project context (#2773)
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/run_status_builder.py
  package/kedro_viz/integrations/kedro/inspection/run_status_service.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_run_status_builder.py
  package/tests/test_inspection_adapter/test_run_status_routes.py
  package/tests/test_inspection_adapter/test_run_status_service.py
Due: backend_change

live load only for metadata
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/catalog_layers.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/live_data_loader.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_integrations/test_catalog_layers.py
  package/tests/test_integrations/test_live_data_loader.py
  package/tests/test_server.py
Due: backend_change

fix lint
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_integrations/test_catalog_layers.py
Due: backend_change

fix unit tests
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
Due: backend_change

fix unit tests
  package/kedro_viz/integrations/kedro/catalog_layers.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

address metadata concurrent issue
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/flowchart/nodes.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change

fix lint
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

update file docstring
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_enrichment.py
Due: backend_change

Live load deferred for metadata (#2774)
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/catalog_layers.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/live_data_loader.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/flowchart/nodes.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_integrations/test_catalog_layers.py
  package/tests/test_integrations/test_live_data_loader.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
  package/tests/test_server.py
Due: backend_change

Forward --params runtime overrides to the inspection snapshot
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

fix lite mode implementation
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/catalog_layers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/launchers/cli/lazy_default_group.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

fix lint
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

add coverage
  package/tests/test_integrations/test_utils.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change

fix e2e tests
  package/features/steps/lower_requirements.txt
Due: backend_change

address PR comments
  package/features/steps/lower_requirements.txt
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/utils.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_utils.py
Due: backend_change

Fix duplicate definition of _RUNTIME_DATASET in test_snapshot_source.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Forward --params runtime overrides to the inspection snapshot (#2778)
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

fix lite mode issue
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

fix tests
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
Due: backend_change

address review comments
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/live_data_loader.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_integrations/test_live_data_loader.py
  package/tests/test_server.py
  package/tests/test_utils.py
Due: backend_change

Lite mode for inspection (#2777)
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
  package/features/viz.feature
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/catalog_layers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/live_data_loader.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/launchers/cli/lazy_default_group.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_integrations/test_live_data_loader.py
  package/tests/test_integrations/test_utils.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
  package/tests/test_server.py
  package/tests/test_utils.py
Due: backend_change

update comments
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

update parsing spinner text
  package/kedro_viz/integrations/kedro/lite_parser.py
Due: backend_change

fix tests
  package/.coveragerc
  package/kedro_viz/integrations/kedro/live/data_loader.py
  ruff.toml
Due: backend_change, frontend_change

fix tests
  package/kedro_viz/integrations/kedro/live/data_loader.py
Due: backend_change

address security concern
  package/features/steps/cli_steps.py
  package/kedro_viz/api/rest/responses/nodes.py
Due: backend_change

v12.5.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

v12.5.0
  esm/kedro-viz.css
  esm/kedro-viz.mjs
Due: frontend_change

draft doc
  ARCHITECTURE.md
  docs/spike/kedro-viz-modularity-v1-architecture.md
Due: frontend_change

fix CI
  package/tests/test_api/test_rest/test_responses/test_nodes.py
Due: backend_change

Preload live data in the background after the graph is served
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/live/deferred_loader.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_integrations/live/test_deferred_loader.py
Due: backend_change

Add help menu with links to Kedro support channels
  RELEASE.md
  src/components/global-toolbar/global-toolbar.jsx
  src/components/global-toolbar/global-toolbar.test.jsx
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/help-menu/index.js
  src/components/icons/docs.jsx
  src/components/icons/help.jsx
  src/components/icons/idea.jsx
  src/components/icons/report.jsx
  src/components/icons/slack.jsx
  src/config.js
Due: frontend_change

Fix Kedro Docs target and lift panel over tooltips
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/ui/icon-button/icon-button.test.jsx
  src/config.js
  src/styles/_variables.scss
Due: frontend_change

Fix help menu ARIA, align styling with other menus
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/ui/icon-button/icon-button.jsx
  src/components/ui/icon-button/icon-button.test.jsx
Due: frontend_change

Scope the toggle lookup and memoise close callback
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.test.jsx
Due: frontend_change

Add help menu with links to Kedro support channels (#2756)
  RELEASE.md
  src/components/global-toolbar/global-toolbar.jsx
  src/components/global-toolbar/global-toolbar.test.jsx
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/help-menu/index.js
  src/components/icons/docs.jsx
  src/components/icons/help.jsx
  src/components/icons/idea.jsx
  src/components/icons/report.jsx
  src/components/icons/slack.jsx
  src/components/ui/icon-button/icon-button.jsx
  src/config.js
  src/styles/_variables.scss
Due: frontend_change
