Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Remove GraphQL subscription from the frontend
  src/apollo/config.js
  src/apollo/subscriptions.js
  src/apollo/utils.js
  src/components/experiment-wrapper/experiment-wrapper.js
Due: frontend_change

Add back graphql subscription (removal moved to another PR)
  src/apollo/config.js
  src/apollo/subscriptions.js
  src/apollo/utils.js
  src/components/experiment-wrapper/experiment-wrapper.js
Due: frontend_change

Remove test_subscriptions.py
  package/tests/test_api/test_graphql/test_subscriptions.py
Due: backend_change

Remove subscription code from backend and docs
  ARCHITECTURE.md
  RELEASE.md
  package-lock.json
  package.json
  package/kedro_viz/api/graphql/schema.py
  src/apollo/schema.graphql
Due: backend_change, frontend_change

Remove unused imports
  package/kedro_viz/api/graphql/schema.py
Due: backend_change

remove get_new_runs graphql subscription method as subscription is removed
  package/kedro_viz/data_access/repositories/runs.py
Due: backend_change

Remove GraphQL subscription (#1554)
  ARCHITECTURE.md
  RELEASE.md
  package-lock.json
  package.json
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/data_access/repositories/runs.py
  package/tests/test_api/test_graphql/test_subscriptions.py
  src/apollo/config.js
  src/apollo/schema.graphql
  src/apollo/subscriptions.js
  src/apollo/utils.js
  src/components/experiment-wrapper/experiment-wrapper.js
Due: backend_change, frontend_change

Update cypress test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

quick fix for kedro datasets new release 1.7.1
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

fix PR comments
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

quick fix for kedro datasets new release 1.7.1 (#1559)
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

minor modifications and code comments
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
Due: backend_change

Add logic to retain data-source info for data nodes
  package/kedro_viz/models/flowchart.py
Due: backend_change

Delete former Switch changes
  src/components/metadata/metadata.js
Due: frontend_change

Edit text to be 'Source' from 'Code' to reflect data sources
  src/components/metadata/metadata.js
Due: frontend_change

Edit text to be 'Source Block' from 'Code Block'
  src/components/metadata/metadata-code.js
Due: frontend_change

Add basic sql_func in demo project
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
Due: frontend_change

Add sql_node into demo_project, as example for data sources
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Add missing sql_node import
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Add code attribute to the API's data node schema
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Add basic SQL query example in demo-project's inputs
  demo-project/conf/base/catalog_01_raw.yml
Due: frontend_change

Adding prelim. test additions before refinement
  package/tests/test_models/test_flowchart.py
Due: backend_change

Fix: Setting Env. Variable for cross platform
  package.json
Due: frontend_change

Added parametrized test cases for covering all potential types
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change

Adding linting changes, type-checking & documentation
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change

Add SQL based data node to demo-project
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Add util method to get preview code for data-node
  package/kedro_viz/models/utils.py
Due: backend_change

Add testing for new util method
  package/tests/test_models/test_utils.py
Due: backend_change

Add 'code' attribute to data node metadata
  package/kedro_viz/models/flowchart.py
Due: backend_change

Add testing to verify new attribute
  package/tests/test_models/test_flowchart.py
Due: backend_change

Update API schema w/ new attribute
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Rename 'Code' visual texts to 'Source' for better clarity
  src/components/metadata/metadata-code.js
  src/components/metadata/metadata.js
Due: frontend_change

Fix: Setting Env. Variable for cross platform (#1563)
  package.json
Due: frontend_change

Make Kedro-Viz shareable via a hosted URL (#1487)
  .gitignore
  RELEASE.md
  cypress/fixtures/mock/deploySuccessResponse.json
  cypress/fixtures/mock/package-compatibilities-compatible.json
  cypress/fixtures/mock/package-compatibilities-incompatible.json
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  package/features/environment.py
  package/features/viz.feature
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/requirements.txt
  package/tests/test_integrations/test_s3_deployer.py
  src/actions/index.js
  src/components/feature-hints/feature-hint-dot.js
  src/components/feature-hints/feature-hints-content.js
  src/components/feature-hints/feature-hints.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/flowchart-wrapper/flowchart-wrapper.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/global-toolbar/global-toolbar.test.js
  src/components/icons/download.js
  src/components/pipeline-list/pipeline-list.scss
  src/components/shareable-url-modal/index.js
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/shareable-url-modal.test.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/modal/modal.js
  src/components/ui/modal/modal.test.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/reducers/visible.js
  src/store/initial-state.js
  src/store/store.js
  src/styles/_extends.scss
  src/utils/index.js
Due: backend_change, frontend_change

v6.6.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Release v6.6.0
  demo-project/lightsail.json
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

fix pytests for flowchart and managers
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/flowchart_old.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Re-add GraphQL schema to pass pipeliens
  src/apollo/schema.graphql
Due: frontend_change

Re-add new line to end of GraphQL schema
  src/apollo/schema.graphql
Due: frontend_change

Adjust util to use if-elif instead of match cases
  package/kedro_viz/models/utils.py
Due: backend_change
