Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Update share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

pin pydantic draft
  package/requirements.txt
Due: backend_change

update release notes
  RELEASE.md
Due: frontend_change

install python 3.9
  .gitpod.yml
Due: frontend_change

Merge Gatekeeper added
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

update python to 3.9
  .gitpod.yml
Due: frontend_change

remove --force
  .gitpod.yml
Due: frontend_change

All CircleCI Pipeline name added to ignore list.
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

Add Pydantic pin to requirements (#1861)
  RELEASE.md
  package/requirements.txt
Due: backend_change, frontend_change

ci/circleci pipeline renamed
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

install python 3.9 global
  .gitpod.yml
Due: frontend_change

Documentation on filtering and sharing Kedro-Viz via stateful URLS. (#1860)
  docs/source/images/kedro-viz-filter-share.gif
  docs/source/share_kedro_viz.md
Due: frontend_change

install python 3.9 in BE
  .gitpod.yml
Due: frontend_change

fixed
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

make naming more clearer
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

v9.0.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

fix lint
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

v9.0.0
  RELEASE.md
  demo-project/lightsail.json
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

added the necessary environment setup commands (export PATH, eval) to ensure pyenv is available in the environment.
  .gitpod.yml
Due: frontend_change

Node version updated
  .github/actions/install_node_dependencies/action.yml
Due: frontend_change

set up a custom dockerfile to install python
  .gitpod.Dockerfile
  .gitpod.yml
Due: frontend_change

implement the expandallpipelines
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/icons/collapse-pipelines.js
  src/components/icons/expand-pipelines.js
Due: frontend_change

Update flowchart-primary-toolbar.test.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
Due: frontend_change

fix typo
  .gitpod.yml
Due: frontend_change

Windows run for PR to main is updated
  .github/actions/install_node_dependencies/action.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Community contributions section added
  RELEASE.md
Due: frontend_change

ensure it works with deeply nested pipelines
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

use custom dockerfile
  .gitpod.Dockerfile
  .gitpod.yml
Due: frontend_change

test dockerfile
  .gitpod.Dockerfile
  .gitpod.yml
Due: frontend_change

fix build issue gitpod
  .gitpod.Dockerfile
  .gitpod.yml
Due: frontend_change

fix transcoding move
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

update release note
  RELEASE.md
Due: frontend_change

make it more readable
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, frontend_change

remove example
  demo-project/src/demo_project/pipeline_registry.py
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Fix TRANSCODING_SEPARATOR import errors (#1866)
  RELEASE.md
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change
