Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

upgrade to node 18 in CI confirge
  .circleci/continue_config.yml
Due: ci_change, frontend_change

All nodeTypes match UI labels with URLparmas
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/config.js
  src/utils/index.js
Due: frontend_change

Removed console.log
  src/utils/index.js
Due: frontend_change

Latest package-lock added with node18
  package-lock.json
Due: frontend_change

jest upgraded
  package-lock.json
  package.json
Due: frontend_change

Jest upgrade revert
  package-lock.json
  package.json
Due: frontend_change

Clearing circleCI cache
  .circleci/continue_config.yml
Due: ci_change, frontend_change

upgrade circleci/node to 5.2.0 and override ci to npm install
  .circleci/continue_config.yml
Due: ci_change, frontend_change

comment on the failed test to fix separately
  cypress/tests/ui/flowchart/panel.cy.js
Due: frontend_change

done
  docs/source/share_kedro_viz.md
Due: frontend_change

Reusable action for tests created and kept node version and package path as input
  .github/actions/install_node_dependencies/action.yml
  .github/actions/setup_tests/action.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

action path fix
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Action path fix in workflow
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

action file correction setup_tests
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

checkout moved from actions
  .github/actions/setup_tests/action.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

hashFiles format added
  .github/actions/install_node_dependencies/action.yml
Due: frontend_change

remove experiment and expand modular pipeline from settings menu
  src/components/settings-modal/settings-modal.js
  src/config.js
Due: frontend_change

done
  demo-project/data/09_tracking/linear_score.json/2023-01-16T15.55.27.850Z/linear_score.json
  demo-project/data/09_tracking/rf_score.json/2023-01-16T15.55.27.850Z/rf_score.json
Due: frontend_change

revert non PR changes
  docs/source/share_kedro_viz.md
Due: frontend_change

Fix Metrics Data on Demo Project. (#1859)
  demo-project/data/09_tracking/linear_score.json/2023-01-16T15.55.27.850Z/linear_score.json
  demo-project/data/09_tracking/rf_score.json/2023-01-16T15.55.27.850Z/rf_score.json
Due: frontend_change

Update share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

test purepath
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

test purepath
  .circleci/continue_config.yml
Due: ci_change, frontend_change

name updated to install_kedro_and_python_dependencies
  .github/actions/install_kedro_and_python_dependencies/action.yml
  .github/actions/setup_tests/action.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/lint.yml
Due: frontend_change

revert purepath test
  .circleci/continue_config.yml
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change, ci_change, frontend_change

Condition for PR to main with windows updated
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Code review fix added
  .github/actions/install_node_dependencies/action.yml
  .github/actions/setup_tests/action.yml
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

modified test as per query param name update
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

Extending stateful URLS with node filters and Expanding/collapsing modular pipelines flag (#1799)
  RELEASE.md
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/node-list/node-list.test.js
  src/components/node-list/styles/_section.scss
  src/components/pipeline-list/pipeline-list.test.js
  src/components/settings-modal/settings-modal.js
  src/config.js
  src/store/initial-state.js
  src/store/normalize-data.js
  src/utils/get-key-by-value.js
  src/utils/get-key-by-value.test.js
  src/utils/hooks/use-generate-pathname.js
  src/utils/index.js
  src/utils/match-path.js
  src/utils/object-utils.js
  src/utils/object-utils.test.js
Due: frontend_change

include kedro 19 in requirement file
  demo-project/src/demo_project/requirements.in
Due: frontend_change

Add publish-kedro-viz action to Kedro-Viz docs. (#1856)
  docs/source/share_kedro_viz.md
Due: frontend_change

Upgrade to Node 18 (#1848)
  .circleci/continue_config.yml
  CONTRIBUTING.md
  RELEASE.md
  cypress/tests/ui/flowchart/panel.cy.js
  demo-project/src/demo_project/requirements.in
  package-lock.json
  package.json
Due: ci_change, frontend_change

Testing Path Fix (#1853)
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

fixed
  docs/source/images/kedro-viz-filter-share.gif
  docs/source/share_kedro_viz.md
Due: frontend_change
