Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

remove test line
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Comment removed
  package/kedro_viz/data_access/managers.py
Due: backend_change

remove ignore-name file as its only used in kedro framework
  .github/styles/Kedro-viz/ignore-names.txt
Due: frontend_change

Enhancement/doc-integration (#1874)
  .github/styles/Kedro-viz/Spellings.yml
  .github/styles/Kedro-viz/abbreviations.yml
  .github/styles/Kedro-viz/gender.yml
  .github/styles/Kedro-viz/headings.yml
  .github/styles/Kedro-viz/ignore.txt
  .github/styles/Kedro-viz/inclusive.yml
  .github/styles/Kedro-viz/links.yml
  .github/styles/Kedro-viz/oxfordcomma.yml
  .github/styles/Kedro-viz/pronouns.yml
  .github/styles/Kedro-viz/sentencelength.yml
  .github/styles/Kedro-viz/toowordy.yml
  .github/styles/Kedro-viz/ukspelling.yml
  .github/styles/Kedro-viz/weaselwords.yml
  .github/styles/Kedro-viz/words.yml
  .github/workflows/docs-language-linter.yml
  .github/workflows/docs-only-checks.yml
  .readthedocs.yml
  .vale.ini
  RELEASE.md
  docs/Makefile
  docs/build-docs.sh
  docs/make.bat
Due: frontend_change

Add options for cli common with disable preview of datasets
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

New approach for modular pipeline tag
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

Update test_modular_pipelines.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

testing in progress
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/server.py
Due: backend_change

wip
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/services/modular_pipelines.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change

tested namespace pipelines
  demo-project/.version
  package.json
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/kedro_viz/services/modular_pipelines.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

update comments
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

update function comments
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

update pytests
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

update pytests
  package/kedro_viz/services/modular_pipelines.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change

Inherit tags from nodes for modular pipelines (#1878)
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/services/modular_pipelines.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

set localStorage with changes from sharable URL
  src/components/shareable-url-modal/shareable-url-modal.js
  src/config.js
Due: frontend_change

New approach for disable preview
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

test branch
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, frontend_change

Disable preview for cli and lint fix
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

testing orphan nodes
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/pipeline.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_1/__init__.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_1/pipeline.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_2/__init__.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_2/pipeline.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_3/__init__.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_3/pipeline.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_4/__init__.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_4/pipeline.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_5/__init__.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_5/pipeline.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_6/__init__.py
  demo-project/src/demo_project/pipelines/modular_pipeline_test/use_case_6/pipeline.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/kedro_viz/services/modular_pipelines.py
Due: backend_change, frontend_change

WIP
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

deploy api with preview
  package/kedro_viz/api/rest/router.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

wip
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, frontend_change

Removing UI changes
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

Removing UI changes
  package/kedro_viz/api/rest/requests.py
Due: backend_change

Disable preview from UI
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/models/flowchart.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

good prog
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

add expandAllPipelines to initial state flags
  src/store/initial-state.js
Due: frontend_change

update file permissions
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

fix tests and add release note
  RELEASE.md
  src/components/app/app.test.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
Due: frontend_change

create shared URLBox component
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/url-box/index.js
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

remove layout.html
  docs/source/_templates/layout.html
Due: frontend_change

refers to kedro-sphinx-theme in setup
  package/setup.py
Due: backend_change

refers to kedro-sphinx-theme in confy.py
  demo-project/docs/source/conf.py
Due: frontend_change

still WIP
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/services/modular_pipelines.py
Due: backend_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

update conf.py in doc/source
  docs/source/conf.py
Due: frontend_change

update setup.py in demo project
  demo-project/src/setup.py
Due: frontend_change

revert changes for demo-project/docs/source
  demo-project/docs/source/conf.py
  demo-project/src/setup.py
Due: frontend_change

Docs/use kedro sphinx theme (#1898)
  RELEASE.md
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change
