Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

done
  src/components/draw/draw-nodes.js
Due: frontend_change

fix lint
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

ignore mypy
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

fix docs"
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

fix unit test
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

update correct project version
  demo-project/pyproject.toml
Due: frontend_change

fix e2e tests
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Ensure last pipeline node fades out by always running exit transition (#2413)
  docs/source/kedro-viz_visualisation.md
  src/components/draw/draw-nodes.js
Due: frontend_change

remove nodesActice as dependencies to avoid duplicated in rendering
  src/components/draw/draw-nodes.js
Due: frontend_change

adding commnets and warning for adding extra dependencies
  src/components/draw/draw-nodes.js
Due: frontend_change

update all links in mkdocs.yml to be stable
  mkdocs.yml
Due: frontend_change

update /latest/ to be /stable
  CONTRIBUTING.md
  cypress/tests/ui/flowchart/banners.cy.js
  demo-project/src/demo_project/hooks.py
  docs/kedro-viz_visualisation.md
Due: frontend_change

update the rest to be stable
  src/components/feature-hints/feature-hints-content.js
  src/components/shareable-url-modal/compatibility-error-view/compatibility-error-view.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
Due: frontend_change

Fix/layout issue for expanding single modular pipeline node (#2415)
  src/components/draw/draw-nodes.js
Due: frontend_change

include feature-hint for the workflow button
  src/components/feature-hints/feature-hints-content.js
  src/components/global-toolbar/global-toolbar.js
Due: frontend_change

Reset state correctly for workflow view
  src/components/workflow-wrapper/workflow-wrapper.js
Due: frontend_change

Reset state correctly for workflow view (#2418)
  src/components/workflow-wrapper/workflow-wrapper.js
Due: frontend_change

include feature-hint for the workflow button (#2417)
  src/components/feature-hints/feature-hints-content.js
  src/components/global-toolbar/global-toolbar.js
Due: frontend_change

revert all TODO stuff
  .github/actions/install_kedro_and_python_dependencies/action.yml
  .github/workflows/lint.yml
  .gitignore
Due: frontend_change

update duration and size
  src/components/workflow/workflow-utils/getStatus.js
Due: frontend_change

add "formatNumber" helper
  src/components/workflow/workflow-utils/format.js
Due: frontend_change

Fix/run status size duration (#2420)
  src/components/workflow/workflow-utils/format.js
  src/components/workflow/workflow-utils/getStatus.js
Due: frontend_change

fix mypy errors
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/server.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

fix mypy
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/launchers/cli/utils.py
Due: backend_change

fix lint and tests
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/server.py
  package/test_requirements.txt
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change

pin kedro-datasets to lower req
  package/test_requirements.txt
Due: backend_change

add relese notes
  RELEASE.md
Due: frontend_change

Make Kedro-Viz compatible with Kedro 0.19 and 1.0 (#2329)
  RELEASE.md
  demo-project/pyproject.toml
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/feature_engineering/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  demo-project/src/demo_project/pipelines/reporting/image_utils.py
  package/features/steps/lower_requirements.txt
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/server.py
  package/test_requirements.txt
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

update docs link
  src/config.js
Due: frontend_change

update links
  demo-project/src/demo_project/hooks.py
  src/components/shareable-url-modal/compatibility-error-view/compatibility-error-view.js
Due: frontend_change

Refactor/node details calculation (#2403)
  src/components/draw/utils/renderNodeDetailsContainer.js
Due: frontend_change

remove wrong file got overwritten by merging
  src/components/draw/styles/flowchart.scss
Due: frontend_change

Saving api response for run status on `kedro viz build/deploy` (#2409)
  demo-project/build/api/run-status
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/tests/test_api/test_rest/test_responses/test_save_responses.py
Due: backend_change, frontend_change

revert changes from release.md
  RELEASE.md
Due: frontend_change

Run status e2e tests
  cypress/fixtures/mock/runStatusDatasetError.json
  cypress/fixtures/mock/runStatusNodeError.json
  cypress/fixtures/mock/runStatusSuccessful.json
  cypress/tests/ui/workflow/error-log.cy.js
  cypress/tests/ui/workflow/run-status-integration.cy.js
  cypress/tests/ui/workflow/run-status-navigation.cy.js
  cypress/tests/ui/workflow/run-status-notification.cy.js
  cypress/tests/ui/workflow/workflow-navigation.cy.js
  cypress/tests/ui/workflow/workflow-run-status.cy.js
  cypress/tests/ui/workflow/workflow.cy.js
Due: frontend_change

Lint fix
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

Docs/update stable links (#2421)
  CONTRIBUTING.md
  cypress/tests/ui/flowchart/banners.cy.js
  demo-project/src/demo_project/hooks.py
  mkdocs.yml
  src/components/draw/styles/flowchart.scss
  src/components/feature-hints/feature-hints-content.js
  src/components/shareable-url-modal/compatibility-error-view/compatibility-error-view.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
Due: frontend_change
