Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Code review suggestions added
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.js
  src/components/experiment-tracking/run-metadata/run-metadata.test.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.test.js
  src/components/experiment-tracking/runs-list/runs-list.js
  src/components/experiment-tracking/runs-list/runs-list.test.js
  src/config.js
  src/reducers/index.js
  src/reducers/runs-metadata.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

select bookmarked run on first load
  src/components/experiment-wrapper/experiment-wrapper.js
Due: frontend_change

add dataset factory resolver
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
Due: backend_change

fix lint errors
  package/kedro_viz/data_access/managers.py
Due: backend_change

add release notes
  RELEASE.md
Due: frontend_change

Apply custom styles
  docs/source/conf.py
Due: frontend_change

Change docs version
  docs/source/conf.py
Due: frontend_change

Reset modal values on close.
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
Due: frontend_change

Add Read the Docs configuration
  .readthedocs.yml
  package/setup.py
Due: backend_change, frontend_change

Circle CI build error fix
  src/components/experiment-wrapper/experiment-wrapper.js
Due: frontend_change

Create robots.txt
  docs/source/robots.txt
Due: frontend_change

Add jquery extension
  docs/source/conf.py
Due: frontend_change

Revert "Create robots.txt"
  docs/source/robots.txt
Due: frontend_change

Add robots.txt again
  docs/source/robots.txt
Due: frontend_change

Update layout with header, add shared styles to layout
  docs/source/_static/css/qb1-sphinx-rtd.css
  docs/source/_static/css/theme-overrides.css
  docs/source/_templates/layout.html
Due: frontend_change

Change in conf.py
  docs/source/conf.py
Due: frontend_change

Change in conf.py (#1591)
  docs/source/conf.py
Due: frontend_change

Deleting utils func approach
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_utils.py
Due: backend_change

Add is_sql_node approach instead
  package/kedro_viz/models/flowchart.py
Due: backend_change

Add is_sql_node testing
  package/tests/test_models/test_flowchart.py
Due: backend_change

Remove writing to SQLite in Experiment Tracking (Frontend) (#1581)
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/menu.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  package-lock.json
  src/actions/index.js
  src/apollo/mutations.js
  src/apollo/queries.js
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.js
  src/components/experiment-tracking/run-metadata/run-metadata.test.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.test.js
  src/components/experiment-tracking/runs-list/runs-list.js
  src/components/experiment-tracking/runs-list/runs-list.test.js
  src/components/experiment-wrapper/experiment-wrapper.js
  src/config.js
  src/reducers/index.js
  src/reducers/runs-metadata.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

Add heap parameter
  docs/source/_templates/layout.html
Due: frontend_change

v6.6.1
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Update release notes and update reminder content
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

test
  demo-project/lightsail.json
  demo-project/src/demo_project/pipeline_registry.py
Due: frontend_change

Update lightsail file
  demo-project/lightsail.json
Due: frontend_change

Add missing [s3] to requirements
  package/requirements.txt
Due: backend_change

Updating to 3.7 as pip struggles w/ 3.8
  package/test_requirements.txt
Due: backend_change

Revert "Update fastapi[all] requirement in /package (#1483)"
  package/test_requirements.txt
Due: backend_change

Revert "Bump pillow in /demo-project/src/demo_project/pipelines/reporting (#1552)"
  demo-project/src/demo_project/pipelines/reporting/requirements.txt
Due: frontend_change

Revert "Bump pillow in /demo-project/src/demo_project/pipelines/reporting (#1552)" (#1599)
  demo-project/src/demo_project/pipelines/reporting/requirements.txt
Due: frontend_change

update to pyproject.toml
  .circleci/continue_config.yml
  CONTRIBUTING.md
  package/pyproject.toml
  package/requirements.txt
  package/setup.cfg
  package/setup.py
  package/test_requirements.txt
Due: backend_change, ci_change, frontend_change

kedro dataset version update
  package/pyproject.toml
Due: backend_change

add docker req for e2e tests
  .circleci/continue_config.yml
Due: ci_change, frontend_change

hot fix for backward compatiblity in kedro datasets and viz
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  src/config.js
Due: backend_change, frontend_change

upgrade plotly
  package/features/steps/lower_requirements.txt
Due: backend_change

upgrading plotly as per kedro datasets
  package/features/steps/lower_requirements.txt
Due: backend_change

Hot fix for backward compatiblity of kedro datasets (#1600)
  package/features/steps/lower_requirements.txt
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  src/config.js
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
