Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Update data_loader.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

changes based on review
  package/kedro_viz/data_access/managers.py
Due: backend_change

Fix `kedro-mlflow` doc links (#2276)
  docs/source/migrate_experiment_tracking.md
Due: frontend_change

Payload removed
  src/actions/index.js
  src/store/middleware.js
Due: frontend_change

changes based on review
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
Due: frontend_change

remove transition
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
Due: frontend_change

Filter button fix
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
Due: frontend_change

Release note added
  README.npm.md
  RELEASE.md
Due: frontend_change

remove deprecation banner for ET
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
  src/components/deprecation-banner/deprecation-banner.js
  src/components/deprecation-banner/deprecation-banner.scss
  src/components/wrapper/wrapper.js
  src/config.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

remove padding from layer names
  src/components/flowchart/styles/_layers.scss
Due: frontend_change

done
  cypress/tests/ui/flowchart/flowchart.cy.js
  package/kedro_viz/constants.py
  package/kedro_viz/launchers/cli/run.py
  src/components/icons/node-icon.js
  src/components/metadata/metadata.test.js
  src/config.js
Due: backend_change, frontend_change

lint fixed
  package/kedro_viz/data_access/managers.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

fix lint again
  package/kedro_viz/server.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

fix lint and unit test
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

lintt
  package/tests/test_data_access/test_managers.py
Due: backend_change

remove catalog as dict
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

remove unused imports
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

cleanup sqlite
  demo-project/.gitignore
  ruff.toml
Due: frontend_change

fix js tests
  src/components/plotly-chart/plotly-chart.js
  src/components/plotly-chart/plotly-chart.test.js
  src/utils/data/demo.mock.json
  src/utils/data/spaceflights.mock.json
  src/utils/data/spaceflights_reordered.mock.json
  src/utils/plot-templates/dark.js
  src/utils/plot-templates/light.js
Due: frontend_change

undo largeDataset changes
  cypress/fixtures/mock/largeDataset.json
Due: frontend_change

simplify variables
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

simplify variable
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

fixes based on reviews
  src/utils/graph/constraints.js
  src/utils/graph/graph.test.js
  src/utils/graph/layout.js
  src/utils/graph/solver.js
Due: frontend_change

changes based in review
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Update catalog.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

redo import
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

update github-pr-check to github-pr-review to avoid the max file review on PR
  .github/workflows/docs-language-linter.yml
Due: frontend_change

ignore value on mergekeeper
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

Fix typo in ignored CircleCI checks list
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

coverage
  RELEASE.md
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change, frontend_change

Fix for missing function node
  package/kedro_viz/api/rest/responses/pipelines.py
Due: backend_change

remove redundant test
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

update readme
  RELEASE.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change, frontend_change

simplify
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

remove uneeded tests after merge
  package/kedro_viz/data_access/managers.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
