Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Move React from to devDependencies to dependencies
  package.json
Due: frontend_change

Update alpha version
  package.json
Due: frontend_change

Add uuid to dependencies
  package-lock.json
  package.json
Due: frontend_change

Update apollo client config to handle SSR
  package.json
  src/apollo/config.js
Due: frontend_change

Update version
  package.json
Due: frontend_change

Update dependencies and import paths for lodash helpers
  package-lock.json
  package.json
  src/components/node-list/index.js
  src/components/node-list/node-list.test.js
  src/components/ui/dropdown/dropdown-renderer.js
Due: frontend_change

Update lodash import path
  package.json
  src/components/experiment-tracking/runs-list/runs-list.js
Due: frontend_change

Update plotly version
  package-lock.json
  package.json
Due: frontend_change

Update release.md
  RELEASE.md
Due: frontend_change

Update apollo config variable
  src/apollo/config.js
Due: frontend_change

Refactor visualize dataset stats from DataNodeMetadata to DataNode (#1499)
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/config.js
Due: backend_change, frontend_change

Revert version in package
  package-lock.json
  package.json
Due: frontend_change

Fix to search for a '<lambda' Python function in the sidebar (#1497)
  RELEASE.md
  src/components/node-list/node-list-row.js
  src/utils/index.js
  src/utils/utils.test.js
Due: frontend_change

Fix for PyPI (#1501)
  README.md
Due: frontend_change

Fix: Change in approach for serving favicon
  package/kedro_viz/api/apps.py
  public/index.html
Due: backend_change, frontend_change

Lint error fix
  package/kedro_viz/api/apps.py
Due: backend_change

Favicon endpoint test added
  package/tests/test_api/test_apps.py
Due: backend_change

Lint error fixed
  package/tests/test_api/test_apps.py
Due: backend_change

Fix: Adding favicon to Kedro Demo
  package/kedro_viz/api/apps.py
  public/index.html
Due: backend_change, frontend_change

Fixed favicon endpoint test
  package/tests/test_api/test_apps.py
Due: backend_change

modify unit tests
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

fix lint errors
  package/tests/test_launchers/test_cli.py
Due: backend_change

Release doc updated
  RELEASE.md
Due: frontend_change

fix run_viz tests
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Removed pytest.fixture as per review comment
  package/tests/test_api/test_apps.py
Due: backend_change

v6.5.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release
  RELEASE.md
  demo-project/lightsail.json
Due: frontend_change

update-reminder-content
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Fix: Adding favicon to Kedro Demo (#1509)
  RELEASE.md
  package/kedro_viz/api/apps.py
  package/tests/test_api/test_apps.py
Due: backend_change, frontend_change

update reminder
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Release v6.5.0 (#1513)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
