Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Group Dependabot security updates (#2733)
  .github/dependabot.yml
Due: frontend_change

adjust file permissions
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/modular_pipelines/test_boundaries.py
  package/tests/test_inspection_adapter/modular_pipelines/test_index.py
  package/tests/test_inspection_adapter/modular_pipelines/test_tree.py
  package/tests/test_inspection_adapter/modular_pipelines/test_view.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

update tests
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_builder_runtime_params.py
Due: backend_change

update trufflehog
  trufflehog-ignore.txt
Due: frontend_change

Serve /api/main and /api/pipelines/{id} from the inspection snapshot
  package/kedro_viz/api/data_provider.py
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_data_provider.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_inspection_adapter_provider.py
  package/tests/test_inspection_adapter/test_provider_installation.py
  package/tests/test_integrations/test_lite_parser.py
  package/tests/test_server.py
Due: backend_change

Enhance GitHub Actions workflows with concurrency settings and branch-specific triggers (#2735)
  .github/workflows/build-backend.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-linkcheck.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

Fix version checks for static and embedded Viz
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/responses/version.py
  package/tests/test_api/test_rest/test_responses/test_save_responses.py
  package/tests/test_api/test_rest/test_responses/test_version.py
  src/components/app/app.jsx
  src/components/app/app.test.jsx
  src/components/wrapper/wrapper.jsx
  src/components/wrapper/wrapper.test.jsx
Due: backend_change, frontend_change

Add version API endpoint and corresponding test case
  package/kedro_viz/api/apps.py
  package/tests/test_api/test_apps.py
Due: backend_change

Fix version and run-status API requests for embedded and static Kedro-Viz
  RELEASE.md
Due: frontend_change

Refactor graph endpoint documentation and enhance parameter handling in GraphBuilder
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/server.py
Due: backend_change

update node to v24
  .github/actions/install_node_dependencies/action.yml
  .github/workflows/release.yml
Due: frontend_change

update contributing guideline
  CONTRIBUTING.md
Due: frontend_change

update canvas to be compatible with the new node version
  package.json
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

upload figma icons to icons component
  src/components/icons/docs.jsx
  src/components/icons/feedback.jsx
  src/components/icons/help.jsx
  src/components/icons/report.jsx
  src/components/icons/slack.jsx
Due: frontend_change

Cache the lite-mode project import scan
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

Track the future lite-mode warning
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
Due: backend_change

update parameters resolution to include dotted params
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

update fixes for lint
  package/requirements.txt
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

update TODO comment
  package/requirements.txt
Due: backend_change

move constants to top of the file
  package/tests/test_inspection_adapter/test_graph_builder.py
Due: backend_change

Populate graph nodes with parameter values (#2736)
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/requirements.txt
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

Support populated catalog layers in GraphBuilder
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Add explicit graph enrichment and Pydantic value models
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines/boundaries.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines/tree.py
  package/tests/test_inspection_adapter/test_enrichment.py
Due: backend_change

Add project-scoped inspection graph services
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_graph_service.py
Due: backend_change

Serve graph endpoints from the project context
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_api/test_apps.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_server.py
Due: backend_change

Verify inspection graph parity with legacy responses
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
Due: backend_change

update jest and jest env to be compatible
  package.json
Due: frontend_change

Regenerate package-lock.json to match all the updated version
  package-lock.json
Due: frontend_change

update node version in devcontainer
  .devcontainer/devcontainer.json
Due: frontend_change

update gitpod image with the updated node version 24 and python 3.13
  .gitpod.yml
Due: frontend_change

Feat/update node v.24. (#2754)
  .devcontainer/devcontainer.json
  .github/actions/install_node_dependencies/action.yml
  .github/workflows/release.yml
  .gitpod.yml
  CONTRIBUTING.md
  RELEASE.md
  package-lock.json
  package.json
Due: frontend_change

Merge load_and_populate_data and _load_and_populate_project_data
  package/kedro_viz/server.py
  package/tests/test_server.py
Due: backend_change

Serve `/api/main` and `/api/pipelines/{id}` from the inspection snapshot (#2750)
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines/boundaries.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines/tree.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_api/test_apps.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_server.py
Due: backend_change

Add help menu with links to Kedro support channels
  RELEASE.md
  src/components/global-toolbar/global-toolbar.jsx
  src/components/global-toolbar/global-toolbar.test.jsx
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/help-menu/index.js
  src/components/icons/docs.jsx
  src/components/icons/help.jsx
  src/components/icons/idea.jsx
  src/components/icons/report.jsx
  src/components/icons/slack.jsx
  src/config.js
Due: frontend_change

Fix help menu ARIA, align styling with other menus
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/ui/icon-button/icon-button.jsx
  src/components/ui/icon-button/icon-button.test.jsx
Due: frontend_change

Fix Kedro Docs target and lift panel over tooltips
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.scss
  src/components/help-menu/help-menu.test.jsx
  src/components/ui/icon-button/icon-button.test.jsx
  src/config.js
  src/styles/_variables.scss
Due: frontend_change

Scope the toggle lookup and memoise close callback
  src/components/help-menu/help-menu.jsx
  src/components/help-menu/help-menu.test.jsx
Due: frontend_change

Centralise inspection inputs in VizProjectContext
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/parameters.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_parameters.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
