Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

remove resolving relative dependencies
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser_test.py
Due: backend_change

Update flowchart-wrapper.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

first draft
  docs/source/index.md
  docs/source/slice_a_pipeline.md
Due: frontend_change

fix typo
  docs/source/index.md
Due: frontend_change

draft
  docs/source/cli-docs.md
  docs/source/index.md
Due: frontend_change

fix docs
  docs/source/index.md
Due: frontend_change

fix docs
  docs/source/cli-docs.md
Due: frontend_change

include gif
  docs/source/images/slice_pipeline_full_view.gif
  docs/source/slice_a_pipeline.md
Due: frontend_change

use uncapital words
  docs/source/slice_a_pipeline.md
Due: frontend_change

remove the word just
  docs/source/slice_a_pipeline.md
Due: frontend_change

proof read
  docs/source/cli-docs.md
  docs/source/index.md
Due: frontend_change

fix vale
  docs/source/cli-docs.md
Due: frontend_change

test
  package/kedro_viz/integrations/kedro/lite_parser_test.py
Due: backend_change

remove #
  docs/source/slice_a_pipeline.md
Due: frontend_change

use verb instead of slicing
  docs/source/slice_a_pipeline.md
Due: frontend_change

Update docs/source/cli-docs.md
  docs/source/cli-docs.md
Due: frontend_change

Docs for Kedro-Viz CLI (#2044)
  docs/source/cli-docs.md
  docs/source/index.md
Due: frontend_change

working draft
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/integrations/kedro/lite_parser_test.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

modify test and standalone support for lite
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

get_kedro_project_json_data function added
  package/kedro_viz/api/rest/responses.py
Due: backend_change

lint fix
  package/kedro_viz/api/rest/responses.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Lint fix
  package/kedro_viz/api/rest/responses.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

removed unused props
  src/components/node-list/node-list-tree-item.js
  src/components/sliced-pipeline-notification/sliced-pipeline-notification.js
Due: frontend_change

Test fix
  package/kedro_viz/api/rest/responses.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

update name for slicePipeline
  src/actions/slice.js
  src/components/flowchart/flowchart.js
  src/reducers/slice.js
Due: frontend_change

update test with new name for SET_SLICE_PIPELINE
  src/reducers/reducers.test.js
  src/selectors/run-command.test.js
  src/selectors/sliced-pipeline.test.js
Due: frontend_change

improve readability
  docs/source/experiment_tracking.md
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change, frontend_change

fix lint and pytest
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

revert link redirect
  docs/source/experiment_tracking.md
Due: frontend_change

adding data-test
  src/components/flowchart/flowchart.js
  src/components/sliced-pipeline-action-bar/sliced-pipeline-action-bar.js
Due: frontend_change

lint fix
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

include getDataTestAttribute
  src/components/flowchart/flowchart.js
  src/components/sliced-pipeline-action-bar/sliced-pipeline-action-bar.js
  src/components/sliced-pipeline-action-bar/sliced-pipeline-action-bar.scss
  src/tracking/index.js
  src/utils/get-data-test-attribute.js
Due: frontend_change

get runCommand based on type of the element
  src/selectors/run-command.js
Due: frontend_change

Demo site experiment tracking url updated
  docs/source/experiment_tracking.md
Due: frontend_change

remove side effects
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
Due: backend_change

Update experiment_tracking.md
  docs/source/experiment_tracking.md
Due: frontend_change

Doc build fix: Demo site experiment tracking url updated (#2051)
  docs/source/experiment_tracking.md
Due: frontend_change

pr suggestions addressed
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

fix dict issue
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
