Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Revert change from PR #2179
  package.json
Due: frontend_change

Remove the sanitizedPathname() function
  src/apollo/config.js
  src/components/global-toolbar/global-toolbar.js
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/utils/index.js
Due: frontend_change

remove cy test related to ET tab
  cypress/tests/ui/toolbar/global-toolbar.cy.js
Due: frontend_change

Revert changes for .md as it will be done separately
  docs/source/experiment_tracking.md
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

revert contributing.md
  CONTRIBUTING.md
Due: frontend_change

Remove Cypress tests for exp tracking
  .gitignore
  .stylelintignore
  cypress/fixtures/graphql/compareThreeRuns.json
  cypress/fixtures/graphql/compareTwoRuns.json
  cypress/fixtures/graphql/getMetricPlotData.json
  cypress/fixtures/graphql/getRunData.json
  cypress/fixtures/graphql/getRunsList.json
  cypress/fixtures/graphql/updateBookmark.json
  cypress/fixtures/graphql/updateRunContent.json
  cypress/fixtures/graphql/updateRunNotes.json
  cypress/fixtures/graphql/updateRunTitle.json
  cypress/support/commands.js
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/menu.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
Due: frontend_change

remove e2e test failed from ET
  cypress/tests/ui/flowchart/flowchart.cy.js
Due: frontend_change

Merge localStorageState state instead of the older allLocalStorageState
  src/store/initial-state.js
Due: frontend_change

remove graphql and its tests
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/__init__.py
  package/kedro_viz/api/graphql/router.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/api/graphql/types.py
  package/tests/test_api/test_graphql/__init__.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_graphql/test_mutations.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_graphql/test_serializers.py
Due: backend_change

revert back the getVersion in graphql
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/api/graphql/types.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_graphql/test_mutations.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_graphql/test_serializers.py
Due: backend_change

update queries and schema
  src/apollo/queries.js
  src/apollo/schema.graphql
  src/apollo/schema.js
Due: frontend_change

fix lint error
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/types.py
Due: backend_change

Update index.js
  src/utils/index.js
Due: frontend_change

Feature/remove session store (#2219)
  demo-project/src/demo_project/settings.py
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
  package/README.md
  package/kedro_viz/database.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_api/test_graphql/__init__.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_graphql/test_mutations.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_graphql/test_serializers.py
  package/tests/test_integrations/test_sqlite_store.py
  package/tests/test_server.py
Due: backend_change, frontend_change

revert graphql_router since it's still using in getVersion
  package/kedro_viz/api/apps.py
Due: backend_change

remove experiment-tracking.py, and runs and tracking datatset from repos
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/__init__.py
  package/kedro_viz/data_access/repositories/runs.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/models/experiment_tracking.py
Due: backend_change

fix lint
  package/kedro_viz/data_access/managers.py
  package/tests/test_data_access/test_repositories/test_runs.py
  package/tests/test_data_access/test_repositories/test_tracking_datasets.py
Due: backend_change

update format lint
  package/kedro_viz/data_access/managers.py
Due: backend_change

remove set_database_session
  package/kedro_viz/data_access/managers.py
  package/tests/test_server.py
Due: backend_change

Feature/remove-grahpql (#2222)
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/api/graphql/types.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/__init__.py
  package/kedro_viz/data_access/repositories/runs.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/models/experiment_tracking.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_repositories/test_runs.py
  package/tests/test_data_access/test_repositories/test_tracking_datasets.py
  package/tests/test_server.py
  src/apollo/schema.graphql
  src/apollo/schema.js
Due: backend_change, frontend_change

Update src/utils/index.js
  src/utils/index.js
Due: frontend_change

Update `isRunningLocally` Function to Recognise Private IP Addresses for Consistent GUI Rendering (#2223)
  src/utils/index.js
Due: frontend_change

Update flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
Due: frontend_change

Update disabled.js
  src/selectors/disabled.js
Due: frontend_change

remove ET mentioned in the doc and readme
  docs/source/experiment_tracking.md
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

remove ET and session store from readme
  ARCHITECTURE.md
  CONTRIBUTING.md
Due: frontend_change

show full run command syntax
  src/selectors/run-command.js
Due: frontend_change

first draft of doing dependencies
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_node.scss
  src/selectors/sliced-pipeline.js
Due: frontend_change

show run command full syntax
  src/selectors/run-command.js
Due: frontend_change

update new architecture diagram to remove apollo graphQL
  .github/img/frontend-architecture.png
Due: frontend_change

done
  package/kedro_viz/launchers/cli/run.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

use toggleModularPipelineExpanded action
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/selectors/disabled.js
Due: frontend_change

fix test
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
Due: frontend_change

add check for modularpipelinefocus
  src/selectors/disabled.js
Due: frontend_change

fixed messaging based on reviews"
  package/kedro_viz/launchers/cli/run.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

Feature/remove et doc (#2232)
  .github/img/frontend-architecture.png
  ARCHITECTURE.md
  CONTRIBUTING.md
  docs/source/experiment_tracking.md
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
