Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Lint fix
  package/kedro_viz/autoreload_file_filter.py
Due: backend_change

apply hovering styling on the parent instead of row
  src/components/node-list/components/row/row.scss
  src/components/node-list/styles/node-list.scss
Due: frontend_change

styling for selected element
  src/components/node-list/components/row/row.scss
Due: frontend_change

fixing hover styling on the icon from MUI
  src/components/node-list/components/row/row.scss
  src/components/node-list/styles/node-list.scss
Due: frontend_change

Tests with docstring
  package/tests/test_autoreload_file_filter.py
Due: backend_change

Refactor / node list row (#2143)
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
  src/components/filter-row/filter-row.js
  src/components/filter-row/filter-row.scss
  src/components/filter-row/filter-row.test.js
  src/components/node-list/components/row/row.js
  src/components/node-list/components/row/row.scss
  src/components/node-list/components/row/row.test.js
  src/components/node-list/index.js
  src/components/node-list/node-list-group.js
  src/components/node-list/node-list-group.test.js
  src/components/node-list/node-list-row-list.js
  src/components/node-list/node-list-row.js
  src/components/node-list/node-list-row.test.js
  src/components/node-list/node-list-tree-item.js
  src/components/node-list/node-list-tree.js
  src/components/node-list/node-list.js
  src/components/node-list/node-list.test.js
  src/components/node-list/styles/_group.scss
  src/components/node-list/styles/_row-label.scss
  src/components/node-list/styles/_row.scss
  src/components/node-list/styles/node-list.scss
  src/components/ui/row-text/row-text.js
  src/components/ui/row-text/row-text.scss
  src/components/ui/toggle-control/toggle-control.js
  src/components/ui/toggle-control/toggle-control.scss
  src/components/ui/toggle-control/toggle-control.test.js
  src/config.js
  tools/test-lib/react-app/app.test.js
Due: frontend_change

Introduce modeOptions prop object with reFocus prop
  src/components/flowchart/flowchart.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

test fix
  src/components/flowchart/flowchart.test.js
Due: frontend_change

Release note added
  RELEASE.md
  src/components/flowchart/flowchart.js
Due: frontend_change

Documentation
  README.npm.md
  src/components/app/app.js
Due: frontend_change

done, test left
  package/kedro_viz/data_access/repositories/graph.py
Due: backend_change

lint
  package/kedro_viz/data_access/repositories/graph.py
Due: backend_change

tests done
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

fix test cov
  package/kedro_viz/data_access/repositories/graph.py
Due: backend_change

moved to named_entities.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/data_access/repositories/tags.py
  package/kedro_viz/models/flowchart/model_utils.py
  package/kedro_viz/models/flowchart/named_entities.py
  package/kedro_viz/models/flowchart/pipeline.py
  package/kedro_viz/models/flowchart/tag.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_models/test_flowchart/test_pipeline.py
Due: backend_change

Breakdown flowchart models into separate files (#2144)
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/graph.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/data_access/repositories/tags.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/flowchart/__init__.py
  package/kedro_viz/models/flowchart/edge.py
  package/kedro_viz/models/flowchart/model_utils.py
  package/kedro_viz/models/flowchart/named_entities.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/flowchart/nodes.py
  package/kedro_viz/services/layers.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart/__init__.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
  package/tests/test_models/test_flowchart/test_nodes.py
  package/tests/test_models/test_flowchart/test_pipeline.py
  package/tests/test_services/test_layers.py
  ruff.toml
Due: backend_change, frontend_change

Create new structure and its own folder for filters or groups
  src/components/filters/components/filters-group/filters-group.js
  src/components/filters/components/filters-group/filters-group.scss
  src/components/filters/components/filters-row/filters-row.js
  src/components/filters/components/filters-row/filters-row.scss
  src/components/filters/components/filters-row/filters-row.test.js
  src/components/filters/filters.js
  src/components/node-list/index.js
  src/components/node-list/node-list-group.js
  src/components/node-list/node-list-group.test.js
  src/components/node-list/node-list-groups.js
  src/components/node-list/node-list.js
  src/components/node-list/styles/node-list.scss
Due: frontend_change

better names for component structure
  src/components/filters/components/filters-group/filters-group.js
  src/components/filters/components/filters-section-heading/filters-section-heading.js
  src/components/filters/components/filters-section/filters-section.js
  src/components/filters/filters.js
  src/components/node-list/node-list.js
Due: frontend_change

FiltersSectionHeading
  src/components/filters/components/filters-group/filters-group.scss
  src/components/filters/components/filters-section-heading/filters-section-heading.js
  src/components/filters/components/filters-section-heading/filters-section-heading.scss
  src/components/filters/components/filters-section/filters-section.js
  src/components/filters/filters.js
  src/components/ui/toggle-control/toggle-control.scss
Due: frontend_change

filters-section
  src/components/filters/components/filters-group/filters-group.scss
  src/components/filters/components/filters-section/filters-section.js
  src/components/filters/components/filters-section/filters-section.scss
Due: frontend_change

filters component
  src/components/filters/filters.js
  src/components/filters/filters.scss
Due: frontend_change

filtersSectionHeading component
  src/components/filters/components/filters-section-heading/filters-section-heading.js
  src/components/filters/components/filters-section-heading/filters-section-heading.scss
Due: frontend_change

tidy up code
  src/components/filters/components/filters-group/filters-group.js
  src/components/filters/components/filters-group/filters-group.scss
  src/components/filters/components/filters-section/filters-section.js
  src/components/node-list/node-list-group.js
  src/components/node-list/styles/_section.scss
  src/components/node-list/styles/node-list.scss
Due: frontend_change

remove pylint
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/responses/base.py
  package/kedro_viz/api/rest/responses/metadata.py
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
Due: backend_change

adjust attributes
  package/kedro_viz/api/rest/responses/base.py
Due: backend_change

test assert helper
  package/tests/test_api/test_rest/test_responses/assert_helpers_test.py
Due: backend_change

test assert helper
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Refactor response classes (#2113)
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/responses/__init__.py
  package/kedro_viz/api/rest/responses/base.py
  package/kedro_viz/api/rest/responses/metadata.py
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/responses/utils.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli/deploy.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_responses/__init__.py
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_api/test_rest/test_responses/test_base.py
  package/tests/test_api/test_rest/test_responses/test_metadata.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
  package/tests/test_api/test_rest/test_responses/test_save_responses.py
  package/tests/test_api/test_rest/test_responses/test_utils.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_server.py
Due: backend_change

make simple tests
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

fixed lint
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

including new tests for new components
  src/components/filters/components/filters-group/filters-group.test.js
  src/components/filters/components/filters-section-heading/filters-section-heading.test.js
  src/components/filters/components/filters-section/filters-section.test.js
  src/components/filters/filters.test.js
Due: frontend_change

update and remove existing tests
  src/components/node-list/node-list-group.test.js
  src/components/node-list/node-list-groups.test.js
  src/components/node-list/node-list.test.js
Due: frontend_change

Moved to GitIgnoreSpec class
  package/kedro_viz/autoreload_file_filter.py
Due: backend_change

remove un-used variables
  src/components/filters/components/filters-group/filters-group.test.js
  src/components/filters/components/filters-section-heading/filters-section-heading.test.js
  src/components/node-list/index.js
  src/components/sliced-pipeline-action-bar/sliced-pipeline-action-bar.test.js
Due: frontend_change

Code review change
  src/components/flowchart/flowchart.js
Due: frontend_change

Prop renamed to behaviour from modeOptions
  README.npm.md
  RELEASE.md
  src/components/app/app.js
  src/components/container/container.js
  src/components/flowchart/flowchart.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

Revert container changes
  src/components/container/container.js
Due: frontend_change

fix lint and test
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
