Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

fix lints and tests"
  package/kedro_viz/integrations/pypi/__init__.py
  package/setup.py
Due: backend_change

Test updated
  cypress/fixtures/mock/deploySuccessResponse.json
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/ui/input/index.js
Due: frontend_change

Test updated
  src/components/ui/input/input.test.js
Due: frontend_change

Add link to open in new tab
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

add test and lint
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

done
  docs/source/_templates/layout.html
Due: frontend_change

Update jupyter.py
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

fix tests and lint
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Enable search-as-you type on Kedro-viz docs (#1727)
  docs/source/_templates/layout.html
Due: frontend_change

add tests
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_models/test_flowchart.py
  src/components/metadata/metadata.js
Due: backend_change, frontend_change

fix tests
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata-modal/metadata-modal.test.js
  src/components/metadata/metadata.js
  src/config.js
  src/utils/data/node_json_data.mock.json
  src/utils/data/node_metrics_data.mock.json
  src/utils/data/node_plot.mock.json
Due: frontend_change

Docs Syntax Fix (#1735)
  docs/source/_templates/layout.html
Due: frontend_change

all npm tests passing
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/experiment-tracking/run-plots-modal/run-plots-modal.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Improve Kedro-viz experience on notebooks (#1722)
  RELEASE.md
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change, frontend_change

manually add logic for args
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

lint
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

fix tests
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_models/test_flowchart.py
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/experiment-tracking/run-plots-modal/run-plots-modal.js
  src/components/icons/node-icon.js
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
  src/config.js
  src/selectors/metadata.js
  src/utils/data/node_json_data.mock.json
  src/utils/data/node_metrics_data.mock.json
  src/utils/data/node_plot.mock.json
Due: backend_change, frontend_change

remove unnecessary spacing
  demo-project/conf/base/catalog_09_tracking.yml
  src/components/experiment-tracking/run-dataset/run-dataset.js
Due: frontend_change

fix tests
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

coverage
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

refactor router to accept new deployer inputs
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_aws_deployer.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_server.py
Due: backend_change

refactor cli for shareableviz deploy
  package/kedro_viz/constants.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

feature: add project_path argument
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

initial draft
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/requirements.txt
Due: backend_change

pin main branch of kedro-datasets temporarily
  package/test_requirements.txt
Due: backend_change

update demo-project reqs
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

refactor router to accept new deployer inputs (#1739)
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_aws_deployer.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_server.py
Due: backend_change

merge router change
  package/kedro_viz/launchers/cli.py
Due: backend_change

fix lint issues with black upgrade
  package/.flake8
  package/kedro_viz/__init__.py
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/graphql/router.py
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/api/rest/utils.py
  package/kedro_viz/constants.py
  package/kedro_viz/data_access/__init__.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/__init__.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/graph.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/data_access/repositories/registered_pipelines.py
  package/kedro_viz/data_access/repositories/runs.py
  package/kedro_viz/data_access/repositories/tags.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/kedro_viz/integrations/kedro/telemetry.py
  package/kedro_viz/integrations/pypi/__init__.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
  package/kedro_viz/services/__init__.py
  package/kedro_viz/services/layers.py
  package/kedro_viz/services/modular_pipelines.py
  package/tests/conftest.py
Due: backend_change

PR comments fix
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

Refactor Shareableviz CLI (#1740)
  package/kedro_viz/constants.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

add back cypress flaky test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

remove cypress flaky test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

remove duplicate pytest parameter
  package/tests/test_launchers/test_cli.py
Due: backend_change

modify Dataframe to table for consistency
  src/components/metadata/metadata.js
Due: frontend_change

working draft
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_integrations/test_sqlite_store.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
