Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Tweak builds
  .github/workflows/all-checks.yml
  .github/workflows/docs-checks.yml
  Makefile
Due: frontend_change

Try add system again
  .github/workflows/docs-checks.yml
  Makefile
Due: frontend_change

Add lychee ignore
  .github/workflows/all-checks.yml
Due: frontend_change

Add lychee ignore
  .github/workflows/.lycheeignore
Due: frontend_change

update reference to home page and kedro datasets docs
  mkdocs.yml
Due: frontend_change

Put lychee ignore in right place
  .github/workflows/.lycheeignore
  .lycheeignore
Due: frontend_change

Clean up
  .lycheeignore
Due: frontend_change

update reference to home page and kedro datasets docs (#2361)
  mkdocs.yml
Due: frontend_change

move updateNodeRect and updateParameterRect to utils
  src/components/draw/draw-nodes.js
  src/components/draw/utils/updateNodeRect.js
  src/components/draw/utils/updateParameterRect.js
Due: frontend_change

draw-edges tests
  src/components/draw/draw-edges.test.js
Due: frontend_change

draw-layers tests
  src/components/draw/draw-layers.test.js
Due: frontend_change

draw-nodes tests
  src/components/draw/draw-nodes.test.js
Due: frontend_change

fix lint test errors
  src/components/draw/draw-nodes.test.js
  src/components/flowchart/flowchart.test.js
Due: frontend_change

Clean up
  docs/pages/index.md
Due: frontend_change

simplify tests for draw components as jest cant test dom manipulation by D3
  src/components/draw/draw-edges.test.js
  src/components/draw/draw-layers.test.js
  src/components/draw/draw-nodes.test.js
Due: frontend_change

using baseNode instead
  src/components/draw/draw-nodes.test.js
Due: frontend_change

Code review fixes
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change, frontend_change

Lint fixes
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

remove old source and build-docs.sh
  docs/build-docs.sh
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/breadcrumbs.html
  docs/source/conf.py
  docs/source/kedro_logo.svg
  docs/source/robots.txt
Due: frontend_change

update home to Welcome in mkdocs.yml
  mkdocs.yml
Due: frontend_change

Tests added
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

Test lint fix
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

More lint fixes
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

More test lint fixes
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

Type checking updated
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Code review suggestions
  src/actions/run-status.js
  src/components/app/app.js
  src/utils/normalizeRunStatus.js
Due: frontend_change

Traceback added
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

traceback added
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

code cleanup
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change

temporary branch for coffee chat
  demo-project/notebooks/customer_pipe.ipynb
  demo-project/notebooks/customer_pipe.py
Due: frontend_change

Test cases added
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

code clean up and test added
  package/kedro_viz/api/rest/responses/run_events.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_utils.py
Due: backend_change

Add doc checks for mkdocs (#2360)
  .github/workflows/docs-checks.yml
  .github/workflows/docs-language-linter.yml
  .lycheeignore
  .markdownlint.yaml
  Makefile
Due: frontend_change

Renaming some methods
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
Due: backend_change

Docs/clean-up-old-docs-files (#2364)
  docs/build-docs.sh
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/breadcrumbs.html
  docs/source/conf.py
  docs/source/kedro_logo.svg
  docs/source/robots.txt
  mkdocs.yml
Due: frontend_change

Constant added
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/constants.py
Due: backend_change

Lint fixes
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/constants.py
  package/kedro_viz/utils.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

Lint fix
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Bypassing lint error to match hook signature
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
