Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

remove uneeded import
  package/kedro_viz/data_access/managers.py
Due: backend_change

Method description updated
  package/kedro_viz/api/rest/responses/pipelines.py
Due: backend_change

lint fix
  package/kedro_viz/api/rest/responses/pipelines.py
Due: backend_change

Update managers.py
  package/kedro_viz/data_access/managers.py
Due: backend_change

fix tests
  package/kedro_viz/integrations/notebook/data_loader.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_notebook_visualizer.py
Due: backend_change

update release
  RELEASE.md
Due: frontend_change

Visualise pipeline objects in notebook (#2241)
  .github/actions/install_node_dependencies/action.yml
  Makefile
  RELEASE.md
  docs/source/migrate_experiment_tracking.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/notebook/__init__.py
  package/kedro_viz/integrations/notebook/data_loader.py
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/utils.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_notebook_visualizer.py
  package/tests/test_utils.py
  src/components/export-modal/export-graph.js
  src/components/ui/circle-progress-bar/circle-progress.bar.js
Due: backend_change, frontend_change

fix lint
  package/kedro_viz/utils.py
Due: backend_change

chages based on review
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Update catalog.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

revert catalog change for try/except
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Update DataCatalog private methods with DataCatalog 2.0 API public methods (#2274)
  RELEASE.md
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change, frontend_change

Ignore parsing hidden files on `kedro viz --lite` (#2271)
  RELEASE.md
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/utils.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change, frontend_change

add release notes
  RELEASE.md
Due: frontend_change

update release notes
  RELEASE.md
Due: frontend_change

Introduce horizontal orientation to flowchart in Kedro-viz (#2251)
  RELEASE.md
  src/actions/index.js
  src/components/app/app.scss
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
  src/components/flowchart/styles/_layers.scss
  src/components/icons/left-right.js
  src/components/icons/orientation.scss
  src/components/icons/top-bottom.js
  src/reducers/index.js
  src/selectors/layers.js
  src/selectors/layout.js
  src/store/initial-state.js
  src/store/store.js
  src/utils/graph/common.js
  src/utils/graph/constraints.js
  src/utils/graph/graph.js
  src/utils/graph/graph.test.js
  src/utils/graph/index.js
  src/utils/graph/layout.js
  src/utils/graph/routing.js
  src/utils/graph/solver.js
Due: frontend_change

fix --lite
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

remove comments
  package/kedro_viz/models/flowchart/nodes.py
Due: backend_change

coverage
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

coverage pt. 2
  package/tests/test_api/test_rest/test_responses/test_nodes.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

lint
  package/tests/test_data_access/test_managers.py
Due: backend_change

partial initialisation for transcoded
  package/kedro_viz/data_access/managers.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
Due: backend_change

Update test_nodes.py
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change

add test
  package/kedro_viz/data_access/managers.py
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change

lint
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

add support for hooks
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

add test back in
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Code review suggestion
  package/kedro_viz/api/rest/responses/pipelines.py
Due: backend_change

Enable lazy loading support for DataCatalog 2.0 on Kedro-Viz (#2272)
  RELEASE.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart/nodes.py
  package/kedro_viz/server.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change, frontend_change

Design review fix
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/sidebar/sidebar.js
  src/components/toolbar-filter-button/index.js
  src/components/toolbar-filter-button/toolbar-filter-button.js
  src/components/toolbar-filter-button/toolbar-filter-button.scss
  src/components/toolbar-filter-button/toolbar-filter-button.test.js
Due: frontend_change

done
  demo-project/src/demo_project/hooks.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/launchers/cli/deploy.py
  package/kedro_viz/launchers/cli/utils.py
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_lite_parser.py
  package/tests/test_launchers/test_cli/test_deploy.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change, frontend_change

test-with-build
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
  demo-project/pyproject.toml
Due: frontend_change

done
  .devcontainer/onCreateCommand.sh
Due: frontend_change

removed pyproject toml telemetry stuff
  demo-project/pyproject.toml
Due: frontend_change

add make build earlier
  .devcontainer/onCreateCommand.sh
Due: frontend_change

test again
  .devcontainer/onCreateCommand.sh
Due: frontend_change
