Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

add matplotlib in requirements file for e2e tests
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

add design change for overflow
  src/components/metadata/metadata-stats.js
  src/components/metadata/styles/metadata-stats.scss
Due: frontend_change

add design change for overflow
  src/components/metadata/metadata-stats.js
Due: frontend_change

remove matplotlib from requirements and fix metadata suggestions
  package/features/steps/lower_requirements.txt
  package/requirements.txt
  src/components/metadata/styles/metadata-stats.scss
  src/utils/index.js
Due: backend_change, frontend_change

add release notes for visualizing dataset stats
  RELEASE.md
Due: frontend_change

add release notes for displaying dataset stats
  RELEASE.md
Due: frontend_change

add release notes
  RELEASE.md
Due: frontend_change

add comments to clarify the purpose to catch importerror
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Use try/except instead hasattr
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

hooks update based on Nok's comments
  demo-project/stats.json
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/utils.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change, frontend_change

fix lint and format checks
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

modify stats based on Nok's comments
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_utils.py
Due: backend_change

fix lint and format
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

fixed failing unit test
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Add deploy button, modal, and form fields
  src/actions/index.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/flowchart-wrapper/flowchart-wrapper.scss
  src/components/shareable-url-modal/index.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/shareable-url-modal.test.js
  src/components/ui/modal/modal.js
  src/reducers/visible.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

Fix failing tests
  src/components/global-toolbar/global-toolbar.test.js
  src/components/shareable-url-modal/shareable-url-modal.test.js
  src/components/ui/modal/modal.test.js
Due: frontend_change

Fix failing tests
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.test.js
Due: frontend_change

change hasattr to getattr to trigger import
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

update code based on Nok's suggestion
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

Catch AttributeError and ImportError
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

fix linting
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Visualize Dataset statistics in metadata panel (#1472)
  RELEASE.md
  cypress/tests/ui/flowchart/flowchart.cy.js
  demo-project/stats.json
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
  package/setup.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
  package/tests/test_server.py
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
  src/components/metadata/styles/metadata-stats.scss
  src/config.js
  src/reducers/nodes.js
  src/selectors/metadata.js
  src/utils/data/node_data_stats.mock.json
  src/utils/index.js
Due: backend_change, frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

fix CircleCI build errors
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

fix lint errors
  package/kedro_viz/models/flowchart.py
Due: backend_change

Attempt to fix CI due to lazy-loading (#1481)
  RELEASE.md
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

Automating Release process (#1)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/check-release.yml
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  tools/github_actions/check_version.py
  tools/github_actions/extract_release_notes.py
Due: backend_change, ci_change, frontend_change

Release/testing (#2)
  .github/workflows/check-release.yml
Due: frontend_change

Update single file to S3 via file input
  package-lock.json
  package.json
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Update test case
  src/components/shareable-url-modal/shareable-url-modal.test.js
Due: frontend_change

Remove package lock changes
  package-lock.json
Due: frontend_change

Filter out undefined edges
  RELEASE.md
  src/components/flowchart/draw.js
Due: frontend_change

Release note and test added
  RELEASE.md
  src/selectors/nodes.test.js
Due: frontend_change

Fix for sidebar search result based on Pretty name flag
  src/selectors/modular-pipelines.js
  src/selectors/nodes.js
Due: frontend_change

Fix: Sidebar search width fix for longer text query
  src/components/ui/search-bar/search-input/search-input.scss
Due: frontend_change

Release note text line order updated
  RELEASE.md
Due: frontend_change

Fix for long word without space.
  src/components/ui/search-bar/search-input/search-input.scss
Due: frontend_change

Release/testing (#3)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/check-release.yml
  RELEASE.md
  tools/github_actions/extract_release_notes.py
Due: ci_change, frontend_change

Revert "Release/testing (#3)"
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/check-release.yml
  RELEASE.md
  tools/github_actions/extract_release_notes.py
Due: ci_change, frontend_change

merging main
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/check-release.yml
Due: ci_change, frontend_change
