Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

partial working draft
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/deployment/az_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_server.py
Due: backend_change

Set Kedro Viz start method to spawn process while launching it from Jupyter Notebook (#1696)
  RELEASE.md
  package/kedro_viz/api/graphql/router.py
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change, frontend_change

Test and comments of deployers updated
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_integrations/test_local_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

test draft
  package/kedro_viz/integrations/deployment/az_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/setup.py
  package/test_requirements.txt
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

fix lint
  package/kedro_viz/integrations/deployment/__init__.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_local_deployer.py
Due: backend_change

remove circular dependency
  package/kedro_viz/integrations/deployment/__init__.py
Due: backend_change

Tests and lint fixes
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

Import fixes
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

Lint fixes
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

Lint fixes
  package/tests/test_integrations/test_base_deployer.py
Due: backend_change

fix lint
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

fix return on deploy_get_url
  package/kedro_viz/launchers/cli.py
Due: backend_change

remove comments
  package/kedro_viz/api/graphql/router.py
Due: backend_change

Fix for Plotly chart not rendering (#1701)
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/experiment-tracking/run-dataset/run-dataset.test.js
Due: frontend_change

Exception and class method updated
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_local_deployer.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

User entered platform added in error
  package/kedro_viz/integrations/deployment/deployer_factory.py
Due: backend_change

Fix test
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

revert tracking_datasets func
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/models/experiment_tracking.py
Due: backend_change

CLI command kedro viz build added (#1697)
  README.md
  RELEASE.md
  package/kedro_viz/integrations/deployment/__init__.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_local_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

done
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_node.scss
  src/config.js
  src/selectors/nodes.js
Due: frontend_change

done
  src/components/icons/node-icon.js
  src/config.js
  src/store/normalize-data.js
Due: frontend_change

fix lint
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
Due: backend_change

revert back consent
  demo-project/.telemetry
Due: frontend_change

change _preview to preview
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

first draft
  docs/source/share_kedro_viz.md
Due: frontend_change

Update share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

fix based on review
  docs/source/share_kedro_viz.md
Due: frontend_change

fix typos
  docs/source/share_kedro_viz.md
Due: frontend_change

initial draft
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/kedro_viz/launchers/cli.py
  package/setup.py
Due: backend_change

minor updates
  package/kedro_viz/constants.py
  package/kedro_viz/launchers/cli.py
Due: backend_change

fix cypress flaky test
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
Due: frontend_change

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Revise link and add back missing sentence
  docs/source/share_kedro_viz.md
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
