Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

initial draft for patch release v8.0.1
  demo-project/lightsail.json
  package-lock.json
Due: frontend_change

update reminder content
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

remove bug content
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Make `kedro viz` also do what `kedro viz run` does
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/requirements.txt
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Release v8.0.1 (#1795)
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

Try remove bootstrap_project()
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
Due: backend_change

Try set the package name for spawn process
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

first draft
  src/selectors/linked-nodes.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Make `kedro viz` also do what `kedro viz run` does (#1790)
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/requirements.txt
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

use include for previewType
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
Due: frontend_change

update flowchart to accept name or annotation for preview type
  package/kedro_viz/models/flowchart.py
Due: backend_change

revert FE changes
  package/kedro_viz/models/flowchart.py
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
Due: backend_change, frontend_change

Some method docs added.
  src/utils/hooks/use-generate-pathname.js
Due: frontend_change

Support Deferred Type Annotations in Dataset Previews (#1798)
  package/kedro_viz/models/flowchart.py
Due: backend_change

Shortening existing URL query params focused_id, selected_id, selected_name and pipeline_id
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  src/components/pipeline-list/pipeline-list.test.js
  src/config.js
  src/store/initial-state.js
Due: frontend_change

add json support
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
Due: frontend_change

Update metadata-modal.js
  src/components/metadata-modal/metadata-modal.js
Due: frontend_change

Fix experiment tracking search query test
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
Due: frontend_change

Clear filter button added
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/node-list/styles/_section.scss
  src/config.js
Due: frontend_change

Missing test added
  cypress/tests/ui/flowchart/menu.cy.js
  src/components/node-list/node-list.test.js
Due: frontend_change

progress
  .eslintrc.json
  src/actions/nodes.js
  src/components/flowchart/flowchart.js
  src/components/node-list/index.js
  src/components/node-list/node-list-groups.js
  src/components/node-list/node-list.js
  src/components/node-list/styles/_filters.scss
  src/config.js
  src/reducers/index.js
  src/selectors/linked-nodes.js
  src/selectors/node-types.js
  src/store/normalize-data.js
Due: frontend_change

add json preview
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
Due: frontend_change

format json preview
  src/components/json-object/json-object.js
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata-modal/metadata-modal.scss
  src/components/metadata/metadata.js
  src/components/metadata/styles/metadata.scss
Due: frontend_change

make collapsed argument variable
  src/components/json-object/json-object.js
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata/metadata.js
Due: frontend_change

increase viz timeout
  package/kedro_viz/launchers/utils.py
Due: backend_change

fix lint and add release note
  RELEASE.md
  package/kedro_viz/launchers/utils.py
Due: backend_change, frontend_change

remove demo source
  src/utils/data-source.js
Due: frontend_change

add release note
  RELEASE.md
Due: frontend_change

update release note and update feature hint links
  RELEASE.md
  src/components/feature-hints/feature-hints-content.js
Due: frontend_change

test comment to check unit test
  package/tests/test_launchers/test_cli.py
Due: backend_change

reduce mock timeout
  package/tests/test_launchers/test_cli.py
Due: backend_change

Release note added
  RELEASE.md
Due: frontend_change

fix typo in docs
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

changes based on review
  src/components/metadata-modal/metadata-modal.js
Due: frontend_change

Fix typo on Kedro-viz Docs (#1809)
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

WIP
  demo-project/src/demo_project/settings.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart.py
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/selectors/linked-nodes.js
Due: backend_change, frontend_change

Increase Kedro Viz timeout (#1803)
  RELEASE.md
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
