Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Code review fix
  src/reducers/index.js
  src/selectors/layout.js
Due: frontend_change

Code review fix
  src/reducers/index.js
Due: frontend_change

add dataset factories test
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/tests/test_integrations/test_data_catalog_lite.py
Due: backend_change

add e2e test
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/kedro_viz/integrations/kedro/lite_parser.py
Due: backend_change

Rearrange props in alphabetical order
  README.npm.md
Due: frontend_change

filter out modular pipeline if no nodes selected
  src/components/node-list/node-list-tree.js
  src/selectors/nodes.js
Due: frontend_change

changes based on review
  package/kedro_viz/api/rest/router.py
  src/components/settings-modal/settings-modal.js
  src/utils/preferences-api.js
Due: backend_change, frontend_change

file rename
  README.npm.md
Due: frontend_change

[DRAFT]For Test and Review: React component work all merged in single PR. (#1992)
  .github/img/kedro_viz_annotation.png
  .github/workflows/release.yml
  README.npm.md
  RELEASE.md
  docs/source/kedro-viz_visualisation.md
  package/README.md
  src/actions/index.js
  src/actions/pipelines.js
  src/components/app/app.js
  src/components/export-modal/export-modal.js
  src/components/export-modal/export-modal.test.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.test.js
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/minimap-toolbar/minimap-toolbar.test.js
  src/components/minimap/minimap.js
  src/components/minimap/minimap.test.js
  src/components/settings-modal/settings-modal.test.js
  src/components/sidebar/sidebar.js
  src/components/wrapper/wrapper.js
  src/components/wrapper/wrapper.test.js
  src/reducers/index.js
  src/reducers/reducers.test.js
  src/selectors/layout.js
  src/selectors/metadata.js
  src/store/initial-state.js
  src/store/initial-state.test.js
  tools/test-lib/react-app/app.js
  tools/test-lib/react-app/viz-component.js
Due: backend_change, frontend_change

fix CI
  package/tests/test_launchers/test_cli.py
Due: backend_change

Update test_router.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

Update router.py
  package/kedro_viz/api/rest/router.py
Due: backend_change

remove fstring
  package/kedro_viz/api/rest/router.py
Due: backend_change

Add new endpoint to fetch initial showDatasetsPreviews value
  package/kedro_viz/api/rest/router.py
  src/config.js
  src/utils/preferences-api.js
Due: backend_change, frontend_change

coverage
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

include reset button
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.scss
  src/components/flowchart/flowchart.js
Due: frontend_change

cy:test close the hint feature so can click on a node
  cypress/tests/ui/flowchart/flowchart.cy.js
Due: frontend_change

run command selector
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
  src/components/flowchart/flowchart.js
  src/selectors/run-command.js
Due: frontend_change

include command copier
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.scss
Due: frontend_change

dataset factory pattern support in lite mode
  package/kedro_viz/data_access/managers.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

add doc strings
  package/kedro_viz/integrations/kedro/lite_parser.py
Due: backend_change

WIP
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/flowchart/panel.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
  demo-project/.telemetry
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/export-modal/export-modal.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/global-toolbar/global-toolbar.js
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
  src/components/node-list/node-list-row.js
  src/components/pipeline-list/pipeline-list.js
  src/components/primary-toolbar/primary-toolbar.js
  src/components/settings-modal/settings-modal-row.js
  src/components/shareable-url-modal/error-view/error-view.js
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/success-view/success-view.js
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/ui/command-copier/command-copier.js
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/icon-button/icon-button.js
  src/components/ui/toggle/toggle.js
  src/components/update-reminder/update-reminder.js
Due: frontend_change

fix e2e tests
  cypress/support/commands.js
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/panel.cy.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
  src/components/experiment-tracking/select-dropdown/select-dropdown.js
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/settings-modal/settings-modal-row.js
  src/components/settings-modal/settings-modal.js
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/icon-button/icon-button.js
Due: frontend_change

fix e2e testing
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/shareable-url-modal/published-view/published-view.js
Due: frontend_change

remove unwanted print
  package/kedro_viz/integrations/kedro/telemetry.py
Due: backend_change

redux thunk for preferences API
  src/actions/preferences.js
  src/components/settings-modal/settings-modal.js
  src/config.js
  src/reducers/index.js
  src/reducers/preferences.js
Due: frontend_change

Update preferences.js
  src/actions/preferences.js
Due: frontend_change

Update settings-modal.js
  src/components/settings-modal/settings-modal.js
Due: frontend_change

revert nested
  src/components/settings-modal/settings-modal.js
  src/reducers/index.js
Due: frontend_change

UI for command line
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.scss
  src/components/flowchart/styles/_variables.scss
  src/components/icons/cut.js
  src/selectors/run-command.js
Due: frontend_change

changes based on review
  src/actions/index.js
  src/actions/preferences.js
  src/components/settings-modal/settings-modal.js
  src/reducers/index.js
  src/reducers/preferences.js
  src/reducers/reducers.test.js
Due: frontend_change

Refactor: Replace `data-heap-event` with standardized `data-test` for Cypress and Telemetry (#1995)
  cypress/support/commands.js
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/flowchart/panel.cy.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  cypress/tests/ui/toolbar/global-toolbar.cy.js
  demo-project/.telemetry
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/experiment-tracking/select-dropdown/select-dropdown.js
  src/components/export-modal/export-modal.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/global-toolbar/global-toolbar.js
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/node-list/node-list-row.js
  src/components/pipeline-list/pipeline-list.js
  src/components/primary-toolbar/primary-toolbar.js
  src/components/settings-modal/settings-modal-row.js
  src/components/settings-modal/settings-modal.js
  src/components/shareable-url-modal/error-view/error-view.js
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/published-view/published-view.js
  src/components/shareable-url-modal/success-view/success-view.js
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/ui/button/button.js
  src/components/ui/command-copier/command-copier.js
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/icon-button/icon-button.js
  src/components/ui/toggle/toggle.js
  src/components/update-reminder/update-reminder.js
Due: frontend_change

avoid reseting when clicking on a node while filters is activated
  src/components/flowchart/components/slice-pipeline-action/slice-pipeline-action.js
  src/components/flowchart/flowchart.js
  src/components/node-list/index.js
Due: frontend_change

Add comment
  src/components/flowchart/flowchart.js
Due: frontend_change

test to cover the run-command selector
  src/selectors/run-command.test.js
Due: frontend_change

add e2e test and clear unused func
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/tests/test_data_access/test_managers.py
Due: backend_change

combine preference action
  src/actions/preferences.js
  src/components/settings-modal/settings-modal.js
  src/reducers/index.js
Due: frontend_change

changes based on reviews
  src/reducers/index.js
  src/reducers/preferences.js
  src/reducers/reducers.test.js
Due: frontend_change

Update settings-modal.test.js
  src/components/settings-modal/settings-modal.test.js
Due: frontend_change

no holdshift click on nodes when filters are applied
  src/components/flowchart/flowchart.js
Due: frontend_change
