Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

add viz deprecation warning to docs
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Add kedro viz deprecation warning for CLI (#1641)
  RELEASE.md
  docs/source/kedro-viz_visualisation.md
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

v6.7.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release
  RELEASE.md
  demo-project/lightsail.json
Due: frontend_change

added release highlights
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

add release highlights
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

typo
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

fix for shareable link click
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

fix for shareable link click (#1643)
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Release v6.7.0 (#1642)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

add url to cli run
  package/kedro_viz/launchers/cli.py
Due: backend_change

test 0.18.2 kedro e2e
  package/features/viz.feature
Due: backend_change

test pip version
  .circleci/continue_config.yml
Due: ci_change, frontend_change

upgrade pip
  .circleci/continue_config.yml
Due: ci_change, frontend_change

adjust dependencies
  .circleci/continue_config.yml
  package/features/viz.feature
  package/requirements.txt
Due: backend_change, ci_change, frontend_change

add release note
  RELEASE.md
Due: frontend_change

fixed
  package/kedro_viz/models/flowchart.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

fix lint
  package/kedro_viz/models/flowchart.py
Due: backend_change

Test with Kedro-viz as react component fix by enzyme to react-testing-library
  package-lock.json
  src/components/node-list/node-list-tree.js
  tools/test-lib/react-app/app.test.js
  tools/test-lib/react-app/package.json
  tools/test-lib/react-app/webpack.config.js
Due: frontend_change

Removing cypress tests to observe effect
  cypress/tests/ui/experiment-tracking/panel.cy.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

Re-adding deleted shareable-urls cypress tests
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

Update package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

Fix modular pipelines breaking when collapsed. (#1651)
  package/kedro_viz/models/flowchart.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Cypress test fix
  package-lock.json
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
Due: frontend_change

Cypress added back
  cypress/tests/ui/experiment-tracking/panel.cy.js
Due: frontend_change

Whitespace removed
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

Release note and comment added
  RELEASE.md
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  tools/test-lib/react-app/webpack.config.js
Due: frontend_change

react-redux updated to latest
  RELEASE.md
  package-lock.json
  package.json
Due: frontend_change

WIP
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/conf/base/catalog_09_tracking.yml
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/flowchart.py
  src/components/metadata/metadata.js
  src/reducers/nodes.js
  src/selectors/metadata.js
Due: backend_change, frontend_change

fix review comments
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

Update for new starter name
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

WIP
  demo-project/Dockerfile
  package/kedro_viz/api/apps.py
Due: backend_change, frontend_change

fix lint
  package/kedro_viz/api/apps.py
Due: backend_change

fix tests
  package/kedro_viz/api/apps.py
Due: backend_change

add exception for dataset factory pattern discovery
  package/kedro_viz/data_access/managers.py
Due: backend_change

remove py3.7 support
  .circleci/continue_config.yml
  CONTRIBUTING.md
  README.md
  package/features/environment.py
  package/requirements.txt
  package/setup.py
  package/test_requirements.txt
Due: backend_change, ci_change, frontend_change

Update for new starter name (#1657)
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change
