Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

update data_access manager to support the catalog
  package/kedro_viz/data_access/managers.py
Due: backend_change

lint
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Update managers.py
  package/kedro_viz/data_access/managers.py
Due: backend_change

fix mypy errors
  package/kedro_viz/data_access/managers.py
Due: backend_change

address PR comments
  package/kedro_viz/__init__.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/notebook/__init__.py
  package/kedro_viz/integrations/notebook/data_loader.py
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_notebook_visualizer.py
  package/tests/test_server.py
Due: backend_change

remove unused import
  demo-project/Untitled.ipynb
  package/kedro_viz/server.py
Due: backend_change, frontend_change

remove test notebook
  demo-project/Untitled.ipynb
Due: frontend_change

fix lint
  package/kedro_viz/integrations/notebook/data_loader.py
Due: backend_change

fix tests
  package/features/steps/lower_requirements.txt
  package/kedro_viz/integrations/utils.py
Due: backend_change

Fix whitespace
  .devcontainer/devcontainer.json
Due: frontend_change

First attempt at adding Dev Containers config
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
  .dockerignore
  .gitignore
Due: frontend_change

WIP: Add NODE_VERSION (does not work)
  .devcontainer/devcontainer.json
Due: frontend_change

Fix commands
  .devcontainer/devcontainer.json
Due: frontend_change

Finish frontend
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
Due: frontend_change

Fix Node version
  .devcontainer/devcontainer.json
Due: frontend_change

Fix frontend command
  .devcontainer/devcontainer.json
Due: frontend_change

undo fix
  package/features/steps/lower_requirements.txt
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/utils.py
Due: backend_change

Improve disk performance
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
Due: frontend_change

Do not start Babel
  .devcontainer/devcontainer.json
Due: frontend_change

Make AbstractDataset optional
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart/nodes.py
Due: backend_change

Do not open browser twice
  .devcontainer/devcontainer.json
Due: frontend_change

Remove outdated comment
  .devcontainer/devcontainer.json
Due: frontend_change

remove redundant test
  package/tests/test_api/test_rest/test_responses/test_nodes.py
Due: backend_change

address PR comments2
  package/kedro_viz/integrations/notebook/data_loader.py
Due: backend_change

change generate_html
  package/kedro_viz/integrations/notebook/visualizer.py
  package/tests/test_integrations/test_notebook_visualizer.py
Due: backend_change

fix broken doc links
  docs/source/migrate_experiment_tracking.md
Due: frontend_change

Update test_nodes.py
  package/tests/test_api/test_rest/test_responses/test_nodes.py
Due: backend_change

use new catalog apis and retain backwards comp
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

lint
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Update package-lock.json
  package-lock.json
Due: frontend_change

Update getVersion.json
  demo-project/build/graphql/getVersion.json
Due: frontend_change

Pipeline filter icon button added
  src/actions/index.js
  src/components/app/app.js
  src/components/container/container.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/icons/filter.js
  src/components/primary-toolbar/primary-toolbar.js
  src/store/initial-state.js
  src/store/middleware.js
Due: frontend_change

Revert container.js
  src/components/container/container.js
Due: frontend_change

Revert package.json
  package.json
Due: frontend_change

add to localStorage
  src/store/store.js
Due: frontend_change

add coverage
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

Update action.yml
  .github/actions/install_node_dependencies/action.yml
Due: frontend_change

done
  docs/source/migrate_experiment_tracking.md
Due: frontend_change

Update docs/source/migrate_experiment_tracking.md
  docs/source/migrate_experiment_tracking.md
Due: frontend_change
