Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Remove importlib_metadata fallback import (#2545)
  package/kedro_viz/api/rest/utils.py
Due: backend_change

done
  src/components/flowchart/flowchart.jsx
  src/components/loading-pipeline.js
  src/components/minimap/minimap.jsx
  src/components/workflow/workflow.jsx
  src/utils/index.js
Due: frontend_change

fix tests
  src/utils/utils.test.jsx
Due: frontend_change

Fix Kedro-Viz documentation telemetry
  docs/hooks.py
  docs/overrides/main.html
  mkdocs.yml
Due: frontend_change

done
  .github/workflows/auto-merge-demo.yml
  CONTRIBUTING.md
Due: frontend_change

test ci
  package/test_requirements.txt
Due: backend_change

initial node preview draft
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/demo_project/pipelines/preview_tests/__init__.py
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  demo-project/src/demo_project/pipelines/preview_tests/pipeline.py
  package-lock.json
  package.json
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/models/flowchart/node_metadata.py
  src/components/mermaid-renderer/index.js
  src/components/mermaid-renderer/mermaid-renderer.jsx
  src/components/mermaid-renderer/mermaid-renderer.scss
  src/components/mermaid-renderer/mermaid-renderer.test.jsx
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/components/text-renderer/index.js
  src/components/text-renderer/text-renderer.jsx
  src/components/text-renderer/text-renderer.scss
  src/components/text-renderer/text-renderer.test.jsx
Due: backend_change, frontend_change

Auto-merge main to demo during release (#2544)
  .github/workflows/auto-merge-demo.yml
  CONTRIBUTING.md
Due: frontend_change

Refactor: Remove duplicate changed() implementations and unused code. (#2546)
  src/components/flowchart/flowchart.jsx
  src/components/loading-pipeline.js
  src/components/minimap/minimap.jsx
  src/components/workflow/workflow.jsx
  src/utils/index.js
  src/utils/utils.test.jsx
Due: frontend_change

basic testing done for previews
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  demo-project/src/demo_project/pipelines/preview_tests/pipeline.py
Due: frontend_change

basic testing done for previews
  package/kedro_viz/models/flowchart/model_utils.py
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

fix mermaid renderer
  Makefile
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  src/components/mermaid-renderer/mermaid-renderer.jsx
  src/components/mermaid-renderer/mermaid-renderer.scss
  src/components/metadata/metadata.jsx
Due: frontend_change

plotly preview renderer fixed
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/components/plotly-chart/index.js
  src/components/plotly-chart/plotly-chart.scss
  src/components/plotly-renderer/index.js
  src/components/plotly-renderer/plotly-renderer.jsx
  src/components/plotly-renderer/plotly-renderer.scss
  src/components/plotly-renderer/plotly-renderer.test.jsx
  src/utils/plot-templates/dark.js
  src/utils/plot-templates/light.js
Due: frontend_change

fix table renderer
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/components/metadata/styles/metadata.scss
  src/components/preview-table/index.js
  src/components/table-renderer/index.js
  src/components/table-renderer/table-renderer.jsx
  src/components/table-renderer/table-renderer.scss
  src/components/table-renderer/table-renderer.test.jsx
  src/styles/_variables.scss
Due: frontend_change

fix json preview
  src/components/json-object/index.js
  src/components/json-renderer/index.js
  src/components/json-renderer/json-renderer.jsx
  src/components/json-renderer/json-renderer.scss
  src/components/json-renderer/json-theme.js
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata-row.jsx
  src/components/metadata/metadata.jsx
  src/components/metadata/styles/metadata.scss
Due: frontend_change

simplify example
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  demo-project/src/demo_project/pipelines/preview_tests/pipeline.py
  src/components/metadata-modal/metadata-modal.jsx
Due: frontend_change

add metadata code preview
  src/components/metadata/metadata-code.jsx
  src/components/metadata/styles/metadata-code.scss
  src/components/text-renderer/text-renderer.jsx
  src/components/text-renderer/text-renderer.scss
Due: frontend_change

simplify previews
  src/components/metadata/metadata.jsx
  src/components/metadata/preview-wrapper.jsx
Due: frontend_change

cleaning previews as suggested
  package/kedro_viz/models/flowchart/model_utils.py
  package/kedro_viz/models/flowchart/node_metadata.py
  src/components/metadata/metadata.jsx
Due: backend_change, frontend_change

remove html
  package/kedro_viz/html/.vite/manifest.json
  package/kedro_viz/html/404.html
  package/kedro_viz/html/assets/cytoscape.esm-CyJtwmzi.js
  package/kedro_viz/html/assets/defaultLocale-C4B-KCzX.js
  package/kedro_viz/html/assets/index-BRNdNsf9.css
  package/kedro_viz/html/assets/init-Gi6I4Gst.js
  package/kedro_viz/html/assets/katex-Cu_Erd72.js
  package/kedro_viz/html/assets/ordinal-Cboi1Yqb.js
  package/kedro_viz/html/autoreload.html
  package/kedro_viz/html/favicon.ico
  package/kedro_viz/html/index.html
  package/kedro_viz/html/telemetry.html
Due: backend_change

filtering in the backend
  src/components/metadata/metadata.jsx
Due: frontend_change

remove preview changes
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/demo_project/pipelines/preview_tests/__init__.py
  demo-project/src/demo_project/pipelines/preview_tests/nodes.py
  demo-project/src/demo_project/pipelines/preview_tests/pipeline.py
  package/kedro_viz/api/rest/responses/nodes.py
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change, frontend_change

remove preview changes fe
  src/components/mermaid-renderer/index.js
  src/components/mermaid-renderer/mermaid-renderer.jsx
  src/components/mermaid-renderer/mermaid-renderer.scss
  src/components/mermaid-renderer/mermaid-renderer.test.jsx
  src/components/text-renderer/index.js
  src/components/text-renderer/text-renderer.jsx
  src/components/text-renderer/text-renderer.scss
  src/components/text-renderer/text-renderer.test.jsx
Due: frontend_change

remove preview changes
  package/kedro_viz/models/flowchart/node_metadata.py
Due: backend_change

remove tasknode previews from metadata-modal
  src/components/metadata-modal/metadata-modal.jsx
Due: frontend_change

revert metadatacode styles
  src/components/metadata/styles/metadata-code.scss
Due: frontend_change

revert metadatacode styles
  src/components/metadata/metadata-code.jsx
  src/components/metadata/styles/metadata.scss
Due: frontend_change

revert metadata changes
  package-lock.json
  package.json
  src/components/metadata/metadata.jsx
  src/components/table-renderer/table-renderer.jsx
  src/components/table-renderer/table-renderer.scss
  src/components/table-renderer/table-renderer.test.jsx
  src/utils/plot-templates/dark.js
  src/utils/plot-templates/light.js
Due: frontend_change

revert make file change
  Makefile
Due: frontend_change

revert plotly changes
  src/components/plotly-renderer/plotly-renderer.jsx
  src/components/plotly-renderer/plotly-renderer.scss
Due: frontend_change

revert plotly changes
  src/components/plotly-renderer/plotly-renderer.test.jsx
Due: frontend_change

revert table scss changes
  src/components/table-renderer/table-renderer.jsx
  src/components/table-renderer/table-renderer.scss
  src/components/table-renderer/table-renderer.test.jsx
  src/styles/_variables.scss
Due: frontend_change

plotly rename
  src/components/plotly-renderer/plotly-renderer.jsx
Due: frontend_change

refactor preview to be reused in modal and metadata preview block
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/components/preview-renderer/index.js
  src/components/preview-renderer/preview-renderer.jsx
  src/utils/hooks/use-normalized-preview.js
Due: frontend_change

refactor preview to be reused in modal and metadata preview block
  src/components/metadata-modal/metadata-modal.jsx
Due: frontend_change

add test files for new preview helper components
  src/components/metadata/preview-wrapper.test.jsx
  src/components/preview-renderer/preview-renderer.test.jsx
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
