Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

update unit test for coverage
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

remove branch condition for automate release version check
  .github/workflows/check-release.yml
Due: frontend_change

remove branch condition for automate release version check (#1514)
  .github/workflows/check-release.yml
Due: frontend_change

update unit tests
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

Refactor visualize dataset stats from DataNodeMetadata to DataNode (#1499)
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/config.js
Due: backend_change, frontend_change

Support for Python 3.11 (#1502)
  .circleci/continue_config.yml
  Makefile
  RELEASE.md
  package/features/environment.py
  package/setup.py
Due: backend_change, ci_change, frontend_change

initial draft for resolving connection error
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
Due: backend_change

Remove Python Upper Bound Requirements (#1506)
  RELEASE.md
  package/features/environment.py
  package/features/steps/lower_requirements.txt
  package/kedro_viz/__init__.py
  package/setup.py
  package/tests/test_import.py
Due: backend_change, frontend_change

refactor launchers and test code
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
  package/tests/test_launchers/test_utils.py
  package/tests/test_server.py
Due: backend_change

modify unit tests
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

Fix: Adding favicon to Kedro Demo (#1509)
  RELEASE.md
  package/kedro_viz/api/apps.py
  package/tests/test_api/test_apps.py
Due: backend_change, frontend_change

fix run_viz tests
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

fix lint errors
  package/tests/test_launchers/test_cli.py
Due: backend_change

Release v6.5.0 (#1513)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

add release record
  RELEASE.md
Due: frontend_change

modify comment
  package/kedro_viz/launchers/utils.py
Due: backend_change

refactored to latest
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
Due: backend_change

some refactor
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/utils/api_tools.py
Due: backend_change

fix lint - WIP
  .gitignore
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/server.py
  package/kedro_viz/utils/api_tools.py
Due: backend_change, frontend_change

refactor work
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployer/__init__.py
  package/kedro_viz/integrations/deployer/deployment.py
Due: backend_change

fix lint
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployer/deployment.py
Due: backend_change

remove old code
  package/kedro_viz/api/rest/responses.py
Due: backend_change

further refactor
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployer/deployment.py
Due: backend_change

add error handling and debugging
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/__init__.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/server.py
  package/kedro_viz/utils/api_tools.py
Due: backend_change

fix based on review
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/server.py
  package/kedro_viz/utils/api_tools.py
Due: backend_change

modify upload static files logic
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

refactor upload api with latest fsspec
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

fix unit tests_1
  package/kedro_viz/api/rest/responses.py
  package/tests/conftest.py
Due: backend_change

revert os logic to pathlib
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

Update dependencies, update apollo config, update worker to use a mock worker for SSR
  RELEASE.md
  package-lock.json
  package.json
  src/apollo/config.js
  src/components/node-list/node-list-tree.js
  src/utils/worker.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Update package lock
  package-lock.json
Due: frontend_change

Update readme and release me
  README.md
  RELEASE.md
  package.json
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
