Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Code review suggestions
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/aws_deployer.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

temp code removed
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

in working condition
  demo-project/conf/base/catalog_01_raw.yml
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/services/__init__.py
  package/kedro_viz/services/modular_pipelines.py
Due: backend_change, frontend_change

first draft version of published content version
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/url-box/index.js
Due: frontend_change

remove disclaimer content
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

fix width for published content
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

tidy up code
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

fix jsx error
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

make expandAllPipelines outside of flags
  src/actions/index.js
  src/actions/pipelines.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/reducers/index.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

revert previous change
  src/components/app/app.test.js
  src/store/initial-state.js
Due: frontend_change

update state name to showPublishedContent
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

push in a good state
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

finally
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

update pipeline_registry
  demo-project/src/demo_project/pipeline_registry.py
Due: frontend_change

fix params
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, frontend_change

add expandAllPipelines to nonPipelineState as before
  src/store/initial-state.js
Due: frontend_change

update comments
  src/actions/index.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/store/initial-state.js
  src/store/normalize-data.js
Due: frontend_change

testing strawberry fix
  package/requirements.txt
Due: backend_change

fix strawberry graphql 0.228.0 release doc
  package/requirements.txt
  src/apollo/schema.graphql
Due: backend_change, frontend_change

linking between dropdown and populated field
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

fix boolean check
  src/store/initial-state.js
  src/utils/index.js
Due: frontend_change

update tests
  src/actions/actions.test.js
  src/reducers/reducers.test.js
  src/store/initial-state.test.js
  src/utils/utils.test.js
Due: frontend_change

hot fix for strawberry graphql schema change
  src/apollo/schema.graphql
Due: frontend_change

update release note and file permissions
  RELEASE.md
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

initial draft
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/constants.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

revert permissions
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

un-disable button if populated content is ready
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

only check data if showPublishedContent is true
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

set over-hidden for the URL link
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

remove default props to clear warning in the console
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/icon-button/icon-button.js
  src/components/ui/menu-option/menu-option.js
  src/components/ui/search-bar/search-bar-renderer.js
  src/components/ui/search-bar/search-bar.js
  src/components/ui/search-bar/search-input/search-input.js
  src/components/ui/tooltip/tooltip.js
Due: frontend_change

set visible true for iconButton
  src/components/ui/button/button.js
  src/components/ui/icon-button/icon-button.js
Due: frontend_change

set default props
  src/components/ui/icon-button/icon-button.js
  src/components/ui/search-bar/search-input/search-input.js
  src/components/ui/tooltip/tooltip.js
Due: frontend_change

test with local data for localStorage update
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Fix for schema change in strawberry-graphql JSON scalar (#1903)
  RELEASE.md
  src/apollo/schema.graphql
Due: frontend_change

update missing default props
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/dropdown/dropdown.js
Due: frontend_change

remove default props from App.js
  tools/test-lib/react-app/app.js
Due: frontend_change

update inputValues when published content is ready
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change
