Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

format and lint check
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
Due: backend_change

remove datasetstats hook from mandatory plugins
  package/kedro_viz/constants.py
Due: backend_change

Inherit tags from nodes for modular pipelines (#1542)
  cypress/tests/ui/flowchart/menu.cy.js
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  src/selectors/nodes.js
  src/selectors/nodes.test.js
Due: frontend_change

fixed and release doc added
  RELEASE.md
  src/selectors/nodes.js
  src/selectors/nodes.test.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Inherit Tags for Modular Pipelines. (#1545)
  RELEASE.md
  src/selectors/nodes.js
  src/selectors/nodes.test.js
Due: frontend_change

update pip fsspec
  package/requirements.txt
Due: backend_change

modify ignore plugins based on PR comments
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

fix lint issues
  package/kedro_viz/server.py
Due: backend_change

fix e2e tests
  package/kedro_viz/integrations/kedro/data_loader.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

modify options flag and add read me
  README.md
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

create pydantic flowchart classes
  package/kedro_viz/models/flowchart_pydantic.py
Due: backend_change

Update UI with docs links; update feature hits
  src/components/feature-hints/feature-hints-content.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Update feature hints for when Viz is deployed
  src/components/feature-hints/feature-hint-dot.js
  src/components/feature-hints/feature-hints.js
Due: frontend_change

Update release notes
  RELEASE.md
Due: frontend_change

Update release notes again
  RELEASE.md
Due: frontend_change

test
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

Add tracking to create_api_app_from_file
  package/kedro_viz/api/apps.py
Due: backend_change

fix e2e
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

test-handling
  package/features/steps/cli_steps.py
Due: backend_change

test with flag
  package/features/steps/cli_steps.py
Due: backend_change

try
  package/features/steps/cli_steps.py
Due: backend_change

logging to see wahts' wrong
  package/features/steps/cli_steps.py
Due: backend_change

testing some context stuff
  package/features/environment.py
Due: backend_change

update to kedro 0.18.2
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

switch to 0.18.2
  package/features/steps/cli_steps.py
Due: backend_change

support for py 3.11
  package/features/environment.py
Due: backend_change

fix e2e tests
  package/features/environment.py
  package/features/viz.feature
Due: backend_change

fix telemetry for sharaeable viz
  package/kedro_viz/api/apps.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

Revert changes to create_api_app_from_file function
  package/kedro_viz/api/apps.py
Due: backend_change

fix lint issue
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

Fix for telemetry in sharaeable viz (#1551)
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

fixing pydantic class conversions
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/flowchart_pydantic.py
Due: backend_change

Design QA changes
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Update release file
  RELEASE.md
Due: frontend_change

PR review fixes
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
