Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

remove unused variables
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

fix copied button styling
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

Fix broken URL when active pipeline name changes on initial load (#1914)
  RELEASE.md
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: backend_change, frontend_change

seperate components
  src/components/shareable-url-modal/compatibility-view/compatibility-view.js
  src/components/shareable-url-modal/error-view/error-view.js
  src/components/shareable-url-modal/loading-view/loading-view.js
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/published-view/published-view.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/success-view/success-view.js
  src/components/shareable-url-modal/utils.js
  src/config.js
Due: frontend_change

use shareableUrlMessages from config
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

include gitpod in isRunningLocal
  src/utils/index.js
Due: frontend_change

remove isRunningLocally for QA
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: frontend_change

include check for gitpod
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: frontend_change

update onChange name
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

include gitpod in hosts
  src/utils/index.js
Due: frontend_change

include gitpod in the list
  src/utils/index.js
Due: frontend_change

first draft of the copy
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

revert changes
  src/utils/index.js
Due: frontend_change

updae copy
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

include image
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

move handleResponseUrl to util
  src/components/shareable-url-modal/published-view/published-view.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/success-view/success-view.js
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/utils.js
Due: frontend_change

first 2 e2e tests to cover new changes
  cypress/support/commands.js
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

comment out the preview data
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Disable preview docs
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/preview_datasets.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  package/tests/test_models/test_flowchart.py
Due: backend_change, frontend_change

include gitpod in the list (#1923)
  src/utils/index.js
Due: frontend_change

revert code
  package/tests/test_models/test_flowchart.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

include missing dot
  RELEASE.md
Due: frontend_change

Switch _transcoding to transcoding
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

fix some design issue
  src/components/shareable-url-modal/main-view/main-view.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

fix hover state for copy button
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

Rename is_preview_disabled
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

fix dropdown background colour
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

fix copied error
  src/components/shareable-url-modal/published-view/published-view.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/url-box/url-box.js
Due: frontend_change

update release note
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Add transcoding related utility functions to Kedro viz
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/utils.py
Due: backend_change

no coverage
  package/kedro_viz/utils.py
Due: backend_change

replace companies csv with json version
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/data/01_raw/companies.csv
  demo-project/data/01_raw/companies_json.json
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Add transcoding related utility functions to Kedro viz (#1928)
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/utils.py
Due: backend_change

Update nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
Due: frontend_change

fix inputs
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

fix cypress tests
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

Update menu.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
