Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

reorganize runner panels
  src/components/runner/runner-manager.scss
Due: frontend_change

add scroll elements for long list in runner
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

move parameter editing to metadata panel
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

enabled dark and light modes
  src/components/runner/runner-manager.scss
Due: frontend_change

connect the pipeline filter to the control panel
  src/components/runner/runner-manager.js
Due: frontend_change

create a dialog box to select parameters adn datasets to the watch list
  src/components/draw/draw-nodes.js
  src/components/draw/styles/index.scss
  src/components/flowchart/flowchart.js
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
  src/components/runner/watch-list-dialog.js
Due: frontend_change

connect filter to runner preview
  src/components/runner/runner-manager.js
Due: frontend_change

backend runner connection
  src/components/runner/runner-manager.js
  src/utils/runner-api.js
Due: frontend_change

persist job states
  src/components/runner/runner-manager.js
Due: frontend_change

scrolling for logs
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

Add parameter overrides to the run command
  src/components/runner/runner-manager.js
Due: frontend_change

reorder control panel and watch list buttons
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

clean spacings
  src/components/runner/runner-manager.scss
Due: frontend_change

restructure the job logs and sizing
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

persist watch list
  src/components/runner/runner-manager.js
Due: frontend_change

attach selected parameter to sid
  src/components/runner/runner-manager.js
Due: frontend_change

update node data when watch list clicked
  src/components/runner/runner-manager.js
Due: frontend_change

log the CycleError exception and layer_dependencies
  package/kedro_viz/services/layers.py
Due: backend_change

Update Kedro-Viz demo-project (#2447)
  demo-project/__init__.py
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/databricks.yml
  demo-project/pyproject.toml
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/setup.py
  demo-project/src/tests/pipelines/__init__.py
  demo-project/src/tests/test_run.py
  demo-project/tests/__init__.py
  demo-project/tests/test_run.py
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

lint format
  package/kedro_viz/services/layers.py
Due: backend_change

Worker issue in vscode webview
  package.json
  src/utils/worker.js
  vite.config.js
  vite.lib.config.js
  webpack.lib.js
Due: frontend_change

update copy
  package/kedro_viz/services/layers.py
Due: backend_change

update tests for the new message
  package/tests/test_services/test_layers.py
Due: backend_change

Test fixes
  tools/test-lib/react-app/__mocks__/inline-worker-mock.js
  tools/test-lib/react-app/app.js
  tools/test-lib/react-app/jest.setup.js
  tools/test-lib/react-app/package.json
Due: frontend_change

Remove @astrojuanlu from CODEOWNERS
  .github/CODEOWNERS
Due: frontend_change

metadata with parameter editor template
  src/components/metadata/metadata.js
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

attach parameters to editor
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

fix yaml string formating
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

unified variable to store edit parameters
  src/components/runner/runner-manager.js
Due: frontend_change

remove the layer dependency
  package/kedro_viz/services/layers.py
  package/tests/test_services/test_layers.py
Due: backend_change

visual improvement and monitoring of editted parameters
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

include N999 in ruff.toml
  ruff.toml
Due: frontend_change

ruff format
  demo-project/tests/test_run.py
Due: frontend_change

fix telemetry 0.6.4 build issue
  package/kedro_viz/integrations/kedro/telemetry.py
Due: backend_change

lint fix
  demo-project/__init__.py
  demo-project/tests/test_run.py
  package/kedro_viz/integrations/kedro/telemetry.py
Due: backend_change, frontend_change

Fix CI build issue due to kedro-telemetry 0.6.4 release (#2470)
  demo-project/__init__.py
  demo-project/tests/test_run.py
  package/kedro_viz/integrations/kedro/telemetry.py
Due: backend_change, frontend_change

resturcture control panel to show parameter changes
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

fix the reset button
  src/components/runner/runner-manager.js
Due: frontend_change

persist parameter changes across pages
  src/components/runner/runner-manager.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
