Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Move README to package/ directory
  README.md
  package/README.md
Due: backend_change, frontend_change

clean up docs
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
Due: frontend_change

fix caps on titles
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
Due: frontend_change

change to 0.19.1
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

typos
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

clean up cloud process steps
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

add links and fix typos
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
Due: frontend_change

important doc note added for kedro-datasets 2.1 or higher
  docs/source/experiment_tracking.md
Due: frontend_change

add new gifs
  docs/source/images/azure_add_role_assign.png
  docs/source/images/azure_app_registration.png
  docs/source/images/azure_app_secrets.png
  docs/source/images/azure_client_secret.png
  docs/source/images/azure_client_secret_value.png
  docs/source/images/azure_iam_tab.png
  docs/source/images/azure_member_assign.png
  docs/source/images/azure_storage_role.png
  docs/source/images/gcp_sa.png
  docs/source/images/gcp_sa_details.png
  docs/source/images/gcp_sa_key_confirm.png
  docs/source/images/gcp_sa_key_download.png
  docs/source/images/gcp_sa_keys.png
  docs/source/images/gcp_sa_roles.png
  docs/source/images/kedro-publish-aws.gif
  docs/source/images/kedro-publish-azure.gif
  docs/source/images/kedro-publish-gcp.gif
  docs/source/images/kedro_viz_share_credentials1.png
  docs/source/images/kedro_viz_share_credentials2.png
  docs/source/images/kedro_viz_share_credentials3.png
  docs/source/images/kedro_viz_share_credentials4.png
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

Fix Lint and Windows build (#1763)
  .circleci/continue_config.yml
  package/kedro_viz/data_access/repositories/graph.py
Due: backend_change, ci_change, frontend_change

add endpoint links
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
Due: frontend_change

test endpoints
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

added note on uploading files
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

working draft without pytests for package-compatibility
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/constants.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

del sessions.db
  demo-project/data/session_store.db
  docs/source/conf.py
Due: frontend_change

revert session_store
  demo-project/data/session_store.db
Due: frontend_change

Docs text and links updated
  src/components/shareable-url-modal/shareable-url-modal.js
  src/config.js
Due: frontend_change

add pytests
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

Kedro-datasets incompatibility message aded under experiment tracking
  src/components/experiment-tracking/details/details.js
  src/components/experiment-tracking/details/details.scss
  src/components/experiment-wrapper/experiment-wrapper.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/config.js
  src/utils/index.js
Due: frontend_change

Test fix
  cypress/fixtures/mock/package-compatibilities-compatible.json
  cypress/fixtures/mock/package-compatibilities-incompatible.json
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

add exception test
  package/kedro_viz/api/rest/responses.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

improve api
  package/kedro_viz/api/rest/responses.py
Due: backend_change

fixes based on reviews
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
Due: frontend_change

change not reflected
  docs/source/publish_and_share_kedro_viz_on_azure.md
Due: frontend_change

typo
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

add azure exception to deploy command
  package/kedro_viz/launchers/cli.py
Due: backend_change

Update platform_agnostic_sharing_with_kedro_viz.md
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
Due: frontend_change

revert kedro-datasets pin
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

Shareableviz Docs for Azure and GCP (#1748)
  docs/source/images/kedro-publish-aws.gif
  docs/source/images/kedro-publish-azure.gif
  docs/source/images/kedro-publish-gcp.gif
  docs/source/images/kedro_viz_share_credentials1.png
  docs/source/images/kedro_viz_share_credentials2.png
  docs/source/images/kedro_viz_share_credentials3.png
  docs/source/images/kedro_viz_share_credentials4.png
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
Due: frontend_change

update pin
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

Shareable viz modal content and links updated (#1770)
  src/components/shareable-url-modal/shareable-url-modal.js
  src/config.js
Due: frontend_change

Revert temporary `kedro-datasets` pins (#1772)
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

Correct version number 2.1.0 updated.
  docs/source/experiment_tracking.md
  src/components/experiment-tracking/details/details.js
Due: frontend_change

fixed
  demo-project/src/demo_project/cli.py
Due: frontend_change

update support matrix with python version
  README.md
Due: frontend_change

test html
  README.md
Due: frontend_change

finalize html md
  README.md
Due: frontend_change

style package names
  README.md
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change
