Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

paniced about introducing a security issue so simplified error message
  src/components/flowchart-wrapper/flowchart-wrapper.jsx
  src/components/flowchart-wrapper/flowchart-wrapper.test.jsx
  src/config.js
Due: frontend_change

fix: URL tag parameters not reflected in filter panel
  src/components/nodes-panel/utils/filters-context.jsx
  src/store/helpers.js
  src/store/initial-state.js
  src/store/initial-state.test.js
  src/store/store.js
Due: frontend_change

Dependabot high severity fixes (#2579)
  package-lock.json
  package.json
Due: frontend_change

fix: URL tag parameters not reflected in filter panel
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/flowchart/panel.cy.js
  src/actions/pipelines.test.js
  src/components/nodes-panel/utils/filters-context.jsx
  src/store/helpers.js
  src/store/initial-state.js
  src/store/initial-state.test.js
  src/store/store.js
Due: frontend_change

Dependabot high severity fixes for multiple packages
  package-lock.json
  package.json
Due: frontend_change

Dependabot high severity fixes for multiple packages in test-lib
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

Add verbose flag to CLI steps
  package/features/steps/cli_steps.py
Due: backend_change

kedro new --starter fix on Python <3.11 with chardet < 7
  cookiecutter-issue.md
  package/test_requirements.txt
Due: backend_change, frontend_change

temp removed
  cookiecutter-issue.md
Due: frontend_change

environment.py updated
  package/features/environment.py
Due: backend_change

kedro new --starter fix on Python <3.11 with chardet < 7 (#2590)
  package/features/environment.py
  package/test_requirements.txt
Due: backend_change

Update lockfile
  package-lock.json
Due: frontend_change

Remove '--verbose' option from CLI command
  package/features/steps/cli_steps.py
Due: backend_change

Dependabot high severity fixes for multiple package in test-lib (#2587)
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

Dependabot high severity fixes for multiple packages (#2586)
  package-lock.json
  package.json
Due: frontend_change

Dependabot D3 high severity fixes (#2582)
  babel.config.json
  package-lock.json
  package.json
Due: frontend_change

Bump tar from 6.2.1 to 7.5.11
  package-lock.json
  package.json
Due: frontend_change

Bump tar from 6.2.1 to 7.5.11 (#2595)
  package-lock.json
  package.json
Due: frontend_change

NodeContextMenu support for VSCode
  src/actions/nodes.js
  src/components/draw/draw-nodes.jsx
  src/components/draw/draw-nodes.test.jsx
  src/components/flowchart/flowchart.jsx
  src/store/middleware.js
  src/store/middleware.test.js
Due: frontend_change

High and Medium Severity fixes
  package-lock.json
  package.json
Due: frontend_change

Fixes in tools/test-lib/react-app
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

react-router fix
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

Update lock file at tools/test-lib/react-app
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

fix(security)(components): potential dom xss via unsafe html insertion in row
  src/components/ui/row-text/row-text.jsx
Due: frontend_change

fix(security): template variable injection into inline javascript
  public/telemetry.html
Due: frontend_change

Add `kedro_node_name` to main response
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/models/flowchart/nodes.py
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change

Test fixes
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
Due: backend_change

Unit test fixes
  package/tests/test_api/main
Due: backend_change

High and Medium Severity fixes (#2610)
  package-lock.json
  package.json
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

Fix typos across source files and docs
  LAYOUT_ENGINE.md
  STYLE_GUIDE.md
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  demo-project/Makefile
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/tests/conftest.py
  src/actions/actions.test.js
  src/actions/pipelines.js
  src/components/app/app.jsx
  src/components/flowchart/flowchart.test.jsx
  src/components/json-renderer/json-theme.js
  src/components/node-list-tree/styles/node-list.scss
  src/components/primary-toolbar/primary-toolbar.jsx
  src/components/ui/dropdown/dropdown-renderer.jsx
  src/components/ui/dropdown/dropdown.jsx
  src/components/ui/row-text/row-text.scss
  src/components/ui/search-bar/search-input/search-input.jsx
  src/components/ui/search-bar/search-input/search-input.scss
  src/selectors/filtered-node-list-items.js
  src/selectors/layout.test.js
  src/store/normalize-data.test.js
  src/utils/graph/common.js
  src/utils/random-data.js
Due: backend_change, frontend_change

Add CMP script to demo site
  .github/workflows/deploy-demo-with-kedro-builder.yml
  .github/workflows/deploy-demo.yml
  vite.config.js
Due: frontend_change

Update data_loader.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Update data_loader.py (#2629)
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Fix typos across source files and docs (#2624)
  LAYOUT_ENGINE.md
  STYLE_GUIDE.md
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  demo-project/Makefile
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/tests/conftest.py
  src/actions/actions.test.js
  src/actions/pipelines.js
  src/components/app/app.jsx
  src/components/flowchart/flowchart.test.jsx
  src/components/json-renderer/json-theme.js
  src/components/node-list-tree/styles/node-list.scss
  src/components/primary-toolbar/primary-toolbar.jsx
  src/components/ui/dropdown/dropdown-renderer.jsx
  src/components/ui/dropdown/dropdown.jsx
  src/components/ui/row-text/row-text.scss
  src/components/ui/search-bar/search-input/search-input.jsx
  src/components/ui/search-bar/search-input/search-input.scss
  src/selectors/filtered-node-list-items.js
  src/selectors/layout.test.js
  src/store/normalize-data.test.js
  src/utils/graph/common.js
  src/utils/random-data.js
Due: backend_change, frontend_change

kedro_node_name to full_name
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/models/flowchart/nodes.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change

Build fix
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change

Expose full internal Kedro node name as `kedro_node_name` in pipeline API response. (#2621)
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/models/flowchart/nodes.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
  package/tests/test_models/test_flowchart/test_nodes.py
Due: backend_change

Add CMP script to demo site (#2628)
  .github/workflows/deploy-demo-with-kedro-builder.yml
  .github/workflows/deploy-demo.yml
  vite.config.js
Due: frontend_change

Add more context for node context menu
  src/store/middleware.js
Due: frontend_change

NodeContextMenu support for VSCode (#2609)
  src/actions/nodes.js
  src/components/draw/draw-nodes.jsx
  src/components/draw/draw-nodes.test.jsx
  src/components/flowchart/flowchart.jsx
  src/store/middleware.js
  src/store/middleware.test.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
