Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

update kedro conda link
  CONTRIBUTING.md
Due: frontend_change

initial draft
  package/kedro_viz/constants.py
  package/kedro_viz/launchers/cli.py
Due: backend_change

Upgrading React testing-library to latest
  package-lock.json
  package.json
  src/setupTests.js
Due: frontend_change

add unit tests
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

refactor dataset factory pattern
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

adjust exception handlers
  package/kedro_viz/launchers/cli.py
Due: backend_change

replace print with click echo
  package/kedro_viz/launchers/cli.py
Due: backend_change

Display hosted URL in CLI while launching kedro viz (#1644)
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/requirements.txt
Due: backend_change, frontend_change

Remove support for Python 3.7 (#1660)
  .circleci/continue_config.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  package/features/environment.py
  package/requirements.txt
  package/setup.py
  package/test_requirements.txt
Due: backend_change, ci_change, frontend_change

fix PR comments
  package/kedro_viz/server.py
Due: backend_change

Fix for dataset existence check in factory pattern discovery (#1659)
  RELEASE.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change, frontend_change

test viz group initial draft
  package/kedro_viz/launchers/cli.py
  package/setup.py
Due: backend_change

Fix Kedro-viz embedded as an IFrame (#1658)
  demo-project/Dockerfile
  package/kedro_viz/api/apps.py
Due: backend_change, frontend_change

fixed
  CONTRIBUTING.md
  package/features/steps/cli_steps.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

fix lint
  package-lock.json
  package/features/steps/cli_steps.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change, frontend_change

update viz group help text
  package/kedro_viz/launchers/cli.py
Due: backend_change

add pytest
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix e2e tests
  package/features/steps/cli_steps.py
Due: backend_change

Add new notes for upcoming release
  RELEASE.md
Due: frontend_change

merge viz group and adjust deploy command
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

Flowchart doesn't automatically reset the zoom when actions are performed
  src/components/flowchart/flowchart.js
Due: frontend_change

Correct typo in RELEASE file
  RELEASE.md
Due: frontend_change

Remove redundant bullet point in RELEASE.md
  RELEASE.md
Due: frontend_change

Remove redundant command deploy from group
  package/kedro_viz/launchers/cli.py
Due: backend_change

Adjust doc refs of 'kedro viz' to 'kedro viz run'
  README.md
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Update more doc references to 'kedro viz run'
  README.md
  demo-project/README.md
  docs/source/experiment_tracking.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

remove custom command group class
  package/kedro_viz/launchers/cli.py
Due: backend_change

WIP
  README.md
  docs/source/kedro-viz_visualisation.md
  package/kedro_viz/api/rest/responses.py
Due: backend_change, frontend_change

WIP-2
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Drop Kedro 17 (#1669)
  CONTRIBUTING.md
  package-lock.json
  package/features/steps/cli_steps.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

Flowchart doesn't automatically reset the zoom when actions are performed (#1672)
  src/components/flowchart/flowchart.js
Due: frontend_change

Change 'Kedro Viz' to 'Kedro Viz Run' (#1671)
  README.md
  RELEASE.md
  demo-project/README.md
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
  package/features/steps/cli_steps.py
  package/kedro_viz/launchers/cli.py
  package/setup.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

update docs
  README.md
Due: frontend_change

adjust test case
  package/tests/test_launchers/test_cli.py
Due: backend_change

modify save path
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/server.py
Due: backend_change

add release note
  RELEASE.md
Due: frontend_change

update docs
  README.md
  docs/source/share_kedro_viz.md
Due: frontend_change

fix metadata timestamp for shareableviz
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/wrapper/wrapper.js
Due: frontend_change

add timer message
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
Due: backend_change

add pytest for timer
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_utils.py
Due: backend_change
