Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

try-i dunno what count
  .github/workflows/all-checks.yml
  .github/workflows/e2e-tests.yml
Due: frontend_change

try secrets : inherit
  .github/workflows/all-checks.yml
  .github/workflows/e2e-tests.yml
Due: frontend_change

added to right place
  .github/workflows/build-backend.yml
Due: frontend_change

finallllllyyyy
  .github/workflows/e2e-tests.yml
Due: frontend_change

test windows
  .github/workflows/e2e-tests.yml
  .github/workflows/merge-gatekeeper.yml
  package/features/steps/cli_steps.py
Due: backend_change, frontend_change

test on windows
  .github/workflows/e2e-tests.yml
Due: frontend_change

revert everything for now
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/merge-gatekeeper.yml
  package/features/steps/cli_steps.py
Due: backend_change, frontend_change

revert everything for now
  package/features/steps/cli_steps.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

address PR comments
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

fix lint
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

Styles folder added
  vite.config.js
  webpack.lib.js
Due: frontend_change

Remove strawberry-graphql and sqlalchemy instances (#2444)
  .github/styles/Kedro-viz/headings.yml
  .github/styles/Kedro-viz/ignore.txt
  .github/workflows/lint.yml
  Makefile
  package/features/steps/lower_requirements.txt
  package/mypy.ini
  package/requirements.txt
  package/test_requirements.txt
  trufflehog-ignore.txt
Due: backend_change, frontend_change

Log when user do a partial or non sequential pipeline run. (#2440)
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/tests/test_integrations/test_hooks_utils.py
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

v12.0.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

v12.0.0
  esm/a6e19ddb4b8b35a44c4e.worker.js
  esm/a6e19ddb4b8b35a44c4e.worker.js.LICENSE.txt
  esm/f5e1ed6c4945a398111d.worker.js
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
Due: frontend_change

update docs linkt to be compatiable with the new docs format
  src/components/feature-hints/feature-hints-content.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
Due: frontend_change

update test in e2e
  cypress/tests/ui/flowchart/banners.cy.js
Due: frontend_change

include images
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

revert and add databricks.yml
  demo-project/Dockerfile
  demo-project/databricks.yml
Due: frontend_change

use env variable
  demo-project/databricks.yml
Due: frontend_change

Update test_pipeline.py
  demo-project/tests/pipelines/data_science/test_pipeline.py
Due: frontend_change

remove wrong tests
  demo-project/tests/pipelines/__init__.py
  demo-project/tests/pipelines/data_science/test_pipeline.py
Due: frontend_change

update e2e tests to use pre-release version of kedro for testing
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

update e2e tests to use pre-release version of kedro for testing
  package/features/viz.feature
Due: backend_change

update e2e tests to use pre-release version of kedro for testing
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

remove check for isWorkflow view in showing metadata panel
  src/components/metadata/metadata.js
Due: frontend_change

remove the capital We
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

test
  demo-project/src/demo_project/requirements.in
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/server.py
  package/test_requirements.txt
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

correct version
  package/test_requirements.txt
Due: backend_change

fix kedro-datasets version
  package/test_requirements.txt
Due: backend_change

done
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/abstract_dataset_lite.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/flowchart/nodes.py
  package/kedro_viz/models/utils.py
Due: backend_change

make lint
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/utils.py
Due: backend_change

done
  package/kedro_viz/api/rest/router.py
Due: backend_change

fix lint
  package/kedro_viz/api/rest/router.py
Due: backend_change

done
  package/tests/test_data_access/test_repositories/test_data_catalog.py
Due: backend_change

unit test passed
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

temp pin e2e tests
  package/features/viz.feature
Due: backend_change

done
  package/features/steps/cli_steps.py
Due: backend_change

fix issue add RunTime Error
  demo-project/src/demo_project/requirements.in
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/kedro_viz/__init__.py
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change
