Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

v10.3.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

push umd bundle
  umd/d1fbb23f3ade3692e5ec.worker.js
  umd/d1fbb23f3ade3692e5ec.worker.js.LICENSE.txt
  umd/kedro-viz.production.min.js
  umd/kedro-viz.production.min.js.LICENSE.txt
  umd/vendors.production.min.js
  umd/vendors.production.min.js.LICENSE.txt
Due: frontend_change

remove additional commits
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  webpack.lib.js
Due: backend_change, frontend_change

remove additional commits
  package-lock.json
Due: frontend_change

add release note
  RELEASE.md
Due: frontend_change

testing esm module
  demo-project/viz_jupyter_test.ipynb
  esm/c54c291378db909c0f7c.worker.js
  esm/c54c291378db909c0f7c.worker.js.LICENSE.txt
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package/kedro_viz/launchers/notebook_visualizer.py
  webpack.config.js
  webpack.umd.js
Due: backend_change, frontend_change

add esm ref
  demo-project/viz_jupyter_test.ipynb
  package/kedro_viz/launchers/notebook_visualizer.py
Due: backend_change, frontend_change

add esm
  Makefile
  demo-project/viz_jupyter_test.ipynb
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package.json
  package/kedro_viz/launchers/notebook_visualizer.py
  src/utils/viz-entry.js
  umd/d1fbb23f3ade3692e5ec.worker.js
  umd/d1fbb23f3ade3692e5ec.worker.js.LICENSE.txt
  umd/kedro-viz.production.min.js
  umd/kedro-viz.production.min.js.LICENSE.txt
  umd/vendors.production.min.js
  umd/vendors.production.min.js.LICENSE.txt
  webpack.config.js
  webpack.umd.js
Due: backend_change, frontend_change

test with esm
  demo-project/viz_jupyter_test.ipynb
  esm/c54c291378db909c0f7c.worker.js
  esm/d1fbb23f3ade3692e5ec.worker.js
  esm/d1fbb23f3ade3692e5ec.worker.js.LICENSE.txt
  esm/kedro-viz.production.mjs
  package/kedro_viz/launchers/notebook_visualizer.py
  webpack.config.js
Due: backend_change, frontend_change

Update app.js
  src/components/app/app.js
Due: frontend_change

Update package.json
  package.json
Due: frontend_change

add esm draft
  Makefile
  RELEASE.md
  esm/d1fbb23f3ade3692e5ec.worker.js
  esm/d1fbb23f3ade3692e5ec.worker.js.LICENSE.txt
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package.json
  src/utils/viz-entry.js
  webpack.config.js
Due: frontend_change

clean bundle config
  RELEASE.md
  demo-project/viz_jupyter_test.ipynb
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/notebook_visualizer.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  webpack.config.js
Due: backend_change, frontend_change

fix lint and format checks
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/notebook_visualizer.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/test_launchers/test_notebook_visualizer.py
Due: backend_change

temp remove gql checks
  .github/workflows/lint.yml
  Makefile
Due: frontend_change

fix lint
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/notebook_visualizer.py
  package/kedro_viz/utils.py
Due: backend_change

fix lint
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

VSCode filter pipeline
  src/components/app/app.js
Due: frontend_change

fix tests
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
  package/tests/test_utils.py
Due: backend_change

fix doc test
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

fixes based on review
  src/components/flowchart/draw.js
  src/selectors/layers.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

fix docs
  docs/source/publish_and_share_kedro_viz_on_gcp.md
Due: frontend_change

Fix %run_viz using old process in jupyter notebook (#2267)
  RELEASE.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/launchers/utils.py
Due: backend_change, frontend_change

fixed issue with node clicks" ;
  src/components/flowchart/flowchart.js
Due: frontend_change

add granularity to notebook visualizer
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/notebook_visualizer.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/test_launchers/test_notebook_visualizer.py
  package/tests/test_server.py
Due: backend_change

structured notebook visualizer
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/notebook_visualizer.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/test_launchers/test_notebook_visualizer.py
  package/tests/test_server.py
Due: backend_change

remove esm bundle from secret scan
  trufflehog-ignore.txt
Due: frontend_change

Add ESM bundle for Kedro-Viz (#2268)
  Makefile
  RELEASE.md
  esm/d1fbb23f3ade3692e5ec.worker.js
  esm/d1fbb23f3ade3692e5ec.worker.js.LICENSE.txt
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package.json
  src/utils/viz-entry.js
  trufflehog-ignore.txt
  webpack.config.js
Due: frontend_change

updated js link
  package/kedro_viz/launchers/notebook_visualizer.py
Due: backend_change

fix lint
  package/kedro_viz/launchers/notebook_visualizer.py
Due: backend_change

temp change
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/integrations/utils.py
Due: backend_change

restore global navigation
  package/kedro_viz/launchers/notebook_visualizer.py
Due: backend_change

add default globalNavigation
  package/kedro_viz/launchers/notebook_visualizer.py
Due: backend_change

fix cache deprecation
  .github/actions/install_node_dependencies/action.yml
Due: frontend_change

fix based on comments
  package/kedro_viz/launchers/notebook_visualizer.py
  package/kedro_viz/utils.py
  package/tests/test_launchers/test_notebook_visualizer.py
Due: backend_change

ignore files which are hidden and in gitignore
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/utils.py
Due: backend_change

add tests
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/utils.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

add lazy loading support for DataCatalog 2.0
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change
