Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Refactor graph builder to aggregate task and dataset tags globally using _SnapshotGraphIndex
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
Due: backend_change

Rename methods in _SnapshotGraphIndex for clarity and consistency
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
Due: backend_change

Refactor GraphBuilder to use pipeline IDs for better clarity and add error handling for empty snapshots
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Update test_per_node_fields_match_baseline docstring
  package/tests/test_inspection_adapter/test_graph_builder.py
Due: backend_change

Graph builder: main graph from the inspection snapshot (#2697)
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Add layer mapping support to GraphBuilder and implement layer extraction utility
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

Narrow node type in layer edge-case test to fix mypy union-attr
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Raise on conflicting transcoded dataset layers (match legacy backend)
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

Enhance _extract_layers to support dataset name resolution and add unit tests for factory layer precedence
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

match pandas version to kedro
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change, frontend_change

add fix for autoreload to ignore notebook file changes
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_autoreload_file_filter.py
Due: backend_change

update release notes
  RELEASE.md
Due: frontend_change

Add code review suggestions
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

Sync layer support to the reviewed implementation from the layers PR
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

Sync graph builder to the merged graph-builder PR (#2697)
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Restore foundation artefacts missing from the draft
  .gitattributes
  package/kedro_viz/integrations/kedro/inspection/__init__.py
Due: backend_change, frontend_change

Add code review suggestions
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
Due: backend_change

Add code review suggestions
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

chore: refresh root package-lock.json metadata
  package-lock.json
Due: frontend_change

fix(security): resolve npm advisories across both lockfiles
  package-lock.json
  package.json
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

Refactor _extract_layers call to use named parameters for clarity
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
Due: backend_change

Adopt NodeSnapshot.func_name from Snapshot
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/requirements.txt
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Layers: dataset layers from the inspection snapshot (#2700)
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_layers.py
Due: backend_change

Consolidate npm security advisory fixes (#2714)
  package-lock.json
  package.json
  tools/test-lib/react-app/package-lock.json
  tools/test-lib/react-app/package.json
Due: frontend_change

done
  .github/workflows/slash-merge.yml
  demo-project/pyproject.toml
Due: frontend_change

testing
  src/actions/actions.test.js
Due: frontend_change

fix CI
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
Due: backend_change

fix CI
  package/features/steps/cli_steps.py
Due: backend_change

fix CI
  package/features/steps/cli_steps.py
  package/features/steps/sh_run.py
Due: backend_change

fix CI
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

fix CI e2e failures
  package/features/environment.py
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
Due: backend_change

fix lint
  package/features/steps/cli_steps.py
Due: backend_change

Fix for autoreload to ignore notebook file changes (#2712)
  RELEASE.md
  package/features/environment.py
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
  package/features/steps/sh_run.py
  package/features/viz.feature
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_autoreload_file_filter.py
Due: backend_change, frontend_change

Enhance _is_auto_node_name docstring with detailed explanation and examples
  package/kedro_viz/integrations/kedro/node_ids.py
  package/requirements.txt
Due: backend_change

Enhance docstrings for _display_name and _is_auto_node_name functions; add test for task node ID changes with I/O
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/test_ids.py
Due: backend_change

Adopt `NodeSnapshot.func_name` from Snapshot (#2716)
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/requirements.txt
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Adopt NodeSnapshot.func_name so the adapter reproduces the original node IDs
  package/kedro_viz/api/inspection_adapter_provider.py
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/requirements.txt
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_id_lockstep.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_lite_metadata.py
  package/tests/test_inspection_adapter/test_metadata_bridge.py
  package/tests/test_inspection_adapter/test_provider_graph_enrichment.py
Due: backend_change

Modular pipelines from the inspection snapshot
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_modular_pipelines.py
Due: backend_change

Fix modular-pipeline correctness gaps and align naming with the adapter
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/kedro_viz/integrations/kedro/node_ids.py
  package/tests/test_inspection_adapter/test_modular_pipelines.py
Due: backend_change

Enhance graph builder and modular pipelines to support modular membership and improve dataset handling; add tests for modular pipeline behavior and edge cases.
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_modular_pipelines.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
