Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Introduce HashRouter
  src/components/app/app.js
  src/components/wrapper/wrapper.js
  src/utils/hooks/use-generate-pathname.js
Due: frontend_change

Fix `tag` being undefined bug from the backend. (#2162)
  package/kedro_viz/data_access/repositories/graph.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
Due: backend_change

remove components folder
  src/components/filters/filters-group/filters-group.js
  src/components/filters/filters-group/filters-group.scss
  src/components/filters/filters-group/filters-group.test.js
  src/components/filters/filters-row/filters-row.js
  src/components/filters/filters-row/filters-row.scss
  src/components/filters/filters-row/filters-row.test.js
  src/components/filters/filters-section-heading/filters-section-heading.js
  src/components/filters/filters-section-heading/filters-section-heading.scss
  src/components/filters/filters-section-heading/filters-section-heading.test.js
  src/components/filters/filters-section/filters-section.js
  src/components/filters/filters-section/filters-section.scss
  src/components/filters/filters-section/filters-section.test.js
  src/components/filters/filters.js
Due: frontend_change

update tests path
  src/components/filters/filters-section-heading/filters-section-heading.test.js
  src/components/filters/filters-section/filters-section.test.js
Due: frontend_change

Refactor/node list groups (#2166)
  src/components/filters/filters-group/filters-group.js
  src/components/filters/filters-group/filters-group.scss
  src/components/filters/filters-group/filters-group.test.js
  src/components/filters/filters-row/filters-row.js
  src/components/filters/filters-row/filters-row.scss
  src/components/filters/filters-row/filters-row.test.js
  src/components/filters/filters-section-heading/filters-section-heading.js
  src/components/filters/filters-section-heading/filters-section-heading.scss
  src/components/filters/filters-section-heading/filters-section-heading.test.js
  src/components/filters/filters-section/filters-section.js
  src/components/filters/filters-section/filters-section.scss
  src/components/filters/filters-section/filters-section.test.js
  src/components/filters/filters.js
  src/components/filters/filters.scss
  src/components/filters/filters.test.js
  src/components/node-list/index.js
  src/components/node-list/node-list-group.js
  src/components/node-list/node-list-group.test.js
  src/components/node-list/node-list-groups.js
  src/components/node-list/node-list-groups.test.js
  src/components/node-list/node-list.js
  src/components/node-list/node-list.test.js
  src/components/node-list/styles/_group.scss
  src/components/node-list/styles/node-list.scss
  src/components/sliced-pipeline-action-bar/sliced-pipeline-action-bar.test.js
  src/components/ui/toggle-control/toggle-control.scss
Due: frontend_change

Introduce `behaviour` prop object with `reFocus` prop (#2161)
  README.npm.md
  RELEASE.md
  src/components/app/app.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

Replace `watchgod` library with `watchfiles` (#2134)
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/kedro_viz/autoreload_file_filter.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/test_requirements.txt
  package/tests/test_autoreload_file_filter.py
  package/tests/test_launchers/test_cli/test_run.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change, frontend_change

done
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Update kedro-viz_visualisation.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

add protocol check
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

Update docs/source/kedro-viz_visualisation.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

add test
  package/tests/test_integrations/test_hooks.py
Due: backend_change

lint
  package/tests/test_integrations/test_hooks.py
Due: backend_change

foundation for FiltersContext
  src/components/node-list/index.js
  src/components/node-list/node-list-items.js
  src/components/node-list/node-list.js
  src/components/node-list/utils/filters-context.js
Due: frontend_change

Docs Fix on `--save-file` functionality (#2173)
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

remove unused props
  src/components/filters/filters-group/filters-group.js
  src/components/filters/filters-section/filters-section.js
  src/components/filters/filters.js
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/node-list/utils/filters-context.js
Due: frontend_change

node-list-context
  src/components/filters/filters-group/filters-group.js
  src/components/filters/filters-section/filters-section.js
  src/components/filters/filters.js
  src/components/node-list/index.js
  src/components/node-list/node-list-items.js
  src/components/node-list/node-list.js
  src/components/node-list/utils/app-context.js
  src/components/node-list/utils/filters-context.js
  src/components/node-list/utils/node-list-context.js
Due: frontend_change

restructure node-list-item as a helper function
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/node-list/utils/filters-context.js
  src/components/node-list/utils/get-filtered-items.js
  src/components/node-list/utils/node-list-context.js
Due: frontend_change

rename selectors
  src/components/node-list/utils/filters-context.js
  src/components/node-list/utils/node-list-context.js
Due: frontend_change

add check if port is in use
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/utils.py
Due: backend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

rename functions in FiltersContext
  src/components/node-list/node-list.js
  src/components/node-list/utils/filters-context.js
Due: frontend_change

wip
  src/components/node-list/index.js
  src/components/node-list/node-list-tree.js
  src/components/node-list/node-list.js
  src/selectors/disabled.js
Due: frontend_change

automatically increment port
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/utils.py
Due: backend_change

fix unit tests
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

add port occupied test
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

coverage
  package/tests/test_launchers/test_utils.py
Due: backend_change

Update hooks.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

add fallback to private attritbute for known datasets
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

move redux selector to node-list-context
  src/components/node-list/components/row/row.scss
  src/components/node-list/node-list-tree.js
  src/components/node-list/node-list.js
  src/components/node-list/utils/node-list-context.js
Due: frontend_change

coverage
  package/tests/test_integrations/test_hooks.py
Due: backend_change

fixing the hovered node issue
  src/components/node-list/components/row/row.scss
  src/components/node-list/node-list-tree.js
  src/components/node-list/node-list.js
  src/components/node-list/utils/node-list-context.js
Due: frontend_change
