Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Update structure of docs to mkdocs layout
  docs/source/cli-docs.md
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  docs/source/migrate_experiment_tracking.md
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/preview_custom_datasets.md
  docs/source/preview_datasets.md
  docs/source/preview_matplotlib_datasets.md
  docs/source/preview_pandas_datasets.md
  docs/source/preview_plotly_datasets.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
  docs/source/slice_a_pipeline.md
Due: frontend_change

Add mkdocs.yml and move pages to new structure
  docs/index.md
  docs/pages/cli-docs.md
  docs/pages/kedro-viz_visualisation.md
  docs/pages/migrate_experiment_tracking.md
  docs/pages/platform_agnostic_sharing_with_kedro_viz.md
  docs/pages/preview_custom_datasets.md
  docs/pages/preview_datasets.md
  docs/pages/preview_matplotlib_datasets.md
  docs/pages/preview_pandas_datasets.md
  docs/pages/preview_plotly_datasets.md
  docs/pages/publish_and_share_kedro_viz_on_aws.md
  docs/pages/publish_and_share_kedro_viz_on_azure.md
  docs/pages/publish_and_share_kedro_viz_on_gcp.md
  docs/pages/share_kedro_viz.md
  docs/pages/slice_a_pipeline.md
  mkdocs.yml
Due: frontend_change

Update RTD yaml
  .readthedocs.yml
Due: frontend_change

Try fix rdt yaml
  .readthedocs.yml
Due: frontend_change

Copy files from Kedro
  docs/_static/deindex-old-docs.js
  docs/index.md
  docs/javascript/deindex-old-docs.js
  docs/javascript/readthedocs.js
  docs/pages/index.md
  docs/readme.md
  docs/stylesheets/colors.css
  docs/stylesheets/globals.css
  docs/stylesheets/themes.css
  mkdocs.yml
Due: frontend_change

Add assets
  docs/assets/kedro-horizontal-color-on-light.svg
  docs/assets/kedro_logo.svg
Due: frontend_change

Fix image
  docs/pages/index.md
Due: frontend_change

Run status for pipeline run in non realtime
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/pyproject.toml
  src/actions/run-status.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/reducers/index.js
  src/reducers/run-status.js
  src/utils/run-status.js
Due: backend_change, frontend_change

Clean up
  src/utils/run-status.js
Due: frontend_change

initial set up for workflow wrapper
  src/components/global-toolbar/global-toolbar.js
  src/components/icons/workflow.js
  src/components/workflow-wrapper/workflow-wrapper.js
  src/components/wrapper/wrapper.js
Due: frontend_change

create a copy for flowchart for testing
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/flowchart.js
  src/components/flowchart-copy/flowchart.test.js
  src/components/flowchart-copy/index.js
  src/components/flowchart-copy/styles/_edges.scss
  src/components/flowchart-copy/styles/_layers.scss
  src/components/flowchart-copy/styles/_node.scss
  src/components/flowchart-copy/styles/_variables.scss
  src/components/flowchart-copy/styles/flowchart.scss
  src/components/flowchart-copy/with-hooks-hoc.js
  src/components/workflow-wrapper/workflow-wrapper.js
Due: frontend_change

using mock data
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/flowchart.js
  src/components/flowchart-copy/styles/_node.scss
  src/components/sidebar/sidebar.js
  src/reducers/index.js
  src/reducers/status.js
  src/selectors/status.js
  src/utils/status-mock-data.js
Due: frontend_change

initial draft to support data catalog, kedro data catalog and data catalog 2.0
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/feature_engineering/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change, frontend_change

fix lint and format checks
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/feature_engineering/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change, frontend_change

fix tests
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

fix pytest
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

match with the design
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/styles/_node.scss
Due: frontend_change

update mock data and selector for dataSets
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/flowchart.js
  src/selectors/status.js
  src/utils/status-mock-data.js
Due: frontend_change

Modified json
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  src/reducers/run-status.js
  src/selectors/run-status.js
  src/utils/run-status.js
Due: backend_change, frontend_change

update status selector
  src/selectors/status.js
Due: frontend_change

Data fetching at app.js
  src/components/app/app.js
  src/components/container/container.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

Address review comments
  Makefile
  docs/pages/cli-docs.md
  docs/pages/index.md
  docs/pages/kedro-viz_visualisation.md
  docs/pages/platform_agnostic_sharing_with_kedro_viz.md
  docs/pages/preview_datasets.md
  docs/pages/preview_matplotlib_datasets.md
  docs/pages/preview_pandas_datasets.md
  docs/pages/preview_plotly_datasets.md
  docs/pages/publish_and_share_kedro_viz_on_aws.md
  docs/pages/publish_and_share_kedro_viz_on_azure.md
  docs/pages/publish_and_share_kedro_viz_on_gcp.md
  docs/pages/share_kedro_viz.md
Due: frontend_change

move the updateRects to its own file and simplify the code
  src/components/flowchart-copy/draw.js
  src/components/flowchart-copy/updateNodeRects.js
Due: frontend_change

Update hooks.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

Code clean up 1
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change, frontend_change

Enum fix
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/rest/responses/run_events.py
Due: backend_change, frontend_change

address PR comments
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

Code cleanup 2
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change, frontend_change

done
  package-lock.json
  package.json
Due: frontend_change

just remove unused
  demo-project/build/api/metadata
  package.json
Due: frontend_change

draw-utils
  src/components/flowchart/draw-utils.js
  src/components/flowchart/draw.js
Due: frontend_change

abstract updateNodeRect and updateParameterRect
  src/components/flowchart/draw.js
  src/components/flowchart/updateNodeRect.js
  src/components/flowchart/updateParameterRect.js
Due: frontend_change

first try to abstract all different Draw components
  src/components/flowchart/DrawEdges.js
  src/components/flowchart/DrawLayerNames.js
  src/components/flowchart/DrawLayers.js
  src/components/flowchart/DrawNodes.js
  src/components/flowchart/flowchart.js
Due: frontend_change

Dataset loading and saving added
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change, frontend_change

Chore: Remove unused dependencies from package.json #2339
  package-lock.json
  package.json
Due: frontend_change

v11.0.2
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
