Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

remove frontend build for backend unit tests
  .circleci/continue_config.yml
  package/features/steps/cli_steps.py
Due: backend_change, ci_change, frontend_change

remove s3fs requirement to test
  .circleci/continue_config.yml
  package/requirements.txt
Due: backend_change, ci_change, frontend_change

add s3fs without specific version
  package/requirements.txt
Due: backend_change

adjust requirements and add pytests for project metadata
  package/kedro_viz/api/rest/router.py
  package/requirements.txt
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

test open s3fs requirement
  package/requirements.txt
Due: backend_change

Move share viz button to new location; add download icon
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/global-toolbar/global-toolbar.js
  src/components/icons/download.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Update tests
  src/components/global-toolbar/global-toolbar.js
  src/components/global-toolbar/global-toolbar.test.js
Due: frontend_change

Add shareable timestamp component
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/shareable-url-timestamp.js
Due: frontend_change

Update timestamp fetch
  src/components/shareable-url-modal/shareable-url-timestamp.js
Due: frontend_change

add version info and modify route name from /api/timestamp to /api/deploy-viz-metadata
  package/kedro_viz/api/apps.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

Rename file; add version to timestamp
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/shareable-url-modal/shareable-url-metadata.js
Due: frontend_change

Add back correct isRunningLocally check
  src/components/shareable-url-modal/shareable-url-metadata.js
Due: frontend_change

Remove console.log and update endpoint url
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

add pytests for updated api
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

undo all new requirements
  package/requirements.txt
Due: backend_change

undo all fsspec changes
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

added s3fs as dependency
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

fix unit tests
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

clean up tests
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

lint
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

fix lint
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

fix test and lint and compatibility response
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

add packaging
  package/requirements.txt
Due: backend_change

packaging reqs
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

Remove source maps from the Kedro-viz package
  package.json
Due: frontend_change

Consume compatibility endpoint; use Dropdown for bucket regions
  src/components/pipeline-list/pipeline-list.scss
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Update failing test
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Run format-fix
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/server.py
Due: backend_change

Remove unused import
  package/kedro_viz/api/rest/router.py
Due: backend_change

fix lint and router link
  package/kedro_viz/api/rest/router.py
Due: backend_change

Update API endpoint
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Add try/catch; remove console.log
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Update e2e test
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

Update e2e test, again
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

Drodown component update
  src/components/ui/dropdown/dropdown.js
Due: frontend_change

fix api endpoint
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

fixes based on reviews
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/api/rest/utils.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
