Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

use classnames instead
  src/components/html-renderer/html-renderer.jsx
Due: frontend_change

improve css docs in node-color docs
  docs/customise_node_styling.md
Due: frontend_change

fe changes based on review comments
  package-lock.json
  src/components/draw/draw-nodes.jsx
  src/components/flowchart/flowchart.jsx
Due: frontend_change

reuse json read and validate logic
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

remove the sample_markdown from demo project
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/data/01_raw/sample_markdown.md
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

remove extra []
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Feat/text markdown datasets (#2490)
  RELEASE.md
  cypress/tests/ui/workflow/workflow-run-status.cy.js
  demo-project/src/demo_project/extras/datasets/markdown_text_dataset.py
  docs/images/preview_datasets_html.png
  docs/preview_custom_datasets.md
  package.json
  src/components/html-renderer/html-renderer.jsx
  src/components/html-renderer/html-renderer.scss
  src/components/html-renderer/index.js
  src/components/html-renderer/utils.js
  src/components/metadata-modal/metadata-modal.jsx
  src/components/metadata/metadata.jsx
  src/components/metadata/styles/metadata.scss
Due: frontend_change

Node Color Backend (#2487)
  demo-project/.viz/styles.json
  package/kedro_viz/api/rest/responses/pipelines.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/flowchart/nodes.py
  package/kedro_viz/models/metadata.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_kedro_data_loader.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
  package/tests/test_models/test_flowchart/test_nodes.py
  package/tests/test_models/test_flowchart/test_pipeline.py
  package/tests/test_models/test_metadata.py
  package/tests/test_server.py
  package/tests/test_services/test_layers.py
Due: backend_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

update to example
  demo-project/.viz/styles.example.json
Due: frontend_change

adjusted doc based on feedback
  docs/customise_node_styling.md
Due: frontend_change

Add explicit permissions block to GitHub Actions workflows
  .github/workflows/all-checks.yml
  .github/workflows/blocking-issues.yml
  .github/workflows/build-backend.yml
  .github/workflows/check-release.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/label-community-issues.yml
  .github/workflows/lint.yml
  .github/workflows/no-response.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Node Color Frontend (#2488)
  demo-project/.viz/styles.example.json
  package-lock.json
  src/components/draw/draw-nodes.jsx
  src/components/flowchart/flowchart-utils.js
  src/components/flowchart/flowchart.jsx
  src/components/flowchart/flowchart.test.jsx
  src/selectors/nodes.js
  src/store/normalize-data.js
Due: frontend_change

Fix
  .github/workflows/release.yml
Due: frontend_change

Add explicit permissions block to GitHub Actions workflows (#2503)
  .github/workflows/all-checks.yml
  .github/workflows/blocking-issues.yml
  .github/workflows/build-backend.yml
  .github/workflows/check-release.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/label-community-issues.yml
  .github/workflows/lint.yml
  .github/workflows/no-response.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Documentation for Node Color (#2495)
  RELEASE.md
  docs/customise_node_styling.md
  docs/images/custom_node_color.png
  docs/kedro-viz_visualisation.md
  mkdocs.yml
Due: frontend_change

ignore top-level import
  ruff.toml
Due: frontend_change

done
  package/kedro_viz/api/apps.py
  src/utils/index.js
  src/utils/random-utils.js
Due: backend_change, frontend_change

add tests
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
Due: backend_change

Potential fix for code scanning alert no. 42: Uncontrolled data used in path expression
  package/kedro_viz/api/apps.py
Due: backend_change

fix security alert
  package/kedro_viz/api/apps.py
Due: backend_change

fix tests
  package/kedro_viz/api/apps.py
  package/tests/test_api/test_rest/test_responses/test_pipelines.py
Due: backend_change

fix FE security alert
  src/utils/index.js
Due: frontend_change

fix e2e test
  package/requirements.txt
Due: backend_change

done
  package/kedro_viz/api/apps.py
Due: backend_change

fix the med periority one
  package/kedro_viz/api/rest/router.py
Due: backend_change

Fix `high` and `medium` impact code scanning security issues (#2506)
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  package/requirements.txt
  src/utils/index.js
  src/utils/random-utils.js
Due: backend_change, frontend_change

Make MKDocs validation stricter
  mkdocs.yml
Due: frontend_change

Lint
  mkdocs.yml
Due: frontend_change

Add linkcheck job that runs on push
  .github/workflows/docs-linkcheck.yml
Due: frontend_change

fix(viz): support class methods in node metadata
  RELEASE.md
  package/kedro_viz/models/flowchart/node_metadata.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

Make MKDocs validation stricter (#2509)
  .github/workflows/docs-linkcheck.yml
  mkdocs.yml
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Remove Python 3.9 support
  .github/actions/setup_tests/action.yml
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/check-release.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/merge-gatekeeper.yml
  .readthedocs.yml
  CONTRIBUTING.md
  README.npm.md
  RELEASE.md
  demo-project/Dockerfile
  demo-project/pyproject.toml
  package/README.md
  package/features/steps/lower_requirements.txt
  package/pyproject.toml
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

Lint
  package/tests/test_api/test_rest/test_responses/assert_helpers.py
Due: backend_change

Add other supported python versions to readme
  README.npm.md
  package/README.md
Due: backend_change, frontend_change
