Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

fix utc timezone
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

Added linting changes for pipelines
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/utils.py
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

Add missed linting change in utils.py file
  package/kedro_viz/models/utils.py
Due: backend_change

Re-added disable-E1102 linting line
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

fix UTC label
  package/kedro_viz/integrations/deployment/s3_deployer.py
  src/components/shareable-url-modal/shareable-url-metadata.js
Due: backend_change, frontend_change

Added default-case check if None is recieved
  package/kedro_viz/models/utils.py
Due: backend_change

Add additional test case & advised linting changes
  package/tests/test_integrations/test_sqlite_store.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change

Fix UTC timezone in deploy viz metadata (#1567)
  package/kedro_viz/integrations/deployment/s3_deployer.py
  src/components/shareable-url-modal/shareable-url-metadata.js
Due: backend_change, frontend_change

fix pytests
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/flowchart_old.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
Due: backend_change

fix lint errors and pytests
  package/kedro_viz/models/flowchart.py
Due: backend_change

Release v6.6.0 (#1566)
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

Delete redundant, pipeline-failing demo-project changes
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Rename DataSet to Dataset or add Dataset where missing.
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/test_requirements.txt
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Renamed improper 'Code block' ref in cypress test
  cypress/tests/ui/flowchart/flowchart.cy.js
Due: frontend_change

fix lint issues and merge main
  package/kedro_viz/models/flowchart.py
Due: backend_change

Fix lint + unpin docer reqs
  demo-project/src/docker_requirements.txt
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

Add conditional statement, prevent None values being added automatically
  package/kedro_viz/models/flowchart.py
Due: backend_change

Added new test for task_nodes w/ no namespace
  package/tests/test_models/test_flowchart.py
Due: backend_change

fix initialization issues and lint issues
  package/kedro_viz/models/flowchart.py
Due: backend_change

fix push issue
  package/kedro_viz/models/flowchart.py
Due: backend_change

Make sure experiment tracking works with new dataset names
  src/config.js
Due: frontend_change

Try rename all mentions of DataSet to Dataset
  README.md
  cypress/fixtures/graphql/compareThreeRuns.json
  cypress/fixtures/graphql/compareTwoRuns.json
  cypress/fixtures/graphql/getRunData.json
  cypress/fixtures/mock/largeDataset.json
  package-lock.json
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  src/components/experiment-tracking/run-dataset/run-dataset-loader.js
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/experiment-tracking/run-dataset/run-dataset.test.js
  src/components/experiment-tracking/run-plots-modal/run-plots-modal.test.js
  src/components/metadata/metadata.test.js
  src/config.js
  src/utils/data/demo.mock.json
  src/utils/data/node_data.mock.json
  src/utils/data/node_data_stats.mock.json
  src/utils/data/node_json_data.mock.json
  src/utils/data/node_metrics_data.mock.json
  src/utils/data/node_plot.mock.json
  src/utils/data/node_transcoded_data.mock.json
  src/utils/data/spaceflights.mock.json
Due: backend_change, frontend_change

Updated Release.md file with bug fix mention
  RELEASE.md
Due: frontend_change

Fix lint
  package/kedro_viz/models/flowchart.py
Due: backend_change

Remove writing to SQLite in Experiment Tracking in frontend
  package-lock.json
  src/actions/index.js
  src/apollo/mutations.js
  src/apollo/queries.js
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.js
  src/components/experiment-tracking/runs-list/runs-list.js
  src/config.js
  src/reducers/index.js
  src/reducers/runsMetaData.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

Add new mock node to showcase new feature
  demo-project/.gitignore
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/local/credentials.yml
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Update RELEASE.md w/ PR number instead of Issue
  RELEASE.md
Due: frontend_change

Issue #1548: Fix improper display of 'run command' text (#1569)
  RELEASE.md
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change, frontend_change

addressing PR comments
  RELEASE.md
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change, frontend_change

Very rough project, still needs customisation, heap script, robots, conf.py work and shields
  docs/Makefile
  docs/make.bat
  docs/source/_static/css/qb1-sphinx-rtd.css
  docs/source/_static/css/theme-overrides.css
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/breadcrumbs.html
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/index.rst
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

connection error fix on shared servers
  package/kedro_viz/launchers/utils.py
Due: backend_change

replace semver with packaging
  package/features/environment.py
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/constants.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/pypi/__init__.py
  package/kedro_viz/launchers/cli.py
  package/requirements.txt
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_integrations/test_pypi.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

Delete SQL_Qeury data example node from demo-project
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
Due: frontend_change

Delete pylint flag
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

Remove other potential datasets, reducing scope per design decision
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_utils.py
Due: backend_change

Renamed 'Source block' back into 'Code block'
  cypress/tests/ui/flowchart/flowchart.cy.js
  src/components/metadata/metadata-code.js
Due: frontend_change

add release note
  RELEASE.md
Due: frontend_change

Skip optional plugins while running Kedro Viz (#1544)
  README.md
  RELEASE.md
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
  package/setup.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Test modified as per changes
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.test.js
  src/components/experiment-tracking/runs-list-card/runs-list-card.test.js
  src/components/experiment-tracking/runs-list/runs-list.test.js
Due: frontend_change

Rebuild for canvas node error
  package-lock.json
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
