Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

remove mockData
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

remove console.log
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

Fix messaging level when package compatibility is not satisfied (#1904)
  RELEASE.md
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/constants.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change, frontend_change

refactor disable preview cli
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

fix lint
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

fix lint
  package/kedro_viz/server.py
Due: backend_change

include preview dataset
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

adding info tooltip
  src/components/icons/info.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

test ci failure
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/kedro_viz/server.py
  src/actions/actions.test.js
  src/actions/index.js
Due: backend_change, frontend_change

update release note
  RELEASE.md
  package/kedro_viz/server.py
  src/actions/actions.test.js
  src/actions/index.js
Due: backend_change, frontend_change

fix build issue due to matplotlib new update
  demo-project/.version
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

Fix build failure due to incompatible seaborn and matplotlib versions (#1910)
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

fixed deep nesting
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, frontend_change

remove unwanted prints
  demo-project/src/demo_project/pipeline_registry.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, frontend_change

testing 1
  package/kedro_viz/launchers/cli.py
Due: backend_change

change help text
  package/kedro_viz/launchers/cli.py
Due: backend_change

update tests
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_server.py
Due: backend_change

format help text
  package/kedro_viz/launchers/cli.py
Due: backend_change

change default preview for run
  package/kedro_viz/models/flowchart.py
Due: backend_change

address vale suggestion
  RELEASE.md
Due: frontend_change

fix lint
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

fix pytests and linter
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_gcp_deployer.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

adjust file permission
  package/tests/test_integrations/test_base_deployer.py
Due: backend_change

update tests
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

update release note
  RELEASE.md
  package/kedro_viz/api/rest/requests.py
Due: backend_change, frontend_change

Update intersphinx mapping
  docs/source/conf.py
Due: frontend_change

Update intersphinx mapping (#1911)
  docs/source/conf.py
Due: frontend_change

Backfill static assets for version 9.0.0
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Backfill static assets for version 8.0.0
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Backfill static assets for version 7.1.0
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Backfill static assets for version 6.7.0
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Backfill static assets for version 8.0.1
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Backfill static assets for version 7.0.0
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Backfill static assets for version 6.6.1
  docs/source/_templates/layout.html
  docs/source/conf.py
  package/setup.py
Due: backend_change, frontend_change

Remove default props from functional components (#1906)
  RELEASE.md
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown-renderer.js
  src/components/ui/dropdown/dropdown.js
  src/components/ui/icon-button/icon-button.js
  src/components/ui/menu-option/menu-option.js
  src/components/ui/search-bar/search-bar-renderer.js
  src/components/ui/search-bar/search-bar.js
  src/components/ui/search-bar/search-input/search-input.js
  src/components/ui/tooltip/tooltip.js
  tools/test-lib/react-app/app.js
Due: frontend_change
