Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

done
  package/kedro_viz/__init__.py
Due: backend_change

Update package/kedro_viz/__init__.py
  package/kedro_viz/__init__.py
Due: backend_change

done
  package/kedro_viz/data_access/managers.py
Due: backend_change

minor change
  package/kedro_viz/models/utils.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

remove unwanted imports
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

moved logging to cli
  package/features/steps/cli_steps.py
  package/kedro_viz/__init__.py
  package/kedro_viz/launchers/cli/main.py
Due: backend_change

moving back error log to init
  package/kedro_viz/__init__.py
  package/kedro_viz/launchers/cli/main.py
Due: backend_change

revert e2e test
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

update release note to include drop support for kedro 0.x
  RELEASE.md
Due: frontend_change

revert update reminder
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

updated update-reminder sec
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

adding a query string to the URL to prevent rewriting
  docs/index.md
Due: frontend_change

adding a query string to the URL to prevent rewriting (#2454)
  docs/index.md
Due: frontend_change

Drop Support for Kedro 0.x series. (#2453)
  demo-project/src/demo_project/requirements.in
  package/features/steps/cli_steps.py
  package/kedro_viz/__init__.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/abstract_dataset_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/utils.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/kedro_viz/models/flowchart/nodes.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/test_requirements.txt
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
Due: backend_change, frontend_change

fixed empty pipeline and new esm build
  esm/a6e19ddb4b8b35a44c4e.worker.js
  esm/ddbb56d1f11d8ec8cfa3.worker.js
  esm/ddbb56d1f11d8ec8cfa3.worker.js.LICENSE.txt
  esm/kedro-viz.production.mjs
  src/components/workflow/workflow.js
Due: frontend_change

Release/12.0.0 (#2448)
  RELEASE.md
  cypress/tests/ui/flowchart/banners.cy.js
  demo-project/.version
  esm/ddbb56d1f11d8ec8cfa3.worker.js
  esm/ddbb56d1f11d8ec8cfa3.worker.js.LICENSE.txt
  esm/f5e1ed6c4945a398111d.worker.js
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/feature-hints/feature-hints-content.js
  src/components/metadata/metadata.js
  src/components/update-reminder/update-reminder-content.js
  src/components/workflow/workflow.js
  src/config.js
Due: backend_change, frontend_change

Write a failing test for rendering a column of boolean values.
  src/components/preview-table/preview-table.test.js
Due: frontend_change

Convert all TablePreview cell contents to strings for proper display of booleans.
  RELEASE.md
  src/components/preview-table/preview-table.js
Due: frontend_change

fix: Render boolean values in PreviewTable (#2458)
  RELEASE.md
  src/components/preview-table/preview-table.js
  src/components/preview-table/preview-table.test.js
Due: frontend_change

use snake_case for pipelines
  demo-project/src/demo_project/pipeline_registry.py
Due: frontend_change

add requirements
  demo-project/src/requirements.in
Due: frontend_change

Update requirements.in
  demo-project/src/demo_project/requirements.in
Due: frontend_change

add a kedro run command
  package/kedro_viz/__init__.py
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
Due: backend_change

prefix kedro command
  package/kedro_viz/api/rest/router.py
Due: backend_change

include llms.txt
  mkdocs.yml
Due: frontend_change

add mkdocs-llmstxt to project.toml
  package/pyproject.toml
Due: backend_change

update sections
  mkdocs.yml
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

refactor: move kedro commands to background and threading for stdout capturing
  package/kedro_viz/api/rest/router.py
Due: backend_change

initial runner page design
  package/kedro_viz/api/apps.py
  src/components/global-toolbar/global-toolbar.js
  src/components/kedro-run-manager/kedro-run-manager.js
  src/components/kedro-run-manager/kedro-run-manager.scss
  src/components/wrapper/wrapper.js
Due: backend_change, frontend_change

remove the force light mode
  src/components/kedro-run-manager/kedro-run-manager.js
Due: frontend_change

update unit test for extr button in global toolbar
  src/components/global-toolbar/global-toolbar.test.js
Due: frontend_change

renamed kedro-run to runner
  package/kedro_viz/api/apps.py
  src/components/global-toolbar/global-toolbar.js
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
  src/components/wrapper/wrapper.js
  src/utils/index.js
Due: backend_change, frontend_change

add placeholders for a parameter view and dataset view
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

create runner sidebar
  src/components/runner-primary-toolbar/index.js
  src/components/runner-primary-toolbar/runner-primary-toolbar.js
  src/components/sidebar/sidebar.js
Due: frontend_change

simplify runner icon
  src/components/global-toolbar/global-toolbar.js
  src/components/icons/runner.js
  src/components/icons/runner.scss
  src/components/runner/runner-manager.js
Due: frontend_change

reposition start run button in runner control panel
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Due: frontend_change

make start run button create a job monitor
  src/components/runner/runner-manager.js
Due: frontend_change
