Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Remove parity baseline tests before merging to main
  .gitattributes
  package/tests/test_inspection_adapter/baseline/main.json
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/baseline/pipelines/__default__.json
  package/tests/test_inspection_adapter/baseline/pipelines/data_ingestion.json
  package/tests/test_inspection_adapter/baseline/pipelines/feature_engineering.json
  package/tests/test_inspection_adapter/baseline/pipelines/modelling_stage.json
  package/tests/test_inspection_adapter/baseline/pipelines/pre_modelling.json
  package/tests/test_inspection_adapter/baseline/pipelines/reporting_stage.json
  package/tests/test_inspection_adapter/builders/test_graph_builder.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
Due: backend_change, frontend_change

Point export TODOs at #2776
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/server.py
Due: backend_change

fix: accept the runner class name in is_sequential_runner
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
Due: backend_change

docs: add the release note entry
  RELEASE.md
Due: frontend_change

Release v12.5.0 (#2783)
  demo-project/.version
  esm/kedro-viz.css
  esm/kedro-viz.mjs
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

docs: move the release note to the next release section
  RELEASE.md
Due: frontend_change

Bump ipython version
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change, frontend_change

PR number on release notes
  RELEASE.md
Due: frontend_change

Bump ipython version to fix e2e test (#2787)
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change, frontend_change

Remove parity baseline tests before merging to main (#2785)
  .gitattributes
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/baseline/main.json
  package/tests/test_inspection_adapter/baseline/node_id_report.json
  package/tests/test_inspection_adapter/baseline/pipelines/__default__.json
  package/tests/test_inspection_adapter/baseline/pipelines/data_ingestion.json
  package/tests/test_inspection_adapter/baseline/pipelines/feature_engineering.json
  package/tests/test_inspection_adapter/baseline/pipelines/modelling_stage.json
  package/tests/test_inspection_adapter/baseline/pipelines/pre_modelling.json
  package/tests/test_inspection_adapter/baseline/pipelines/reporting_stage.json
  package/tests/test_inspection_adapter/builders/test_graph_builder.py
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
  package/tests/test_inspection_adapter/test_ids.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
Due: backend_change, frontend_change

update release notes
  RELEASE.md
Due: frontend_change

Do not invoke lazy partition loaders in dataset stats
  RELEASE.md
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change, frontend_change

fix vale
  RELEASE.md
Due: frontend_change

fix cypress flaky tests
  cypress/support/commands.js
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

fix flaky tests
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

remove draft doc
  docs/spike/kedro-viz-modularity-v1-architecture.md
Due: frontend_change

architecture doc draft
  .github/styles/Kedro-viz/ignore.txt
  .github/styles/Kedro-viz/ukspelling.yml
  ARCHITECTURE.md
Due: frontend_change

updated architecture images
  .github/img/backend-architecture.png
  ARCHITECTURE.md
Due: frontend_change

Reset dataset stats and hide empty partitions label
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
  src/components/metadata/metadata-stats.jsx
  src/components/metadata/metadata.test.jsx
Due: backend_change, frontend_change

address PR comments
  .github/img/backend-architecture.png
  ARCHITECTURE.md
Due: frontend_change

fix vale
  ARCHITECTURE.md
Due: frontend_change

Address review feedback on dataset stats
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Update backend architecture (#2788)
  .github/img/backend-architecture.png
  .github/styles/Kedro-viz/ignore.txt
  .github/styles/Kedro-viz/ukspelling.yml
  ARCHITECTURE.md
Due: frontend_change

fix: accept the runner class name in is_sequential_runner (#2786)
  RELEASE.md
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
Due: backend_change, frontend_change

Fix broken banner image link in README
  RELEASE.md
  package/README.md
Due: backend_change, frontend_change

Keep root react-router-dom on v5 and polyfill TextEncoder in test-lib
  package-lock.json
  package.json
  tools/test-lib/react-app/jest.setup.js
Due: frontend_change

Remove temporary chardet<7 pin
  RELEASE.md
  package/features/environment.py
  package/test_requirements.txt
Due: backend_change, frontend_change

zensical toml setting file
  mkdocs.yml
  zensical.toml
Due: frontend_change

update zensical path in the docs check
  .github/workflows/docs-checks.yml
  .github/workflows/docs-linkcheck.yml
Due: frontend_change

update makefile and readme with zensical
  Makefile
  docs/readme.md
Due: frontend_change

update readthedocs configure
  .readthedocs.yml
Due: frontend_change

update html and css styling
  docs/overrides/main.html
  docs/stylesheets/globals.css
  docs/stylesheets/typography.css
Due: frontend_change

update pyproject toml file
  package/pyproject.toml
Due: backend_change

remove griffle as not needed
  package/pyproject.toml
  zensical.toml
Due: backend_change, frontend_change

perf: index outgoing edges for transitive traversal
  RELEASE.md
  docs/performance/transitive-edges.md
  src/selectors/edges.js
  src/selectors/edges.test.js
  tools/performance/benchmark-transitive-edges.cjs
  tools/performance/transitive-edges.cjs
  tools/performance/transitive-edges.test.cjs
Due: frontend_change

docs: reference transitive traversal performance PR
  RELEASE.md
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
