Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

connection error fix on shared servers (#1576)
  package/kedro_viz/launchers/utils.py
Due: backend_change

Rebuild for canvas node error
  package-lock.json
Due: frontend_change

Add demo.kedro.org to Shareable URLs hosts list
  src/utils/index.js
Due: frontend_change

Add demo.kedro.org to Shareable URLs hosts list (#1580)
  src/utils/index.js
Due: frontend_change

Build lint error fix
  package-lock.json
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.test.js
Due: frontend_change

Removing redundant sql_node function
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
Due: frontend_change

Removing other redundant former PR changes
  demo-project/.gitignore
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/local/credentials.yml
Due: frontend_change

Build lint error fix
  package-lock.json
  src/components/experiment-tracking/runs-list-card/runs-list-card.test.js
Due: frontend_change

Build lint error fix
  package-lock.json
Due: frontend_change

revert back node install orb to test ci failure
  .circleci/continue_config.yml
Due: ci_change, frontend_change

revert back node installation test to orb
  .circleci/continue_config.yml
Due: ci_change, frontend_change

Add initial pyproject.toml file
  package/pyproject.toml
Due: backend_change

Adjusted setup.py file to incl. only test dependencies
  package/setup.py
Due: backend_change

Rename any mentions of `DataSet` to `Dataset` (#1572)
  README.md
  cypress/fixtures/graphql/compareThreeRuns.json
  cypress/fixtures/graphql/compareTwoRuns.json
  cypress/fixtures/graphql/getRunData.json
  cypress/fixtures/mock/largeDataset.json
  demo-project/src/docker_requirements.txt
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/test_requirements.txt
  package/tests/conftest.py
  package/tests/test_api/main
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  src/components/experiment-tracking/run-dataset/run-dataset-loader.js
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/experiment-tracking/run-dataset/run-dataset.test.js
  src/components/experiment-tracking/run-plots-modal/run-plots-modal.test.js
  src/components/metadata/metadata.test.js
  src/config.js
  src/utils/data/demo.mock.json
  src/utils/data/node_data.mock.json
  src/utils/data/node_data_stats.mock.json
  src/utils/data/node_json_data.mock.json
  src/utils/data/node_metrics_data.mock.json
  src/utils/data/node_plot.mock.json
  src/utils/data/node_transcoded_data.mock.json
  src/utils/data/spaceflights.mock.json
Due: backend_change, frontend_change

revert class method to static method
  package/kedro_viz/models/flowchart.py
Due: backend_change

update method comments
  package/kedro_viz/server.py
Due: backend_change

Replace semver with packaging (#1578)
  RELEASE.md
  package/features/environment.py
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/graphql/schema.py
  package/kedro_viz/constants.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/pypi/__init__.py
  package/kedro_viz/launchers/cli.py
  package/requirements.txt
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_integrations/test_pypi.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Cypress tests fix
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/menu.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.test.js
Due: frontend_change

Code review suggestions added
  package-lock.json
  src/actions/index.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.test.js
  src/components/experiment-tracking/run-metadata/run-metadata.js
Due: frontend_change

Use _dataset instead of _data_set
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Support both new and old way of getting datasest from catalog
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Moved test-reqs into toml file
  package/pyproject.toml
  package/setup.py
Due: backend_change

Added additional advised toml changes
  package/pyproject.toml
Due: backend_change

Add correct bundling logic for package_data param
  package/setup.py
Due: backend_change

revert back method shuffles for better PR reviews
  package/kedro_viz/models/flowchart.py
Due: backend_change

Adjusted order of toml lines
  package/pyproject.toml
Due: backend_change

Added missing linting changes
  package/setup.py
Due: backend_change

addressing PR comments
  package/kedro_viz/models/flowchart.py
Due: backend_change

Fix linting and coverage
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

minor changes to toml and add setup.cfg content
  package/pyproject.toml
Due: backend_change

Fix implicit MyST targets
  docs/source/conf.py
Due: frontend_change

Convert index to MyST
  docs/source/index.md
  docs/source/index.rst
Due: frontend_change

Add Read the Docs configuration
  .readthedocs.yml
  package/setup.py
Due: backend_change, frontend_change

Add missing dependencies
  package/setup.py
Due: backend_change

Fix broken external references
  docs/source/conf.py
  docs/source/experiment_tracking.md
Due: frontend_change

Add introductory copy (draft)
  docs/source/index.md
Due: frontend_change

Add forward compatibility with renames `_dataset` arguments. (#1587)
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change
