Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

use new logo and copy
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/icons/info-banner.js
  src/components/ui/banner/banner.scss
  src/config.js
Due: frontend_change

updat release note
  RELEASE.md
Due: frontend_change

include in the release note
  RELEASE.md
Due: frontend_change

final test
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

address PR comments
  package/features/steps/lower_requirements.txt
Due: backend_change

update cy test
  cypress/tests/ui/flowchart/banners.cy.js
Due: frontend_change

upgrade pillow version
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
Due: frontend_change

fixing the padding bottom gap for filters
  src/components/filters/filters.scss
Due: frontend_change

testing e2e fix
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  RELEASE.md
  package/features/steps/lower_requirements.txt
  package/features/viz.feature
Due: backend_change, frontend_change

testing e2e fix
  package/features/viz.feature
Due: backend_change

Add official support for python 3.12 (#2190)
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/docs-only-checks.yml
  RELEASE.md
  package/features/environment.py
  package/features/steps/lower_requirements.txt
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change, frontend_change

merged main
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change

update lower req
  package/features/steps/lower_requirements.txt
Due: backend_change

testing only py3.13
  .github/workflows/all-checks.yml
Due: frontend_change

update lower reqs
  .github/workflows/all-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  package/features/steps/lower_requirements.txt
Due: backend_change, frontend_change

update final copy
  src/config.js
Due: frontend_change

Release Kedro-viz 10.1.0
  RELEASE.md
Due: frontend_change

v10.1.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Bump the release version number to 10.1.0
  demo-project/lightsail.json
Due: frontend_change

Feature/update lite banner (#2196)
  RELEASE.md
  cypress/tests/ui/flowchart/banners.cy.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/icons/info-banner.js
  src/config.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Add official support for python 3.13 (#2191)
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/docs-only-checks.yml
  RELEASE.md
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/features/steps/lower_requirements.txt
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change, frontend_change

update-reminder-content updated
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

for steps testing purpose
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

banner icon colour
  src/components/ui/banner/banner.scss
Due: frontend_change

Review suggestions
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

banner icon colour (#2201)
  src/components/ui/banner/banner.scss
Due: frontend_change

Release note and update reminder updated
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Reorder release notes
  RELEASE.md
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Release v10.1.0 (#2199)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

Remove exp tracking from feature hits and global toolbar; remove ExperimentsIcon
  package-lock.json
  src/components/feature-hints/feature-hints-content.js
  src/components/global-toolbar/global-toolbar.js
  src/components/icons/experiments.js
Due: frontend_change

Remove exp. tracking utils, reducers, styles
  src/actions/index.js
  src/components/app/app.scss
  src/components/experiment-warning/experiment-warning.js
  src/components/experiment-warning/experiment-warning.scss
  src/components/experiment-warning/index.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
  src/components/primary-toolbar/primary-toolbar.js
  src/components/sidebar/sidebar.scss
  src/config.js
  src/reducers/index.js
  src/reducers/runs-metadata.js
  src/store/initial-state.js
  src/store/store.js
  src/utils/experiment-tracking-utils.js
  src/utils/hooks/use-generate-pathname.js
  src/utils/match-path.js
Due: frontend_change

use uv to install dependencies
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

include install uv before run it
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

install uv in setup test
  .github/actions/setup_tests/action.yml
Due: frontend_change

combine uv and install dependencies
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

try --system to install dependencies
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

fix formatting
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change
