Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

remove useless suppressions
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

Update apps.py
  package/kedro_viz/api/apps.py
Due: backend_change

Update Makefile
  Makefile
Due: frontend_change

fix
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Lint fixes
  package/kedro_viz/api/apps.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/telemetry.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

Lint fixes
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

Update catalog.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

Lint fixes
  package/.pylintrc
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

revert and change max positional args
  package/.pylintrc
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

Lint fixes related to too-many-positional-arguments
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/telemetry.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
Due: backend_change

disable too-many-positional-arguments
  package/.pylintrc
Due: backend_change

Lint fixes
  package/.pylintrc
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/server.py
Due: backend_change

Add troubleshooting note in `CONTRIBUTING.md` (#2110)
  CONTRIBUTING.md
  package/.pylintrc
  package/kedro_viz/api/apps.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change, frontend_change

Aligned kedro-viz telemetry with kedro-telemetry (#2112)
  RELEASE.md
  package/.pylintrc
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/telemetry.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_api/test_apps.py
  package/tests/test_integrations/test_telemetry.py
Due: backend_change, frontend_change

done
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/base/catalog_02_int.yml
  demo-project/conf/base/catalog_03_prm.yml
  demo-project/conf/base/catalog_04_feature.yml
  demo-project/conf/base/catalog_05_model_input.yml
  demo-project/conf/base/catalog_08_reporting.yml
  src/components/flowchart/styles/_node.scss
  src/utils/graph/constraints.js
  src/utils/graph/layout.js
  src/utils/graph/routing.js
  src/utils/graph/solver.js
  src/utils/graph/test.js
Due: frontend_change

something working
  src/components/flowchart/styles/_node.scss
  src/utils/graph/layout.js
  src/utils/graph/routing.js
Due: frontend_change

custom resolver fix initial draft
  demo-project/.version
  package/kedro_viz/api/apps.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: backend_change, frontend_change

Replace CircleCI badge in readme with GitHub actions
  package/README.md
Due: backend_change

Update the other readme file
  README.npm.md
Due: frontend_change

fix lint
  package/kedro_viz/api/apps.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

fix lint
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

update release note
  RELEASE.md
Due: frontend_change

use json_encoder
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
Due: backend_change

fix file perm
  package/kedro_viz/server.py
Due: backend_change

Replace CircleCI badge in readme with GitHub actions (#2124)
  README.npm.md
  package/README.md
Due: backend_change, frontend_change

wip
  src/actions/graph.js
  src/selectors/layout.js
  src/utils/graph/graph.js
  src/utils/graph/index.js
  src/utils/graph/layout.js
  src/utils/graph/routing.js
Due: frontend_change

Updated build related docs
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
Due: frontend_change

Release note added
  RELEASE.md
Due: frontend_change

Fix unserializable parameters value (#2122)
  RELEASE.md
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/tests/test_models/test_flowchart.py
Due: backend_change, frontend_change

fix deep recursions
  package/tests/test_models/test_flowchart.py
Due: backend_change

fix deep recursions
  demo-project/.version
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

fix deep recursions
  .github/workflows/unit-tests.yml
  package/tests/test_models/test_flowchart.py
Due: backend_change, frontend_change

revert win test condition
  .github/workflows/unit-tests.yml
Due: frontend_change

Update database.py
  package/kedro_viz/database.py
Due: backend_change
