Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Update database.py
  package/kedro_viz/database.py
Due: backend_change

lint
  package/kedro_viz/database.py
Due: backend_change

add test
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

revert comments
  package/kedro_viz/database.py
Due: backend_change

Package update from watchgod to watchfiles
  package/features/steps/lower_requirements.txt
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

lint fix
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

Test fix
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

Test fixes
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/kedro_viz/utils.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

lint fixes
  package/kedro_viz/utils.py
Due: backend_change

test fix
  package/kedro_viz/utils.py
Due: backend_change

done
  package/pyproject.toml
Due: backend_change

changed
  package/pyproject.toml
  package/requirements.txt
Due: backend_change

done
  package/pyproject.toml
  package/requirements.txt
Due: backend_change

test added
  package/tests/test_utils.py
Due: backend_change

lint fix
  package/tests/test_utils.py
Due: backend_change

Release note added
  RELEASE.md
Due: frontend_change

Update docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
Due: frontend_change

review suggestion.
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
Due: frontend_change

separate azure logic
  package/kedro_viz/database.py
Due: backend_change

Improve `kedro viz build` usage documentation (#2126)
  RELEASE.md
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
Due: frontend_change

add qualifier method to get first and last part
  src/components/metadata/metadata.js
Due: frontend_change

fix tests
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Fix max recursion depth build issue (#2130)
  package/tests/test_models/test_flowchart.py
Due: backend_change

done
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

Display Dataset Type with Library Prefix in Metadata Panel (#2136)
  RELEASE.md
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
Due: frontend_change

Update kedro-viz_visualisation.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Document python version policies and other small doc updates. (#2139)
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

Fix Kedro in Azure ML with SQLiteSessionStore (#2131)
  RELEASE.md
  package/kedro_viz/database.py
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change, frontend_change

update classnames to match the component name
  src/components/node-list/node-list-row.js
  src/components/node-list/styles/_row-label.scss
  src/components/node-list/styles/_row-toggle.scss
  src/components/node-list/styles/_row.scss
Due: frontend_change

update names in tests
  src/components/node-list/node-list-row.test.js
  src/components/node-list/node-list.test.js
Due: frontend_change

revert threading
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/server.py
Due: backend_change

revert except block
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/server.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
