Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Remove aws sdk package
  package-lock.json
  package.json
Due: frontend_change

backend fixes
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/router.py
  src/components/shareable-url-modal/shareable-url-modal.js
Due: backend_change, frontend_change

remove map files when uploading
  package/kedro_viz/api/rest/router.py
Due: backend_change

Fix for PyPI
  README.md
Due: frontend_change

fix layout issue
  src/components/metadata/metadata-stats.js
  src/config.js
Due: frontend_change

fix issue on html folder
  package/kedro_viz/api/rest/router.py
Due: backend_change

fix transcoded data stats
  package/kedro_viz/data_access/managers.py
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
Due: backend_change, frontend_change

Fix for PyPI (#1501)
  README.md
Due: frontend_change

initial draft for python 3.11 support
  .circleci/continue_config.yml
  Makefile
  package/setup.py
Due: backend_change, ci_change, frontend_change

UI updates for loading, success, error states; resetting modal
  package/kedro_viz/api/rest/router.py
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/styles/_extends.scss
Due: backend_change, frontend_change

Fix to search for a '<lambda' Python function in the sidebar (#1497)
  RELEASE.md
  src/components/node-list/node-list-row.js
  src/utils/index.js
  src/utils/utils.test.js
Due: frontend_change

fix lowerbound on fsspec
  package/features/steps/lower_requirements.txt
  package/kedro_viz/api/rest/router.py
  package/requirements.txt
Due: backend_change

Docs: Update the table of Kedro-viz compatibility with Kedro
  README.md
Due: frontend_change

update release doc
  RELEASE.md
Due: frontend_change

Refactor visualize dataset stats from DataNodeMetadata to DataNode (#1499)
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_layers.py
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/config.js
Due: backend_change, frontend_change

add python warnings for e2e tests
  Makefile
Due: frontend_change

modify e2e test
  package/features/steps/cli_steps.py
Due: backend_change

test by removing lower req scenario
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

skip e2e tests for lower bound requirement on python 3.11
  package/features/environment.py
  package/features/viz.feature
Due: backend_change

skip e2e tests for lower bound requirement on python 3.11
  package/features/environment.py
Due: backend_change

remove python upperbounds initial draft
  package/features/environment.py
  package/kedro_viz/__init__.py
  package/setup.py
  package/tests/test_import.py
Due: backend_change

fix lint and format errors
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change

test remove upperbound warning
  package/kedro_viz/__init__.py
Due: backend_change

remove print statements
  package/features/steps/cli_steps.py
Due: backend_change

test lowerbound pandas install
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
Due: backend_change

revert back pandas requirement
  package/features/steps/lower_requirements.txt
Due: backend_change

bump lower requirements for pandas
  package/features/steps/lower_requirements.txt
Due: backend_change

remove upper bound clean up
  package/features/environment.py
  package/features/steps/cli_steps.py
Due: backend_change

update release notes
  RELEASE.md
Due: frontend_change

initial draft for resolving connection error
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
Due: backend_change

Highlighting words
  README.md
Due: frontend_change

fix PR comments
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change

Support for Python 3.11 (#1502)
  .circleci/continue_config.yml
  Makefile
  RELEASE.md
  package/features/environment.py
  package/setup.py
Due: backend_change, ci_change, frontend_change

Remove Python Upper Bound Requirements (#1506)
  RELEASE.md
  package/features/environment.py
  package/features/steps/lower_requirements.txt
  package/kedro_viz/__init__.py
  package/setup.py
  package/tests/test_import.py
Due: backend_change, frontend_change

refactor launchers and test code
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
  package/tests/test_launchers/test_utils.py
  package/tests/test_server.py
Due: backend_change

Fix: Adding favicon to Kedro Demo
  package/kedro_viz/api/apps.py
  public/index.html
Due: backend_change, frontend_change

6.4.1-alpha.1
  package-lock.json
  package.json
Due: frontend_change

Check if app is SSR
  package.json
  src/utils/worker.js
Due: frontend_change

Update lodash imports
  package-lock.json
  package.json
  src/components/experiment-tracking/runs-list/runs-list.js
  src/components/node-list/index.js
  src/components/node-list/node-list-tree.js
  src/components/node-list/node-list.test.js
  src/components/ui/dropdown/dropdown-renderer.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
