Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Pathname updated for experiment-tracking
  src/config.js
  src/utils/index.js
Due: frontend_change

not-working v3
  package/.pylintrc
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/test_requirements.txt
Due: backend_change

Add mobile nav close btn
  docs/source/_templates/layout.html
Due: frontend_change

Move code for adding btn to event listener
  docs/source/_templates/layout.html
Due: frontend_change

Add css for mobile nav image background
  docs/source/_templates/layout.html
Due: frontend_change

graphql endpoint url fix
  package/kedro_viz/api/graphql/router.py
Due: backend_change

Lint error fix
  package/kedro_viz/api/graphql/router.py
Due: backend_change

Add to release notes
  RELEASE.md
Due: frontend_change

Add tooltip to shareable urls copy button (#1614)
  RELEASE.md
  src/components/flowchart/flowchart.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/ui/command-copier/command-copier.js
  src/components/ui/command-copier/command-copier.scss
  src/components/ui/tooltip/tooltip.js
  src/components/ui/tooltip/tooltip.scss
  src/components/ui/tooltip/tooltip.test.js
Due: frontend_change

Update close button for mobile nav
  docs/source/_templates/layout.html
Due: frontend_change

deploy-viz-metadata api fix
  src/apollo/config.js
  src/components/global-toolbar/global-toolbar.js
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/utils/index.js
Due: frontend_change

modify metadata classes and update pytests
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Release note added
  RELEASE.md
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Fix: Kedro-Viz doesn't work when hosted via a URL subpath (#1621)
  RELEASE.md
  package/kedro_viz/api/graphql/router.py
  src/apollo/config.js
  src/components/global-toolbar/global-toolbar.js
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/utils/index.js
Due: backend_change, frontend_change

fix all pytests
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

fix pytest for coverage
  package/tests/test_models/test_flowchart.py
Due: backend_change

address PR comments1
  package/kedro_viz/models/flowchart.py
Due: backend_change

fix lint issues
  package/kedro_viz/models/flowchart.py
Due: backend_change

add hash for pylint
  package/kedro_viz/models/flowchart.py
Due: backend_change

fix lint errors
  package/kedro_viz/api/graphql/serializers.py
  package/kedro_viz/models/flowchart.py
  package/mypy.ini
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_services/test_modular_pipelines.py
Due: backend_change

fix lint errors
  package/kedro_viz/api/rest/responses.py
Due: backend_change

something to start off
  docs/source/conf.py
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Fix permalink icon
  docs/source/conf.py
Due: frontend_change

Revise some links to framework docs
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_datasets.md
  docs/source/share_kedro_viz.md
  docs/source/visualise_charts_with_matplotlib.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

Price histogram data restored
  demo-project/data/08_reporting/price_histogram.json/2022-04-24T21.03.25.671Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-08-24T21.04.31.605Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-09-05T12.27.04.496Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-09-28T13.46.31.462Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-10-05T12.22.35.825Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2022-12-24T21.05.59.296Z/price_histogram.json
  demo-project/data/08_reporting/price_histogram.json/2023-11-08T11.44.01.051Z/price_histogram.json
Due: frontend_change

Add live tracking demo to open in new tab
  docs/source/experiment_tracking.md
  docs/source/index.md
Due: frontend_change

Remove code to load old CSS
  docs/source/conf.py
Due: frontend_change

[Draft, not ready] Update docs front page following design review (#1617)
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/index.md
  docs/source/kedro-horizontal-color-on-light.svg
  docs/source/kedro_logo.svg
Due: frontend_change

A few content improvements
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  docs/source/visualise_charts_with_plotly.md
Due: frontend_change

Update layout.html
  docs/source/_templates/layout.html
Due: frontend_change

Delete docs/source/kedro-horizontal-color-on-light.svg
  docs/source/kedro-horizontal-color-on-light.svg
Due: frontend_change

Price histogram data restored
  demo-project/data/08_reporting/price_histogram.json/2023-01-16T15.55.27.850Z/price_histogram.json
Due: frontend_change

Reverting last changes
  demo-project/data/08_reporting/price_histogram.json/2023-01-16T15.55.27.850Z/price_histogram.json
Due: frontend_change

Update shareable viz docswith sections on creating access key and billing
  docs/source/images/kedro_viz_share_credentials1.png
  docs/source/images/kedro_viz_share_credentials2.png
  docs/source/images/kedro_viz_share_credentials3.png
  docs/source/images/kedro_viz_share_credentials4.png
  docs/source/share_kedro_viz.md
Due: frontend_change

Update docs/source/share_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change
