Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Doc added
  README.npm.md
Due: frontend_change

Introduce `onActionCallback` prop in Kedro-Viz react component (#2027)
  README.npm.md
  RELEASE.md
  src/components/app/app.js
  src/store/middleware.js
  src/store/middleware.test.js
  src/store/store.js
Due: frontend_change

update run command to get from metadata
  src/selectors/run-command.js
Due: frontend_change

add comments
  src/selectors/sliced-pipeline.js
Due: frontend_change

use stable version
  docs/source/slice_a_pipeline.md
Due: frontend_change

include new gif and increase the size
  docs/source/images/slice_pipeline_multiple_click.gif
  docs/source/images/slice_pipeline_slice_reset.gif
  docs/source/slice_a_pipeline.md
Due: frontend_change

fix run command for task nodes
  package/kedro_viz/models/flowchart.py
Due: backend_change

update release note
  RELEASE.md
  demo-project/.version
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

fix ci build
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Fix missing run command in metadata panel for task nodes (#2055)
  RELEASE.md
  package/kedro_viz/models/flowchart.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_models/test_flowchart.py
Due: backend_change, frontend_change

first working version of going downstream for slicing
  src/selectors/sliced-pipeline.js
Due: frontend_change

moved package check under dirs and add exception block
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

tidy up code
  src/selectors/sliced-pipeline.js
Due: frontend_change

update test for sliced-pipeline
  src/selectors/sliced-pipeline.test.js
Due: frontend_change

Load data functions move out of server
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/load_data.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_base_deployer.py
Due: backend_change

update run-command test with new logic
  src/selectors/run-command.test.js
Due: frontend_change

address PR comments
  package/kedro_viz/launchers/cli/main.py
Due: backend_change

Refactor
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/load_data.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_base_deployer.py
Due: backend_change

Lint fix
  package/kedro_viz/server.py
Due: backend_change

lint fix
  package/kedro_viz/server.py
Due: backend_change

Refactor CLI with lazy subcommands and deferring imports (#1920)
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/cli/__init__.py
  package/kedro_viz/launchers/cli/build.py
  package/kedro_viz/launchers/cli/deploy.py
  package/kedro_viz/launchers/cli/lazy_default_group.py
  package/kedro_viz/launchers/cli/main.py
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/launchers/cli/utils.py
  package/kedro_viz/launchers/utils.py
  package/pyproject.toml
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_cli/test_build.py
  package/tests/test_launchers/test_cli/test_deploy.py
  package/tests/test_launchers/test_cli/test_lazy_default_group.py
  package/tests/test_launchers/test_cli/test_main.py
  package/tests/test_launchers/test_cli/test_run.py
  package/tests/test_launchers/test_cli/test_utils.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

Revert "Add disable preview toggle in settings panel "
  RELEASE.md
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_router.py
  src/actions/index.js
  src/actions/preferences.js
  src/components/metadata/metadata.js
  src/components/settings-modal/settings-modal.js
  src/components/settings-modal/settings-modal.test.js
  src/reducers/index.js
  src/reducers/preferences.js
  src/reducers/reducers.test.js
  src/store/initial-state.js
  src/store/store.js
  src/utils/preferences-api.js
Due: backend_change, frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Update settings-modal.test.js
  src/components/settings-modal/settings-modal.test.js
Due: frontend_change

add warning if preview data is not in the expected format
  package/kedro_viz/models/flowchart.py
Due: backend_change

add validation
  package/kedro_viz/models/flowchart.py
Due: backend_change

lint
  package/kedro_viz/models/flowchart.py
Due: backend_change

Update flowchart.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

Disable slicing feature in embedded mode
  src/components/flowchart/flowchart.js
  src/reducers/index.js
  src/store/initial-state.js
Due: frontend_change

test fix
  src/components/flowchart/flowchart.test.js
Due: frontend_change

almost done
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Name fix
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
Due: frontend_change

minor fix
  package/kedro_viz/api/rest/router.py
  src/components/settings-modal/settings-modal.test.js
Due: backend_change, frontend_change

done - tests left
  package/kedro_viz/api/rest/responses.py
Due: backend_change

Deferred dependencies import into run_server (#2060)
  package/kedro_viz/server.py
Due: backend_change

Moved visibleSlicing prop under visible
  src/components/flowchart/flowchart.js
  src/components/flowchart/flowchart.test.js
  src/store/initial-state.js
Due: frontend_change

Test fix
  src/components/global-toolbar/global-toolbar.test.js
Due: frontend_change

Introduce `get_kedro_project_json_data` function for VSCode integration (#2049)
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/server.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
