Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

fix PR comments
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
  package/tests/test_launchers/test_utils.py
Due: backend_change

DCO fix
  package/kedro_viz/launchers/utils.py
Due: backend_change

fix static folder issue
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

fix format and lint errors
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

add unit tests for shareable viz s3deployer
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/tests/test_api/main
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_server.py
Due: backend_change

Remove build:css script from circle ci config
  .circleci/continue_config.yml
Due: ci_change, frontend_change

inherit tags from nodes for modular pipelines
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

add test_tags_inheritance
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

lint
  package/kedro_viz/models/flowchart.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

add pytests for responses module
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_graph.py
  package/tests/test_data_access/test_repositories/test_registered_pipelines.py
Due: backend_change

add s3fs as dependency
  package/requirements.txt
Due: backend_change

add temporary no cover for apps
  package/kedro_viz/api/apps.py
Due: backend_change

Bundle css into lib/styles folder
  package.json
Due: frontend_change

Update readme
  README.md
Due: frontend_change

update test_response.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Update package/requirements.txt
  package/requirements.txt
Due: backend_change

update lower reqs
  package/features/steps/lower_requirements.txt
Due: backend_change

update fsspec
  package/requirements.txt
Due: backend_change

check kedro latest version as 18.0 in e2e tests
  package/features/viz.feature
Due: backend_change

update fsspec and s3fs requirements to support earliest kedro version
  package/features/steps/lower_requirements.txt
  package/features/viz.feature
  package/requirements.txt
Due: backend_change

Add webpack config to extract scss and babel plugin to remove scss imports
  .babelrc
  README.md
  package-lock.json
  package.json
  webpack.lib.js
Due: frontend_change

add timestamp file for deploy
  package/kedro_viz/api/apps.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
Due: backend_change

fixing dco
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

update pytest
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

Fix for Kedro Viz Connection Error (#1507)
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/launchers/utils.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
  package/tests/test_launchers/test_utils.py
  package/tests/test_server.py
Due: backend_change, frontend_change

add pytest for timestamp route
  package/tests/test_integrations/test_s3_deployer.py
Due: backend_change

fix lint and format errors
  package/kedro_viz/server.py
  package/tests/test_integrations/test_s3_deployer.py
  package/tests/test_server.py
Due: backend_change

bump fastapi and add pydantic compatibility
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/models/experiment_tracking.py
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change

bump lower requirements due to pydantic changes
  package/features/steps/lower_requirements.txt
Due: backend_change

Update Release notes
  RELEASE.md
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

fix server changes and test e2e scenarios
  package/features/viz.feature
  package/kedro_viz/server.py
  package/tests/test_server.py
Due: backend_change

Update README.md
  README.md
Due: frontend_change

Docs: Update the table of Kedro-viz compatibility with Kedro (#1503)
  README.md
Due: frontend_change

try to catch versionConflicterror
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

Style updates; sending updated args to the backend
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Re-deploy flow
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

add route /api/project-metadata to provide package version info
  package/features/steps/cli_steps.py
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/requirements.txt
Due: backend_change
