Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Fix for broken svg/png exports in light theme (#1463)
  RELEASE.md
  src/components/flowchart/styles/_variables.scss
Due: frontend_change

Rename files; good progress on hints
  src/components/app-onboarding/app-onboarding-content.js
  src/components/app-onboarding/app-onboarding.js
  src/components/app-onboarding/app-onboarding.scss
  src/components/app-onboarding/index.js
  src/components/flowchart/draw.js
  src/components/node-list/node-list.js
  src/components/wrapper/wrapper.js
Due: frontend_change

Add renamed files
  src/components/feature-hints/feature-hints-content.js
  src/components/feature-hints/feature-hints.js
  src/components/feature-hints/feature-hints.scss
  src/components/feature-hints/index.js
Due: frontend_change

Add line to settings panel; update z-indicies
  src/components/feature-hints/feature-hints.scss
  src/components/settings-modal/settings-modal.js
  src/components/settings-modal/settings-modal.scss
  src/components/update-reminder/update-reminder.scss
  src/config.js
Due: frontend_change

add file size to the api response using fsspec
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  src/components/metadata/metadata.js
  src/utils/index.js
Due: backend_change, frontend_change

update unit test for metadata panel
  src/components/metadata/metadata.test.js
  src/utils/index.js
Due: frontend_change

remove print statements and update stats file
  demo-project/stats.json
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

update get file size to not consider empty dir
  package/kedro_viz/models/utils.py
Due: backend_change

Wiring up to Redux
  src/actions/index.js
  src/components/feature-hints/feature-hints-content.js
  src/components/feature-hints/feature-hints.js
  src/components/feature-hints/feature-hints.scss
  src/components/settings-modal/settings-modal.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/reducers/index.js
  src/reducers/reducers.test.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

Renaming of variables, reducer, state, etc
  src/actions/index.js
  src/components/feature-hints/feature-hints.js
  src/components/settings-modal/settings-modal.js
  src/config.js
  src/reducers/index.js
  src/reducers/reducers.test.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

Add copy; add exp tracking image
  src/components/feature-hints/feature-hints-content.js
  src/components/feature-hints/feature-hints.js
  src/components/feature-hints/feature-hints.scss
Due: frontend_change

Fix failing test
  src/components/settings-modal/settings-modal.test.js
Due: frontend_change

fixing linting and format errors
  cypress/tests/ui/flowchart/flowchart.cy.js
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
  package/setup.py
  package/tests/test_models/test_flowchart.py
Due: backend_change, frontend_change

fix format and lint errors
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/utils.py
  package/kedro_viz/server.py
Due: backend_change

fix pytest errors
  package/kedro_viz/data_access/managers.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_server.py
Due: backend_change

add test cases and add fix for circle ci builds
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/utils.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_utils.py
Due: backend_change

Create DelayedRender component; create separate FeatureHintDot component; rest of the logic and dot adjustments
  src/components/feature-hints/feature-hint-dot.js
  src/components/feature-hints/feature-hints-content.js
  src/components/feature-hints/feature-hints.js
  src/components/feature-hints/feature-hints.scss
  src/components/settings-modal/settings-modal.js
  src/components/ui/delayed-renderer/delayed-renderer.js
  src/components/ui/delayed-renderer/delayed-renderer.scss
  src/components/ui/delayed-renderer/index.js
  src/components/ui/modal/modal.scss
  src/components/wrapper/wrapper.js
Due: frontend_change

Small cleanup
  src/components/app/app.scss
  src/components/feature-hints/feature-hint-dot.js
  src/components/feature-hints/feature-hints.js
  src/components/feature-hints/feature-hints.scss
Due: frontend_change

Remove logs, update release notes, move Router outside of ternary operator
  RELEASE.md
  src/components/wrapper/wrapper.js
  src/store/load-data.js
Due: frontend_change

Update release file
  RELEASE.md
Due: frontend_change

Fix bugs for React 18 dev build
  src/actions/graph.js
  src/components/ui/dropdown/dropdown.js
  src/store/load-data.js
Due: frontend_change

resolve PR comments
  demo-project/stats.json
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/utils.py
  package/kedro_viz/models/utils.py
  package/setup.py
Due: backend_change, frontend_change

fixing PR comments and add additional support for MemoryDataset
  cypress/tests/ui/flowchart/flowchart.cy.js
  demo-project/stats.json
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/utils.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/setup.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_flowchart.py
  package/tests/test_models/test_utils.py
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
  src/components/metadata/styles/metadata.scss
  src/reducers/nodes.js
  src/selectors/metadata.js
  src/utils/data/node_data_stats.mock.json
  src/utils/index.js
Due: backend_change, frontend_change

update stats and modify file_size extraction
  demo-project/stats.json
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

fix lint and format errors
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

fix lint errors
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

fix lint errors
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

PR fixes
  src/actions/index.js
  src/components/feature-hints/feature-hints.js
  src/components/metadata-modal/metadata-modal.scss
  src/components/settings-modal/settings-modal.js
Due: frontend_change

Feature Hint cards and app walkthrough (#1454)
  package-lock.json
  src/actions/index.js
  src/components/app/app.scss
  src/components/feature-hints/feature-hint-dot.js
  src/components/feature-hints/feature-hints-content.js
  src/components/feature-hints/feature-hints.js
  src/components/feature-hints/feature-hints.scss
  src/components/feature-hints/index.js
  src/components/flowchart/draw.js
  src/components/global-toolbar/global-toolbar.js
  src/components/metadata-modal/metadata-modal.scss
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/node-list/node-list.js
  src/components/settings-modal/settings-modal.js
  src/components/settings-modal/settings-modal.scss
  src/components/settings-modal/settings-modal.test.js
  src/components/ui/delayed-renderer/delayed-renderer.js
  src/components/ui/delayed-renderer/delayed-renderer.scss
  src/components/ui/delayed-renderer/index.js
  src/components/ui/icon-button/icon-button.js
  src/components/ui/modal/modal.scss
  src/components/update-reminder/update-reminder.scss
  src/components/wrapper/wrapper.js
  src/config.js
  src/reducers/index.js
  src/reducers/reducers.test.js
  src/store/initial-state.js
  src/store/store.js
Due: frontend_change

fix for PR comments
  demo-project/stats.json
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/utils.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
  src/components/metadata/metadata-stats.js
  src/components/metadata/metadata.js
  src/components/metadata/styles/metadata-stats.scss
Due: backend_change, frontend_change

add test coverage for transcoded data node
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Fix dataset and global tool bar error with standalone React component (#1475)
  RELEASE.md
  src/actions/graph.js
  src/components/ui/dropdown/dropdown.js
  src/components/wrapper/wrapper.js
Due: frontend_change

address PR comments
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/utils.py
  src/components/metadata/metadata-stats.js
  src/config.js
  src/utils/index.js
Due: backend_change, frontend_change

fix lint errors
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/utils.py
Due: backend_change

modify test cases for hooks and utils
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_models/test_utils.py
  src/components/metadata/styles/metadata.scss
Due: backend_change, frontend_change
