Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

add meaningful test names
  package/tests/conftest.py
Due: backend_change

Standalone Example Repository section added
  README.md
Due: frontend_change

refactor tests
  package/tests/test_data_access/test_managers.py
Due: backend_change

refactor tests from PR comments1
  package/tests/test_data_access/test_managers.py
Due: backend_change

save file details added
  README.md
Due: frontend_change

test fix
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/sidebar/sidebar.test.js
Due: frontend_change

Section rearrangement
  README.md
Due: frontend_change

README.md file path is changed for PyPI
  package/setup.py
Due: backend_change

Update layers.py
  package/kedro_viz/services/layers.py
Due: backend_change

Update test_layers.py
  package/tests/test_services/test_layers.py
Due: backend_change

test fix
  src/components/flowchart/flowchart.test.js
Due: frontend_change

use different kedro-sphinx-them for testing
  package/setup.py
Due: backend_change

update correct link
  package/setup.py
Due: backend_change

to re-run the build
  package/setup.py
Due: backend_change

Remove space
  package/setup.py
Due: backend_change

rebuild
  package/setup.py
Due: backend_change

add favicon
  docs/source/conf.py
Due: frontend_change

Tags and Nodetypes filter by passing as props
  src/actions/tags.js
  src/components/app/app.js
  src/components/container/container.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/reducers/tags.js
  src/store/initial-state.js
  src/store/normalize-data.js
Due: frontend_change

address PR comments
  docs/source/experiment_tracking.md
  docs/source/images/pipeline_dataset_stats.png
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

fix based on Ivan's comments
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/utils.py
Due: backend_change

fixes based on Ivan's review
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/utils.py
Due: backend_change

Conditionally move session store and stats file to .viz directory (#1915)
  RELEASE.md
  demo-project/.viz/stats.json
  docs/source/experiment_tracking.md
  docs/source/images/pipeline_dataset_stats.png
  docs/source/kedro-viz_visualisation.md
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change, frontend_change

lint
  package/kedro_viz/services/layers.py
  package/requirements.txt
  package/tests/test_services/test_layers.py
Due: backend_change

add ordering
  package/kedro_viz/services/layers.py
  package/tests/test_services/test_layers.py
Due: backend_change

Update test_responses.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
