Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

stats moved
  demo-project/.viz/stats.json
  demo-project/src/demo_project/settings.py
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
Due: backend_change, frontend_change

session store path change
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
Due: backend_change

Update Packaging Pin to >=23.0
  package/requirements.txt
Due: backend_change

Added entry to the RELEASE.md file
  RELEASE.md
Due: frontend_change

set actions - filters
  src/actions/filters.js
Due: frontend_change

set reducers - filters
  src/reducers/filters.js
  src/reducers/index.js
Due: frontend_change

set reducers - filtered-pipeline
  src/selectors/filtered-pipeline.js
Due: frontend_change

user getFilteredPipeline in disabled
  src/selectors/disabled.js
Due: frontend_change

set eslint
  .eslintrc.json
Due: frontend_change

first setup in flowchart
  src/components/flowchart/flowchart.js
  src/selectors/filtered-pipeline.js
Due: frontend_change

include isDisabledViaFilters in disabled
  src/selectors/disabled.js
Due: frontend_change

add test coverage and lint fix
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

docs update
  docs/source/experiment_tracking.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

pin numpy for lower_requirements
  package/features/steps/lower_requirements.txt
Due: backend_change

fix file permissions
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

testing 3.9 e2e test fail
  package/requirements.txt
Due: backend_change

pin numpy in requirements
  package/requirements.txt
Due: backend_change

address PR comments1
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/utils.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

address PR comments1
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/utils.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

address PR comments1
  package/kedro_viz/data_access/managers.py
Due: backend_change

highlight multi-select nodes
  src/actions/nodes.js
  src/components/flowchart/draw.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_node.scss
  src/reducers/nodes.js
  src/selectors/nodes.js
Due: frontend_change

Update requirements.txt
  package/requirements.txt
Due: backend_change

Update layers.py
  package/kedro_viz/services/layers.py
Due: backend_change

use local state instead
  src/components/flowchart/draw.js
Due: frontend_change

Preview mode added
  src/components/app/app.js
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/sidebar/sidebar.js
  src/selectors/layout.js
  src/store/initial-state.js
Due: frontend_change

pin numpy during e2e test
  package/features/steps/cli_steps.py
  package/requirements.txt
Due: backend_change

address PR comments1
  RELEASE.md
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
Due: backend_change, frontend_change

overkill
  package/features/steps/cli_steps.py
Due: backend_change

add sphinx doc build fix
  docs/source/publish_and_share_kedro_viz_on_azure.md
Due: frontend_change

Update Packaging Pin to >=23.0
  RELEASE.md
  package/requirements.txt
Due: backend_change, frontend_change

Fix numpy 2.0 e2e test fail with lower requirements (#1949)
  RELEASE.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
Due: backend_change, frontend_change

create dir reuse method
  package/kedro_viz/integrations/kedro/sqlite_store.py
Due: backend_change

Kedro viz as react component documentation
  .github/README.md
  .github/img/kedro_viz_annotation.png
  README.md
Due: frontend_change

fix lint
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

Viz doc added
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

add meaningful test names
  package/tests/conftest.py
  package/tests/test_data_access/expected_tree_for_edge_cases
Due: backend_change

add meaningful test case names
  package/tests/test_data_access/expected_tree_for_edge_cases
Due: backend_change
