Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

remove uv install from setup
  .github/actions/setup_tests/action.yml
Due: frontend_change

only install node and fe dependencies if e2e tests run
  .github/actions/setup_tests/action.yml
Due: frontend_change

remove the condition as it will be done in a separate ticket
  .github/actions/setup_tests/action.yml
Due: frontend_change

Extra line at the end
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

done
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/server.py
Due: backend_change

Update action.yml
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

[DRAFT] use uv to install dependencies (#2204)
  .github/actions/install_kedro_and_python_dependencies/action.yml
Due: frontend_change

fix lint
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

fix tests
  package/tests/test_launchers/test_cli/test_run.py
  package/tests/test_server.py
Due: backend_change

fix tests
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

fix tests -1
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

remove accident deleting
  package/kedro_viz/launchers/cli/run.py
Due: backend_change

Update test_run.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

update docs
  docs/source/cli-docs.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Update cli-docs.md
  docs/source/cli-docs.md
Due: frontend_change

fix docs errror
  docs/source/cli-docs.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Update kedro-viz_visualisation.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

fix docs
  docs/source/cli-docs.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

update myst_heading_anchors
  docs/source/conf.py
Due: frontend_change

fix myst error
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

add release notes
  RELEASE.md
Due: frontend_change

Fix `kedro viz --load-file` to run from any directory without requiring a Kedro project (#2206)
  RELEASE.md
  docs/source/cli-docs.md
  docs/source/conf.py
  docs/source/kedro-viz_visualisation.md
  package/kedro_viz/launchers/cli/run.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli/test_run.py
  package/tests/test_server.py
Due: backend_change, frontend_change

fix: Typo in docs
  docs/source/preview_datasets.md
Due: frontend_change

Fix typo in docs (#2211)
  docs/source/preview_datasets.md
Due: frontend_change

remove session store
  demo-project/src/demo_project/settings.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
  package/kedro_viz/server.py
Due: backend_change, frontend_change

remove relateds tests
  package/tests/conftest.py
  package/tests/test_integrations/test_sqlite_store.py
  package/tests/test_server.py
Due: backend_change

remove doc about session store
  CONTRIBUTING.md
  docs/source/experiment_tracking.md
  package/README.md
Due: backend_change, frontend_change

lint formatting
  package/tests/conftest.py
  package/tests/test_server.py
Due: backend_change

remove session store from tests
  package/tests/conftest.py
Due: backend_change

update docs reference
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

update test_server
  package/tests/test_server.py
Due: backend_change

remove sessions store from load_data
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
Due: backend_change

remove make_db_session_factory
  package/kedro_viz/database.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/conftest.py
Due: backend_change

remove session store from _load_data_helper
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

remove database.py entirely
  demo-project/src/demo_project/settings.py
  package/kedro_viz/database.py
Due: backend_change, frontend_change

remove test graphql folder
  package/tests/test_api/test_graphql/__init__.py
  package/tests/test_api/test_graphql/conftest.py
  package/tests/test_api/test_graphql/test_mutations.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_api/test_graphql/test_serializers.py
Due: backend_change
