Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Missing test added
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

remove strawberry graphql instances
  .github/styles/Kedro-viz/headings.yml
  .github/workflows/lint.yml
  Makefile
  package/features/steps/lower_requirements.txt
  package/mypy.ini
  package/requirements.txt
  package/test_requirements.txt
  trufflehog-ignore.txt
Due: backend_change, frontend_change

add import react to all jsx
  package-lock.json
  src/components/export-modal/export-graph.test.jsx
  src/components/run-not-found-warning/run-not-found-warning.jsx
  src/components/shareable-url-modal/shareable-url-metadata.jsx
  src/selectors/filtered-node-list-item.test.jsx
  src/utils/search-utils.jsx
  src/utils/search-utils.test.jsx
  src/utils/utils.test.jsx
Due: frontend_change

fix e2e tests
  package/features/viz.feature
Due: backend_change

remove sql alchemy and fix e2e test for py3.9
  .github/styles/Kedro-viz/ignore.txt
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
  package/requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

remove sql alchemy and fix e2e test for py3.9
  package/mypy.ini
Due: backend_change

remove version check of kedro as all e2e tests run against latest kedro
  package/features/steps/cli_steps.py
Due: backend_change

Code review suggestion
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

updated tests
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
Due: backend_change, frontend_change

revert e2e fixes
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

update demo project
  demo-project/Dockerfile
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/pyproject.toml
Due: frontend_change

should_collect_events check added
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Lint fix
  package/kedro_viz/integrations/kedro/run_hooks.py
Due: backend_change

Test fix
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

Missing tests added after adding _should_collect_events
  package/tests/test_integrations/test_run_hooks.py
Due: backend_change

updated tests (#2446)
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/integrations/kedro/hooks_utils.py
  package/tests/test_integrations/test_hooks_utils.py
Due: backend_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

update reminder-content for the upcoming release
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Vite bundle in react application
  vite.config.js
  webpack.lib.js
Due: frontend_change

added github PAT token
  .github/workflows/e2e-tests.yml
Due: frontend_change

cloned starter in workflow
  .github/workflows/e2e-tests.yml
  package/features/steps/cli_steps.py
Due: backend_change, frontend_change

remove setup and move requirements
  demo-project/pyproject.toml
  demo-project/requirements.txt
  demo-project/src/setup.py
Due: frontend_change

test with Patch.cwd()
  package/features/steps/cli_steps.py
Due: backend_change

move tests out of src
  demo-project/__init__.py
  demo-project/src/tests/test_run.py
  demo-project/tests/__init__.py
  demo-project/tests/pipelines/__init__.py
  demo-project/tests/pipelines/data_science/test_pipeline.py
  demo-project/tests/test_run.py
Due: frontend_change

add some prints statements
  .github/workflows/e2e-tests.yml
Due: frontend_change

clone latest starter
  .github/workflows/e2e-tests.yml
Due: frontend_change

print statements on latest starter fail
  .github/workflows/e2e-tests.yml
Due: frontend_change

try again
  .github/workflows/e2e-tests.yml
Due: frontend_change

try -2
  .github/workflows/e2e-tests.yml
Due: frontend_change

fix token issue
  .github/workflows/e2e-tests.yml
Due: frontend_change

try 3
  .github/workflows/all-checks.yml
  .github/workflows/e2e-tests.yml
Due: frontend_change

prevent merge_gatekeeper from ignoring e2e
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

remove ignore temp
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

remove secrets
  .github/workflows/all-checks.yml
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

remove secrets from workflow_call
  .github/workflows/e2e-tests.yml
Due: frontend_change

try 5
  .github/workflows/all-checks.yml
  .github/workflows/e2e-tests.yml
Due: frontend_change

try 6
  .github/workflows/e2e-tests.yml
Due: frontend_change

token debug
  .github/workflows/e2e-tests.yml
Due: frontend_change

change to tagging token
  .github/workflows/e2e-tests.yml
Due: frontend_change
