Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

show missing keys
  package/kedro_viz/models/flowchart.py
Due: backend_change

Fix Windows build issue for Kedro Viz Lite (#2076)
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_integrations/test_data_catalog_lite.py
Due: backend_change

Reload the page resets back the default pipeline (#2041)
  src/actions/pipelines.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/store/initial-state.js
Due: frontend_change

fallback dataset for lite
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/utils.py
  package/tests/test_data_access/test_managers.py
  src/components/metadata/metadata.js
Due: backend_change, frontend_change

update file permissions
  demo-project/.version
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

update release note
  RELEASE.md
  package/kedro_viz/integrations/utils.py
Due: backend_change, frontend_change

fix tests
  package/kedro_viz/api/rest/responses.py
  src/components/metadata/metadata.test.js
Due: backend_change, frontend_change

address PR comments
  docs/source/cli-docs.md
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

first skeleton for the feedback component
  package.json
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/list.js
  src/components/feedback-form/stars.js
  src/components/feedback-form/stars.scss
  src/components/flowchart/flowchart.js
  src/components/icons/star.js
Due: frontend_change

star component
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/stars.js
  src/components/feedback-form/stars.scss
Due: frontend_change

include feedback button
  src/components/feedback-button/feedback-button.js
  src/components/feedback-button/feedback-button.scss
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/feedback-form/stars.js
  src/components/flowchart/flowchart.js
Due: frontend_change

changes based on review
  docs/source/images/preview_datasets_json.png
  docs/source/preview_custom_datasets.md
Due: frontend_change

Update docs/source/kedro-viz_visualisation.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

add previews
  .github/workflows/deploy-demo.yml
Due: frontend_change

add previws
  .github/workflows/deploy-demo.yml
Due: frontend_change

fix permissions
  tools/test-lib/react-app/app.test.js
Due: frontend_change

add lite viz banner
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/icons/alert.js
  src/components/ui/banner/banner.js
  src/components/ui/banner/banner.scss
  src/components/ui/banner/banner.test.js
  src/components/ui/banner/index.js
  src/config.js
  src/styles/_variables.scss
Due: frontend_change

Enhance Documentation for Dataset Previews (#2074)
  docs/source/images/preview_datasets_json.png
  docs/source/preview_custom_datasets.md
  docs/source/preview_datasets.md
Due: frontend_change

send data to heap through feedback
  src/components/feedback-button/feedback-button.js
  src/components/feedback-button/feedback-button.scss
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/feedback-form/stars.js
  src/components/flowchart/flowchart.js
Due: frontend_change

remove unused prop and component
  package.json
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/list.js
Due: frontend_change

banner design change
  src/components/ui/banner/banner.scss
  src/styles/_variables.scss
Due: frontend_change

add tests
  src/components/ui/banner/banner.test.js
Due: frontend_change

address PR comments
  docs/source/cli-docs.md
  package/README.md
  package/kedro_viz/launchers/cli/run.py
Due: backend_change, frontend_change

Add UnavailableDataset as a default dataset for lite mode (#2083)
  RELEASE.md
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/utils.py
  package/tests/test_data_access/test_managers.py
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
Due: backend_change, frontend_change

Documentation: Kedro-Viz in VSCode Kedro extension (#2078)
  docs/source/images/viz-in-vscode.gif
  docs/source/kedro-viz_visualisation.md
  package/README.md
Due: backend_change, frontend_change

Enable previews on Demo Site (#2084)
  .github/workflows/deploy-demo.yml
Due: frontend_change

add title for feedback button
  src/components/feedback-button/feedback-button.js
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/flowchart/flowchart.js
Due: frontend_change

mood board
  src/components/feedback-button/feedback-button.scss
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/feedback-form/mood.js
  src/components/feedback-form/mood.scss
  src/components/feedback-form/stars.js
  src/components/feedback-form/stars.scss
  src/components/flowchart/flowchart.js
  src/components/icons/mood-dissatisfied.js
  src/components/icons/mood-neutral.js
  src/components/icons/mood-satisfied.js
  src/components/icons/mood-very-dissatisfied.js
  src/components/icons/mood-very-satisfied.js
Due: frontend_change

refactor metadata api
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  src/actions/index.js
  src/components/experiment-wrapper/experiment-wrapper.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/ui/banner/banner.js
  src/config.js
  src/reducers/banner.js
  src/reducers/index.js
  src/store/initial-state.js
  src/utils/index.js
Due: backend_change, frontend_change

fix permissions
  demo-project/.version
  src/actions/index.js
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  src/utils/index.js
  tools/test-lib/react-app/app.js
Due: frontend_change

working state
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/api/rest/utils.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/metadata.py
Due: backend_change

update with final design
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/feedback-form/mood.js
  src/components/feedback-form/mood.scss
Due: frontend_change

include messages
  src/components/feedback-form/feedback-form.js
  src/components/feedback-form/feedback-form.scss
  src/components/feedback-form/mood.js
  src/components/feedback/feedback.js
  src/components/icons/mood-neutral.js
Due: frontend_change

move to Feedback wrapper instead
  src/components/feedback-form/feedback-form.js
  src/components/feedback/feedback.js
  src/components/flowchart/flowchart.js
Due: frontend_change

add local storage to track first time
  src/components/feedback/feedback.js
  src/config.js
Due: frontend_change

add key for Mood component
  src/components/feedback-form/mood.js
Due: frontend_change

comment out banner condition for testing
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

draft version of local storage
  src/components/feedback/feedback.js
  src/components/flowchart/flowchart.js
Due: frontend_change

fix for catalog 2.0
  package/kedro_viz/integrations/kedro/abstract_dataset_lite.py
  package/kedro_viz/integrations/kedro/data_catalog_lite.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/tests/test_integrations/test_abstract_dataset_lite.py
  package/tests/test_integrations/test_data_catalog_lite.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
