Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

remove python v 3.8 as we don't support it anymore
  .github/workflows/docs-only-checks.yml
Due: frontend_change

update settings-modal design
  src/components/settings-modal/settings-modal.js
  src/components/settings-modal/settings-modal.scss
  src/components/ui/button/button.scss
  src/components/ui/modal/modal.scss
  src/components/ui/toggle/toggle.scss
Due: frontend_change

PrettyName off by default
  src/config.js
Due: frontend_change

Refactor backend integration with Kedro by replacing bootstrap_project with configure_project (#1796)
  RELEASE.md
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

Merge Gatekeeper updated
  .github/workflows/merge-gatekeeper.yml
Due: frontend_change

merge main from remote
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

Inherit tags from nodes for modular pipelines
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/services/modular_pipelines.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

Lint fix
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/services/modular_pipelines.py
Due: backend_change

remove python 3.12
  .github/workflows/docs-only-checks.yml
Due: frontend_change

update colors from rgb to hex
  src/components/settings-modal/settings-modal.scss
  src/components/ui/button/button.scss
  src/components/ui/toggle/toggle.scss
  src/config.js
  src/styles/_variables.scss
Due: frontend_change

Unit test fix
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

Update settings panel design (#1875)
  src/components/settings-modal/settings-modal.js
  src/components/settings-modal/settings-modal.scss
  src/components/ui/button/button.scss
  src/components/ui/modal/modal.scss
  src/components/ui/toggle/toggle.scss
  src/styles/_variables.scss
Due: frontend_change

update error message
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

Unit test fix
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

unit test fix
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

Try docs build with build-docs.sh
  .readthedocs.yml
  docs/Makefile
  docs/build-docs.sh
  docs/make.bat
Due: frontend_change

tags removed
  package/kedro_viz/models/flowchart.py
Due: backend_change

testing the doc build
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

test in progress
  demo-project/src/demo_project/pipeline_registry.py
  demo-project/src/demo_project/pipelines/generic/__init__.py
  demo-project/src/demo_project/pipelines/generic/pipeline.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/kedro_viz/services/modular_pipelines.py
Due: backend_change, frontend_change

Fix Kedro-Viz waiting for valid Kedro Project (#1871)
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/utils.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_utils.py
Due: backend_change, frontend_change

done
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

add exception block to handle pydantic serialization errors
  package/kedro_viz/api/apps.py
Due: backend_change

pipeline tree
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/services/modular_pipelines.py
Due: backend_change

constants set to workflow env
  .github/workflows/check-release.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/release.yml
Due: frontend_change

Add python version to the job name.
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

Update .github/styles/Kedro-viz/Spellings.yml
  .github/styles/Kedro-viz/Spellings.yml
Due: frontend_change

Update .github/workflows/docs-only-checks.yml
  .github/workflows/docs-only-checks.yml
Due: frontend_change

new approach for tags
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/services/modular_pipelines.py
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

lint fix
  package/tests/test_data_access/test_repositories/test_modular_pipelines.py
Due: backend_change

Lint fix
  package/kedro_viz/data_access/managers.py
Due: backend_change

lint fix
  package/kedro_viz/data_access/managers.py
Due: backend_change

None check for pipeline_id added
  package/kedro_viz/data_access/managers.py
Due: backend_change

profiling large pipeline
  data_loader.py.lprof
  demo-project/kedro.lprof
  make.lprof
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/server.py
  profile_output.lprof
  profile_output.txt
  profile_output_2024-05-01T174028.txt
  python.lprof
  server.py.lprof
Due: backend_change, frontend_change

Update .readthedocs.yml
  .readthedocs.yml
Due: frontend_change

to slice nodes from the startID and any nodes before endID
  src/selectors/filtered-pipeline.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
