Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

fix for circleci build e2e
  .circleci/continue_config.yml
Due: ci_change, frontend_change

fix for python dependencies
  .circleci/continue_config.yml
Due: ci_change, frontend_change

fix for frontend build
  .circleci/continue_config.yml
Due: ci_change, frontend_change

add cypress system requirements
  .circleci/continue_config.yml
Due: ci_change, frontend_change

add setup cypress requirements
  .circleci/continue_config.yml
Due: ci_change, frontend_change

modify shell script execution command
  .circleci/continue_config.yml
  cypress/support/cy.start.sh
  package.json
Due: ci_change, frontend_change

check for a failed status on circleci
  cypress/tests/ui/flowchart/flowchart.cy.js
Due: frontend_change

add exit code for fail case
  cypress/support/cy.start.sh
Due: frontend_change

circleci e2e test integration without cache and parallelism
  .circleci/continue_config.yml
  cypress/tests/ui/flowchart/flowchart.cy.js
Due: ci_change, frontend_change

Relax `semver` requirement bound, add back comment
  package/requirements.txt
Due: backend_change

add cache for node and python deps
  .circleci/continue_config.yml
Due: ci_change, frontend_change

check for node dependency caching
  .circleci/continue_config.yml
Due: ci_change, frontend_change

change python dep cached path
  .circleci/continue_config.yml
Due: ci_change, frontend_change

bump pip dep version to invalidate circleci cache
  .circleci/continue_config.yml
Due: ci_change, frontend_change

fallback pip dep version to invalidate circleci cache
  .circleci/continue_config.yml
Due: ci_change, frontend_change

remove cache strategy for pip
  .circleci/continue_config.yml
Due: ci_change, frontend_change

fix lint and try tests
  package/features/steps/cli_steps.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

fix tests
  package/features/steps/cli_steps.py
Due: backend_change

remove support for 3.7
  .circleci/continue_config.yml
Due: ci_change, frontend_change

set the disbled in normalize-data instead
  src/store/initial-state.js
  src/store/normalize-data.js
Due: frontend_change

remove unused variable
  src/store/initial-state.js
Due: frontend_change

Do not tell type checker to ignore aliased classes (#1447)
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

clean up
  .circleci/continue_config.yml
  package/features/steps/cli_steps.py
Due: backend_change, ci_change, frontend_change

fix circleci
  .circleci/continue_config.yml
Due: ci_change, frontend_change

update release note and set local var
  RELEASE.md
  src/store/initial-state.js
Due: frontend_change

Relax `semver` requirement bound, add back comment (#1452)
  package/requirements.txt
Due: backend_change

First stab at work; all working well. Need UI/UX improvements
  package-lock.json
  src/components/app-onboarding/app-onboarding-content.js
  src/components/app-onboarding/app-onboarding.js
  src/components/app-onboarding/app-onboarding.scss
  src/components/app-onboarding/index.js
  src/components/app/app.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/minimap-toolbar/minimap-toolbar.js
  src/components/ui/icon-button/icon-button.js
  src/components/wrapper/wrapper.js
Due: frontend_change

Fix failing test
  src/components/app-onboarding/app-onboarding.js
Due: frontend_change

Fix/url-for-parameter (#1449)
  RELEASE.md
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/flowchart/flowchart.test.js
  src/store/initial-state.js
  src/store/normalize-data.js
Due: frontend_change

ignore frontend build for e2e tests
  .circleci/continue_config.yml
Due: ci_change, frontend_change

revert:ignore frontend build for e2e tests
  .circleci/continue_config.yml
Due: ci_change, frontend_change

Update package/features/steps/cli_steps.py
  package/features/steps/cli_steps.py
Due: backend_change

add check for static file deps and remove npm_build step from js tests
  .circleci/continue_config.yml
  package/kedro_viz/api/apps.py
Due: backend_change, ci_change, frontend_change

Expand the code block spacing and width
  src/components/metadata/styles/metadata-code.scss
  src/components/metadata/styles/metadata.scss
Due: frontend_change

Frontend E2E Testing for Experiment Tracking (#1451)
  cypress/fixtures/graphql/.gitkeep
  cypress/fixtures/graphql/compareThreeRuns.json
  cypress/fixtures/graphql/compareTwoRuns.json
  cypress/fixtures/graphql/getMetricPlotData.json
  cypress/fixtures/graphql/getRunData.json
  cypress/fixtures/graphql/getRunsList.json
  cypress/fixtures/graphql/updateBookmark.json
  cypress/fixtures/graphql/updateRunContent.json
  cypress/fixtures/graphql/updateRunNotes.json
  cypress/fixtures/graphql/updateRunTitle.json
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tests/ui/experiment-tracking/experiment-tracking.cy.js
  cypress/tests/ui/experiment-tracking/menu.cy.js
  cypress/tests/ui/experiment-tracking/panel.cy.js
  cypress/tests/ui/flowchart/flowchart.cy.js
  cypress/tests/ui/flowchart/menu.cy.js
  cypress/tests/ui/flowchart/panel.cy.js
  src/components/experiment-tracking/experiment-primary-toolbar/experiment-primary-toolbar.js
  src/components/experiment-tracking/run-details-modal/run-details-modal.js
  src/components/experiment-tracking/run-export-modal/run-export-modal.js
  src/components/ui/dropdown/dropdown-renderer.js
Due: frontend_change

add buffer for page load for huge data
  cypress/support/commands.js
Due: frontend_change

add win3.7 back but skip test
  .circleci/continue_config.yml
  package/features/environment.py
Due: backend_change, ci_change, frontend_change

fix version
  package/features/environment.py
Due: backend_change

add win tests temp
  .circleci/continue_config.yml
  package-lock.json
  package/features/environment.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change, ci_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
