Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Update continue_config.yml
  .circleci/continue_config.yml
Due: ci_change, frontend_change

changes based on review
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

add back pylint disable
  package/tests/test_integrations/test_sqlite_store.py
Due: backend_change

lint
  .circleci/continue_config.yml
  package/kedro_viz/models/flowchart.py
Due: backend_change, ci_change, frontend_change

fix lint:
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

revert kedro-datasets
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/src/docker_requirements.txt
  package/test_requirements.txt
Due: backend_change, frontend_change

revert dataset requirements
  demo-project/src/docker_requirements.txt
  package/kedro_viz/models/flowchart.py
  package/test_requirements.txt
Due: backend_change, frontend_change

initial draft
  .circleci/continue_config.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  package/setup.py
  package/test_requirements.txt
Due: backend_change, ci_change, frontend_change

update release note
  RELEASE.md
Due: frontend_change

fix read the docs
  .readthedocs.yml
Due: frontend_change

remove fsspec upper bound
  package/requirements.txt
  package/setup.py
Due: backend_change

update shareableviz doc for azure
  docs/source/images/azure_add_role_assign.png
  docs/source/images/azure_app_registration.png
  docs/source/images/azure_app_secrets.png
  docs/source/images/azure_client_secret.png
  docs/source/images/azure_client_secret_value.png
  docs/source/images/azure_iam_tab.png
  docs/source/images/azure_member_assign.png
  docs/source/images/azure_storage_role.png
  docs/source/share_kedro_viz.md
Due: frontend_change

minor update to docs
  docs/source/share_kedro_viz.md
Due: frontend_change

Remove Python3.8 Support (#1747)
  .circleci/continue_config.yml
  .readthedocs.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  package/setup.py
  package/test_requirements.txt
Due: backend_change, ci_change, frontend_change

Kedro Viz Static Website hosting on Azure (#1708)
  RELEASE.md
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/deployment/azure_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/requirements.txt
  package/setup.py
  package/test_requirements.txt
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

update pytest
  package/tests/test_launchers/test_cli.py
Due: backend_change

revert file permission change
  package/kedro_viz/launchers/cli.py
Due: backend_change

add notes to azure deployment docs
  docs/source/share_kedro_viz.md
Due: frontend_change

Kedro Viz Static Website Hosting on GCP (#1711)
  RELEASE.md
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/integrations/deployment/gcp_deployer.py
  package/setup.py
  package/test_requirements.txt
  package/tests/test_integrations/test_deployer_factory.py
  package/tests/test_integrations/test_gcp_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

update gcp deploy info
  docs/source/conf.py
  docs/source/images/gcp_sa.png
  docs/source/images/gcp_sa_details.png
  docs/source/images/gcp_sa_key_confirm.png
  docs/source/images/gcp_sa_key_download.png
  docs/source/images/gcp_sa_keys.png
  docs/source/images/gcp_sa_roles.png
  docs/source/share_kedro_viz.md
Due: frontend_change

permission change
  docs/source/conf.py
Due: frontend_change

add gcp endpoint info
  docs/source/share_kedro_viz.md
Due: frontend_change

Initial commit
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/node-list/index.js
  src/components/settings-modal/settings-modal.js
  src/config.js
  src/store/initial-state.js
  src/store/normalize-data.js
  src/utils/hooks/use-generate-pathname.js
  src/utils/match-path.js
Due: frontend_change

Set query params from local storage on load
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/store/initial-state.js
  src/store/normalize-data.js
  src/utils/get-keys-by-value.js
Due: frontend_change

fix changes based on review
  package/kedro_viz/models/flowchart.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

Improve Kedro-viz experience on notebooks (#1722)
  RELEASE.md
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change, frontend_change

feature: add project_path argument
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/server.py
Due: backend_change

UI alignment and endpoint help text added.
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

remove pydantic explicit requirement from requirements and lower requirements
  package/features/steps/lower_requirements.txt
  package/requirements.txt
Due: backend_change

Update package/kedro_viz/models/flowchart.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

Add Kedro-Viz documentation URLs and update modal content
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Enable %run_viz magic line to use the arguments that Kedro-Viz supports on the command line (#1733)
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

is_preview_disabled returns bool
  package/kedro_viz/models/flowchart.py
Due: backend_change

make bool more clear
  demo-project/conf/base/catalog_01_raw.yml
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

discard demo changes
  demo-project/conf/base/catalog_01_raw.yml
  package/kedro_viz/models/flowchart.py
Due: backend_change, frontend_change

Code review suggestions added
  src/components/shareable-url-modal/shareable-url-modal.js
  src/config.js
Due: frontend_change

Refactor datasets (#1698)
  demo-project/src/demo_project/requirements.in
  demo-project/src/docker_requirements.txt
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  package/test_requirements.txt
  package/tests/conftest.py
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_models/test_flowchart.py
  src/components/metadata-modal/metadata-modal.js
  src/components/metadata-modal/metadata-modal.test.js
  src/components/metadata/metadata.js
  src/reducers/nodes.js
  src/selectors/metadata.js
  src/store/normalize-data.js
  src/utils/data/node_json_data.mock.json
  src/utils/data/node_metrics_data.mock.json
  src/utils/data/node_plot.mock.json
Due: backend_change, frontend_change

Updated docs for shareable Viz and added an introduction page
  docs/source/share_kedro_viz.md
  docs/source/share_kedro_vizIntro.md
Due: frontend_change
