Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

flaky test fix
  .github/workflows/e2e-tests.yml
Due: frontend_change

revert testing
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

Flaky test fix (#2300)
  package/tests/test_integrations/test_lite_parser.py
  package/tests/test_integrations/test_notebook_visualizer.py
  package/tests/test_utils.py
Due: backend_change

revert sanitized pathname
  src/components/global-toolbar/global-toolbar.js
  src/utils/index.js
Due: frontend_change

add sanitized pathname back
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/wrapper/wrapper.js
  src/config.js
Due: frontend_change

removing ET part from sanitized path name
  src/utils/index.js
Due: frontend_change

test the root cause of refresh broken
  src/utils/index.js
Due: frontend_change

tested and fixed
  src/utils/index.js
Due: frontend_change

basics
  demo-project/conf/base/catalog.yml
  demo-project/conf/base/catalog_01_raw.yml
  demo-project/conf/base/catalog_02_int.yml
  demo-project/conf/base/catalog_03_prm.yml
  demo-project/conf/base/catalog_04_feature.yml
  demo-project/conf/base/catalog_05_model_input.yml
  demo-project/conf/base/catalog_06_models.yml
  demo-project/conf/base/catalog_08_reporting.yml
  demo-project/pyproject.toml
Due: frontend_change

add names to node func
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/feature_engineering/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  demo-project/src/demo_project/pipelines/reporting/pipeline.py
Due: frontend_change

fix pyproject.toml
  demo-project/conf/dev/catalog.yml
  demo-project/pyproject.toml
  demo-project/src/demo_project/pipeline_registry.py
Due: frontend_change

address PR comments
  src/utils/index.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

add back factory resolution
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/server.py
  package/tests/test_data_access/test_managers.py
Due: backend_change

Fix shareable viz for git pages (#2302)
  RELEASE.md
  src/components/global-toolbar/global-toolbar.js
  src/components/shareable-url-modal/shareable-url-metadata.js
  src/components/wrapper/wrapper.js
  src/config.js
  src/utils/index.js
Due: frontend_change

fix tests
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_launchers/test_cli/test_run.py
  package/tests/test_server.py
Due: backend_change

update release note and tests
  RELEASE.md
  package/kedro_viz/data_access/managers.py
Due: backend_change, frontend_change

fix lint errors
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_launchers/test_cli/test_run.py
Due: backend_change

test with DataCatalog and KedroDataCatalog
  package/kedro_viz/data_access/managers.py
Due: backend_change

fix lint
  package/kedro_viz/data_access/managers.py
Due: backend_change

refactor resolve factory patterns
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
Due: backend_change

fix docs
  docs/source/publish_and_share_kedro_viz_on_azure.md
Due: frontend_change

Fix missing layer information for dataset factories. (#2308)
  RELEASE.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/server.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_data_access/test_repositories/test_data_catalog.py
  package/tests/test_server.py
Due: backend_change, frontend_change

v11.0.1
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release initial draft for 11.0.1
  RELEASE.md
  demo-project/lightsail.json
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
Due: frontend_change

experimenting web sockets for viz status backend
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/api/rest/utils.py
  package/kedro_viz/integrations/kedro/custom_hooks/pipeline_monitor_hook.py
  package/kedro_viz/services/events_store.py
  package/pyproject.toml
Due: backend_change

Initial commit
  demo-project/.viz/kedro_pipeline_events.json
  package/kedro_viz/api/websockets.py
  package/kedro_viz/integrations/kedro/run_hooks.py
  package/kedro_viz/server.py
  package/pyproject.toml
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/flowchart.scss
  src/utils/websocket.js
Due: backend_change, frontend_change

Node icon fix
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/flowchart.scss
Due: frontend_change

MP fix
  src/components/flowchart/flowchart.js
Due: frontend_change

Release v11.0.1 (#2311)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  esm/kedro-viz.production.mjs
  esm/kedro-viz.production.mjs.LICENSE.txt
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

initial draft for data catalog compat
  demo-project/pyproject.toml
  demo-project/src/demo_project/pipelines/data_ingestion/pipeline.py
  demo-project/src/demo_project/pipelines/feature_engineering/pipeline.py
  demo-project/src/demo_project/pipelines/modelling/pipeline.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/notebook/data_loader.py
  package/kedro_viz/integrations/notebook/visualizer.py
  package/kedro_viz/server.py
Due: backend_change, frontend_change

minor update to run viz options
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

minor update to run viz options (#2325)
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Update readthedocs and pyproject.toml files and add mkdocs.yml
  .readthedocs.yml
  package/pyproject.toml
Due: backend_change, frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
