Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

revert reqs prev removed
  demo-project/src/demo_project/pipelines/data_ingestion/requirements.txt
  demo-project/src/demo_project/pipelines/feature_engineering/requirements.txt
  demo-project/src/demo_project/pipelines/modelling/requirements.txt
  demo-project/src/demo_project/pipelines/reporting/requirements.txt
  package/features/steps/cli_steps.py
Due: backend_change, frontend_change

test draft
  package/features/steps/cli_steps.py
  package/features/viz.feature
Due: backend_change

test draft2
  package/features/viz.feature
Due: backend_change

test draft3
  package/features/viz.feature
Due: backend_change

v7.0.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

release test
  demo-project/lightsail.json
Due: frontend_change

revert req file changes and update release note
  RELEASE.md
  demo-project/src/demo_project/pipelines/data_ingestion/requirements.txt
  demo-project/src/demo_project/pipelines/feature_engineering/requirements.txt
  demo-project/src/demo_project/pipelines/modelling/requirements.txt
  demo-project/src/demo_project/pipelines/reporting/requirements.txt
Due: frontend_change

Flowchart zoom: on Initial load fix for minimum scale
  src/components/flowchart/flowchart.js
Due: frontend_change

remove dataset factory discovery
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

Flowchart zoom: minimum scale fix on initial load (#1687)
  src/components/flowchart/flowchart.js
Due: frontend_change

Remove dataset factory discovery (#1688)
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_server.py
Due: backend_change

removed dataset factory from release notes
  RELEASE.md
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/kedro_viz/data_access/managers.py
Due: backend_change, frontend_change

fix lint
  package/kedro_viz/data_access/managers.py
Due: backend_change

Release v7.0.0 (#1685)
  RELEASE.md
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/features/steps/cli_steps.py
  package/features/viz.feature
  package/kedro_viz/__init__.py
  src/components/update-reminder/update-reminder-content.js
Due: backend_change, frontend_change

fixed
  demo-project/Dockerfile
Due: frontend_change

Fix Demo Deployment (#1691)
  demo-project/Dockerfile
Due: frontend_change

add start method
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

modify set start method to use context
  package/kedro_viz/launchers/jupyter.py
Due: backend_change

update pytest
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

add type ignore
  package/kedro_viz/api/graphql/router.py
Due: backend_change

update release note
  RELEASE.md
Due: frontend_change

add mypy ignore for entire file
  package/kedro_viz/api/graphql/router.py
Due: backend_change

CLI command kedro viz build added
  README.md
  RELEASE.md
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Lint fix
  package/tests/test_launchers/test_cli.py
Due: backend_change

lint fix
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

add mypy ignore
  package/kedro_viz/api/graphql/router.py
Due: backend_change

WIP
  demo-project/conf/base/catalog_08_reporting.yml
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/data_access/repositories/tracking_datasets.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/models/experiment_tracking.py
  package/kedro_viz/models/flowchart.py
  src/components/experiment-tracking/run-dataset/run-dataset.js
  src/components/experiment-tracking/run-plots-modal/run-plots-modal.js
  src/components/icons/node-icon.js
  src/components/metadata/metadata.js
  src/config.js
  src/reducers/nodes.js
  src/selectors/metadata.js
  src/store/normalize-data.js
Due: backend_change, frontend_change

Fix for Plotly graph rendering
  src/components/experiment-tracking/run-dataset/run-dataset.js
Due: frontend_change

Jest test fix
  src/components/experiment-tracking/run-dataset/run-dataset.test.js
Due: frontend_change

Missing build file added
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

add mypy ignore statements
  package/kedro_viz/api/graphql/router.py
Due: backend_change

Lint error fix
  package/kedro_viz/launchers/cli.py
Due: backend_change

BaseDeployer class added
  README.md
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change, frontend_change

Unused code removed
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

Fix lint issue
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/tests/test_integrations/test_base_deployer.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

azure deploy initial draft
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/az_deployer.py
  package/kedro_viz/launchers/cli.py
  package/requirements.txt
Due: backend_change

added base_deployer
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/integrations/deployment/local_deployer.py
  package/kedro_viz/integrations/deployment/s3_deployer.py
  package/kedro_viz/launchers/cli.py
Due: backend_change

add deployer factory
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/__init__.py
  package/kedro_viz/integrations/deployment/deployer_factory.py
  package/kedro_viz/launchers/cli.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
