Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Reset buton status test removed
  src/components/node-list/node-list.test.js
Due: frontend_change

Add Dataset Factory Patterns to Experiment Tracking (#1824)
  RELEASE.md
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/server.py
  package/tests/test_api/test_graphql/test_queries.py
  package/tests/test_data_access/test_managers.py
  package/tests/test_integrations/test_azure_deployer.py
  package/tests/test_integrations/test_gcp_deployer.py
  package/tests/test_server.py
Due: backend_change, frontend_change

Reset button status check revert
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/node-list/node-list.test.js
Due: frontend_change

Reset button UI update
  src/components/node-list/styles/_section.scss
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

include package name in jupyter and dev run
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

Add @astrojuanlu to `CODEOWNERS`
  .github/CODEOWNERS
Due: frontend_change

update release note as per review suggestions
  RELEASE.md
Due: frontend_change

Introduce --include-hooks option and remove --ignore-plugins in Kedro-Viz (#1818)
  README.md
  RELEASE.md
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_integrations/test_gcp_deployer.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change, frontend_change

fix tests and lint
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/jupyter.py
  package/kedro_viz/server.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_launchers/test_jupyter.py
Due: backend_change

revert permission change
  package/kedro_viz/data_access/managers.py
Due: backend_change

Add @astrojuanlu to `CODEOWNERS` (#1845)
  .github/CODEOWNERS
Due: frontend_change

CircleCI to Github actions migration for test
  .github/actions/install_node_dependencies/action.yml
  .github/actions/install_python_dependencies/action.yml
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

trufflehog-ignore updated
  trufflehog-ignore.txt
Due: frontend_change

update package json
  package.json
Due: frontend_change

remove kedro version from requirement file so it always gets the latest version
  demo-project/src/demo_project/requirements.in
Due: frontend_change

Fix posix path conversion on Windows in DatasetStatsHook (#1843)
  RELEASE.md
  demo-project/src/demo_project/pipelines/data_ingestion/nodes.py
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change, frontend_change

testing windows build
  .circleci/continue_config.yml
Due: ci_change, frontend_change

testing windows build
  package/tests/test_integrations/test_hooks.py
Due: backend_change

test circleci
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

testing to see if the build will pass
  cypress/tests/ui/flowchart/panel.cy.js
Due: frontend_change

testing path
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

testing path
  package/tests/test_integrations/test_hooks.py
Due: backend_change

testing system independent casting
  package/kedro_viz/integrations/kedro/hooks.py
Due: backend_change

fix PR comments
  package/kedro_viz/integrations/kedro/data_loader.py
Due: backend_change

code review suggestions for reset button status
  src/components/node-list/index.js
Due: frontend_change

state compare for nodeTypes
  src/components/node-list/index.js
  src/config.js
  src/utils/hooks/use-generate-pathname.js
Due: frontend_change

matrix for js removed
  .github/workflows/all-checks.yml
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

Matrix removed for js in frontend
  .github/workflows/build-frontend.yml
Due: frontend_change

Update config.js
  src/config.js
Due: frontend_change

build-frontend workflow merged with js-lint-test workflow
  .github/workflows/build-frontend.yml
  .github/workflows/javascript-lint-and-tests.yml
Due: frontend_change

revert test
  .circleci/continue_config.yml
Due: ci_change, frontend_change

On group filter click fix
  src/components/node-list/index.js
Due: frontend_change

add NODE_OPTION because the proxy server resolves localhost to ipv6 and your node server don't know who to handle it.
  cypress/tests/ui/flowchart/panel.cy.js
  package.json
Due: frontend_change

update node version in contributing guideline
  CONTRIBUTING.md
Due: frontend_change

Task to node mapping added
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/config.js
  src/store/initial-state.js
  src/utils/hooks/use-generate-pathname.js
  src/utils/index.js
Due: frontend_change

downgrade cypress to 13.3
  package.json
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
