Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

Build static node metadata from inspection state
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/node_extras.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_integrations/test_kedro_data_loader.py
Due: backend_change

Extract stateless live metadata helpers
  package/kedro_viz/models/flowchart/live_node_metadata.py
  package/kedro_viz/models/flowchart/node_metadata.py
  package/tests/test_models/test_flowchart/test_live_node_metadata.py
  package/tests/test_models/test_flowchart/test_node_metadata.py
  ruff.toml
Due: backend_change, frontend_change

Enrich node metadata by canonical node ID
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_enrichment.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/baseline/node_metadata.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_live_enrichment.py
Due: backend_change

Serve node metadata and run status from VizProjectContext
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_enrichment.py
  package/kedro_viz/integrations/kedro/inspection/run_status_service.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_inspection_adapter/baseline/node_metadata.json
  package/tests/test_inspection_adapter/capture_baseline.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_run_status_routes.py
  package/tests/test_inspection_adapter/test_run_status_service.py
Due: backend_change

Centralise inspection inputs in VizProjectContext
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/parameters.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_builder.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_parameters.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Move node-extras loading into inspection
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/node_extras.py
  package/tests/test_integrations/test_kedro_data_loader.py
Due: backend_change

Build static node metadata from inspection state
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/server.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
Due: backend_change

Serve node metadata and run status from VizProjectContext
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines/index.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/run_status_service.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_inspection_adapter/modular_pipelines/test_index.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_inspection_adapter/test_node_run_status_routes.py
  package/tests/test_inspection_adapter/test_run_status_service.py
Due: backend_change

Refactor unresolved modules handling in lite parser and update tests
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/kedro_viz/integrations/kedro/lite_parser.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_integrations/test_lite_parser.py
Due: backend_change

Refactor data source handling to check backend availability and add corresponding tests
  src/components/app/app.jsx
  src/components/wrapper/wrapper.jsx
  src/utils/data-source.js
  src/utils/data-source.test.js
Due: frontend_change

Refactor isBackendAvailable documentation for clarity
  src/utils/data-source.js
Due: frontend_change

Fix version checks for static and embedded Viz. (#2753)
  RELEASE.md
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/save_responses.py
  package/kedro_viz/api/rest/responses/version.py
  package/tests/test_api/test_apps.py
  package/tests/test_api/test_rest/test_responses/test_save_responses.py
  package/tests/test_api/test_rest/test_responses/test_version.py
  src/components/app/app.jsx
  src/components/app/app.test.jsx
  src/components/wrapper/wrapper.jsx
  src/components/wrapper/wrapper.test.jsx
  src/utils/data-source.js
  src/utils/data-source.test.js
Due: backend_change, frontend_change

Load shared inspection inputs at the project context boundary
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Load shared inspection inputs at the project context boundary (#2763)
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

add tooltip fix
  RELEASE.md
  src/components/ui/icon-button/icon-button.jsx
  src/components/ui/icon-button/icon-button.test.jsx
Due: frontend_change

Prepare project enrichment through one inspection loader
  .github/actions/install_kedro_and_python_dependencies/action.yml
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_integrations/test_kedro_data_loader.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

fix vale
  RELEASE.md
Due: frontend_change

fix dead code from 2022
  src/components/ui/icon-button/icon-button.jsx
Due: frontend_change

Build static node metadata from shared inspection inputs
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_builder.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_builder.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
Due: backend_change

Enrich node metadata through the context-owned service
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_enrichment.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/server.py
  package/tests/test_inspection_adapter/baseline/node_metadata.json
  package/tests/test_inspection_adapter/capture_node_metadata_baseline.py
  package/tests/test_inspection_adapter/metadata_parity_project.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_live_enrichment.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

Serve project HTTP routes through the context services
  RELEASE.md
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/inspection/__init__.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/modular_pipelines/index.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_builder.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/run_status_service.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_inspection_adapter/modular_pipelines/test_index.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_builder.py
  package/tests/test_inspection_adapter/test_node_metadata_live_enrichment.py
  package/tests/test_inspection_adapter/test_node_run_status_routes.py
  package/tests/test_inspection_adapter/test_run_status_service.py
Due: backend_change, frontend_change

Fix toolbar `tooltip` not dismissing on mouse leave (#2770)
  RELEASE.md
  src/components/ui/icon-button/icon-button.jsx
  src/components/ui/icon-button/icon-button.test.jsx
Due: frontend_change

Prepare project enrichment through one inspection loader (#2764)
  .github/actions/install_kedro_and_python_dependencies/action.yml
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/layers.py
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_context_creation.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_integrations/test_kedro_data_loader.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

Extend dataset stats to dictionaries of DataFrames
  RELEASE.md
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/metadata.py
  package/tests/conftest.py
  package/tests/test_integrations/test_hooks.py
  src/components/metadata/metadata.test.jsx
  src/config.js
Due: backend_change, frontend_change

Reference PR number in release notes (#2771)
  RELEASE.md
Due: frontend_change

Handle lazy partition loaders in dataset stats
  package/kedro_viz/integrations/kedro/hooks.py
  package/tests/test_integrations/test_hooks.py
Due: backend_change

Build static node metadata from shared inspection inputs
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_builder.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_builder.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_inspection_adapter/test_static_node_metadata_parity.py
Due: backend_change

Build static node metadata from shared inspection inputs (#2765)
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/graph_builder.py
  package/kedro_viz/integrations/kedro/inspection/graph_service.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_builder.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_enrichment.py
  package/tests/test_inspection_adapter/test_graph_builder_edge_cases.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_graph_service.py
  package/tests/test_inspection_adapter/test_inspection_adapter_parity.py
  package/tests/test_inspection_adapter/test_node_metadata_builder.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_inspection_adapter/test_static_node_metadata_parity.py
Due: backend_change

Remove unused inspection node metadata preparation
  RELEASE.md
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_builder.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_node_metadata_builder.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_inspection_adapter/test_static_node_metadata_parity.py
Due: backend_change, frontend_change

Remove upcoming release notes for unused inspection node metadata preparation
  RELEASE.md
Due: frontend_change

Remove unused inspection node metadata preparation (#2772)
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/enrichment.py
  package/kedro_viz/integrations/kedro/inspection/errors.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_builder.py
  package/kedro_viz/integrations/kedro/inspection/node_metadata_service.py
  package/kedro_viz/integrations/kedro/inspection/snapshot_source.py
  package/tests/conftest.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_metadata_compatibility.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_node_metadata_builder.py
  package/tests/test_inspection_adapter/test_node_metadata_service.py
  package/tests/test_inspection_adapter/test_snapshot_source.py
  package/tests/test_inspection_adapter/test_static_node_metadata_parity.py
Due: backend_change

Implement run status service and update API routes for project-specific run status handling
  package/kedro_viz/api/apps.py
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/integrations/kedro/inspection/context.py
  package/kedro_viz/integrations/kedro/inspection/run_status_service.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_api/test_rest/test_router.py
  package/tests/test_inspection_adapter/test_context.py
  package/tests/test_inspection_adapter/test_graph_routes.py
  package/tests/test_inspection_adapter/test_run_status_routes.py
  package/tests/test_inspection_adapter/test_run_status_service.py
Due: backend_change

Refactor run status handling in Kedro Viz
  package/kedro_viz/api/rest/responses/run_events.py
  package/kedro_viz/integrations/kedro/inspection/run_status_builder.py
  package/kedro_viz/integrations/kedro/inspection/run_status_service.py
  package/tests/test_api/test_rest/test_responses/test_run_events.py
  package/tests/test_inspection_adapter/test_run_status_builder.py
  package/tests/test_inspection_adapter/test_run_status_service.py
Due: backend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
