Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

revert changes
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/data_access/repositories/modular_pipelines.py
Due: backend_change

adjust python format
  package/kedro_viz/api/apps.py
Due: backend_change

check if it works
  package/features/environment.py
Due: backend_change

add some print statements for debugging
  package/features/environment.py
Due: backend_change

extra prints
  package/features/environment.py
Due: backend_change

push again
  package/features/environment.py
Due: backend_change

fix lint
  .circleci/continue_config.yml
  package/features/environment.py
Due: backend_change, ci_change, frontend_change

revert package-lock
  package-lock.json
Due: frontend_change

Update based on Steph's review
  src/components/flowchart/flowchart.js
  src/components/metadata/styles/metadata-code.scss
  src/components/metadata/styles/metadata.scss
  src/utils/view.js
Due: frontend_change

Update failing test
  src/utils/view.test.js
Due: frontend_change

remove deprecated dependencies which are for kedro16
  package/features/environment.py
Due: backend_change

fix format and lint check
  package/features/environment.py
Due: backend_change

Modal updates
  src/components/experiment-tracking/run-export-modal/run-export-modal.scss
  src/components/ui/modal/modal.scss
Due: frontend_change

Update release notes
  RELEASE.md
Due: frontend_change

Expand the code block spacing and width (#1455)
  RELEASE.md
  src/components/experiment-tracking/run-export-modal/run-export-modal.scss
  src/components/flowchart/flowchart.js
  src/components/metadata/styles/metadata-code.scss
  src/components/ui/modal/modal.scss
  src/utils/view.js
  src/utils/view.test.js
Due: frontend_change

v6.3.4
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Update lightsail file
  demo-project/lightsail.json
Due: frontend_change

Update environment.py file to fix failing test
  package/features/environment.py
Due: backend_change

add comments to html check
  package/kedro_viz/api/apps.py
Due: backend_change

Add E2E tests in CircleCI job javascript_lint_and_tests (#1453)
  .circleci/continue_config.yml
  cypress/support/commands.js
  cypress/support/cy.start.sh
  package.json
  package/features/environment.py
  package/kedro_viz/api/apps.py
Due: backend_change, ci_change, frontend_change

fixed
  package/kedro_viz/data_access/managers.py
Due: backend_change

change kedro_version placeholder to None
  package/features/environment.py
Due: backend_change

fix lint
  package/kedro_viz/data_access/managers.py
Due: backend_change

fix tests
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change

add to contributing docs
  CONTRIBUTING.md
Due: frontend_change

fix cont guide
  CONTRIBUTING.md
Due: frontend_change

Release v6.3.4 (#1458)
  demo-project/.version
  demo-project/lightsail.json
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: frontend_change

Clean e2e test setup (#1443)
  .circleci/continue_config.yml
  CONTRIBUTING.md
  package/features/environment.py
  package/features/steps/cli_steps.py
  package/features/steps/lower_requirements.txt
  package/features/viz.feature
  package/kedro_viz/models/flowchart.py
  package/requirements.txt
Due: backend_change, ci_change, frontend_change

add release notes
  RELEASE.md
Due: frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Fix incorrect data node rendering for modular pipelines (#1439)
  RELEASE.md
  package/kedro_viz/data_access/managers.py
  package/tests/test_api/test_rest/test_responses.py
Due: backend_change, frontend_change

change edge-stroke color to black for light theme in exports
  src/components/flowchart/styles/_variables.scss
Due: frontend_change

poc
  demo-project/src/demo_project/settings.py
Due: frontend_change

removed arrow head css
  src/components/flowchart/styles/_variables.scss
Due: frontend_change

add release notes for broken svg/png export fix
  RELEASE.md
Due: frontend_change

initial draft with hooks
  cypress/tests/ui/flowchart/flowchart.cy.js
  demo-project/stats.json
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/api/rest/router.py
  package/kedro_viz/data_access/managers.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
  package/kedro_viz/server.py
  package/setup.py
  src/components/metadata/metadata.js
  src/components/metadata/metadata.test.js
  src/components/metadata/styles/metadata.scss
  src/reducers/nodes.js
  src/selectors/metadata.js
  src/utils/data/node_data_profiler.mock.json
  src/utils/index.js
Due: backend_change, frontend_change

modify test for formatFileSize
  src/components/metadata/metadata.test.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
