Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

Provide example of anchor and aliases
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

Update Kedro-viz architecture diagram (#2183)
  .github/img/backend-architecture.png
  .github/img/frontend-architecture.png
  ARCHITECTURE.md
Due: frontend_change

fix the filters URL update
  src/components/nodes-panel/utils/filters-context.js
Due: frontend_change

Update kedro-viz_visualisation.md
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

update name for nodes panel context
  src/components/nodes-panel/index.js
  src/components/nodes-panel/utils/nodes-panel-context.js
Due: frontend_change

Refactor/node list index (#2178)
  src/components/filters/filters-group/filters-group.js
  src/components/filters/filters-group/filters-group.scss
  src/components/filters/filters-group/filters-group.test.js
  src/components/filters/filters-row/filters-row.scss
  src/components/filters/filters-section-heading/filters-section-heading.scss
  src/components/filters/filters-section-heading/filters-section-heading.test.js
  src/components/filters/filters-section/filters-section.js
  src/components/filters/filters-section/filters-section.test.js
  src/components/filters/filters.js
  src/components/filters/filters.scss
  src/components/filters/filters.test.js
  src/components/node-list-tree/node-list-row/node-list-row.js
  src/components/node-list-tree/node-list-row/node-list-row.scss
  src/components/node-list-tree/node-list-row/node-list-row.test.js
  src/components/node-list-tree/node-list-tree-item/node-list-tree-item.js
  src/components/node-list-tree/node-list-tree.js
  src/components/node-list-tree/styles/_panels.scss
  src/components/node-list-tree/styles/_variables.scss
  src/components/node-list-tree/styles/node-list.scss
  src/components/node-list/components/row/row.test.js
  src/components/node-list/index.js
  src/components/node-list/node-list.js
  src/components/nodes-panel/index.js
  src/components/nodes-panel/nodes-panel.js
  src/components/nodes-panel/nodes-panel.test.js
  src/components/nodes-panel/utils/filters-context.js
  src/components/nodes-panel/utils/node-list-context.js
  src/components/nodes-panel/utils/nodes-panel-context.js
  src/components/sidebar/sidebar.js
  src/components/ui/row-text/row-text.scss
  src/components/ui/toggle-control/toggle-control.scss
  src/selectors/filtered-node-list-item.test.js
  src/selectors/filtered-node-list-items.js
  src/selectors/nodes.js
Due: frontend_change

Add a tip on YAML anchors to docs on dataset layers (#2181)
  docs/source/kedro-viz_visualisation.md
Due: frontend_change

done
  src/components/node-list-tree/node-list-tree.js
  src/store/normalize-data.js
Due: frontend_change

done
  src/components/node-list-tree/node-list-tree.js
  src/components/nodes-panel/nodes-panel.js
  src/components/nodes-panel/utils/node-list-context.js
  src/selectors/disabled.js
  src/store/normalize-data.js
Due: frontend_change

fix cy tests
  src/components/node-list-tree/node-list-tree.js
Due: frontend_change

fixed layer sort
  package/kedro_viz/services/layers.py
  src/store/normalize-data.js
  src/utils/graph/index.js
Due: backend_change, frontend_change

fix tests
  src/selectors/sliced-pipeline.test.js
Due: frontend_change

done tests
  package/tests/test_services/test_layers.py
  src/actions/graph.test.js
  src/store/normalize-data.test.js
  src/utils/data/spaceflights_reordered.mock.json
  src/utils/state.mock.js
Due: backend_change, frontend_change

fix lint
  package/kedro_viz/services/layers.py
Due: backend_change

add python 3.12 support
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/docs-only-checks.yml
  RELEASE.md
  package/features/environment.py
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change, frontend_change

fix permission
  demo-project/.version
  src/components/export-modal/export-modal.js
  src/components/flowchart/flowchart.js
  src/components/flowchart/styles/_layers.scss
  src/components/global-toolbar/global-toolbar.js
  src/components/ui/button/button.js
  src/components/ui/dropdown/dropdown.js
  src/components/update-reminder/update-reminder-content.js
  src/config.js
  src/store/initial-state.js
  tools/test-lib/react-app/app.js
Due: frontend_change

add support for python 3.13
  .github/workflows/all-checks.yml
  .github/workflows/build-backend.yml
  .github/workflows/docs-only-checks.yml
  RELEASE.md
  package/kedro_viz/__init__.py
  package/tests/test_import.py
Due: backend_change, frontend_change

change func name
  src/store/normalize-data.js
Due: frontend_change

add kedro_Viz_version to heaps
  package/kedro_viz/api/apps.py
  public/telemetry.html
Due: backend_change, frontend_change

Refactor on NodeListTree (#2177)
  src/components/node-list-tree/node-list-tree.js
  src/components/nodes-panel/nodes-panel.js
  src/components/nodes-panel/nodes-panel.test.js
  src/components/nodes-panel/utils/node-list-context.js
  src/selectors/disabled.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

testing windows build
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: frontend_change

testing py3.12 with upgraded pandas
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  package/features/steps/lower_requirements.txt
Due: backend_change, frontend_change

testing python 3.12 and fsspec compat
  package/features/steps/lower_requirements.txt
Due: backend_change

shortern the syntax
  public/telemetry.html
Due: frontend_change

Ensure deterministic graph calculation with consistent layer, node, and edge ordering in Kedro-Viz (#2185)
  package/kedro_viz/services/layers.py
  package/tests/test_services/test_layers.py
  src/actions/graph.test.js
  src/selectors/sliced-pipeline.test.js
  src/store/normalize-data.js
  src/store/normalize-data.test.js
  src/utils/data/spaceflights_reordered.mock.json
  src/utils/state.mock.js
Due: backend_change, frontend_change

update release note and lint error
  RELEASE.md
  package/kedro_viz/api/apps.py
Due: backend_change, frontend_change

Fix lint error
  package/kedro_viz/api/apps.py
Due: backend_change

set version in base.py
  package/kedro_viz/integrations/deployment/base_deployer.py
Due: backend_change

fixed issue with nested focus modular pipeline
  RELEASE.md
  demo-project/.telemetry
  demo-project/pyproject.toml
  package/kedro_viz/api/apps.py
  public/telemetry.html
  src/selectors/disabled.js
Due: backend_change, frontend_change

Update RELEASE.md
  RELEASE.md
Due: frontend_change

Update .telemetry
  demo-project/.telemetry
Due: frontend_change

Update pyproject.toml
  demo-project/pyproject.toml
Due: frontend_change

Update apps.py
  package/kedro_viz/api/apps.py
Due: backend_change

Update telemetry.html
  public/telemetry.html
Due: frontend_change

fix issue around parent pipelines disabled child pipelines
  src/selectors/disabled.js
Due: frontend_change

update content for lite banner
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/components/ui/banner/banner.scss
  src/config.js
Due: frontend_change

revert back to the old syntax
  public/telemetry.html
Due: frontend_change

telemetry/add kedro_Viz_version to heaps (#2194)
  RELEASE.md
  package/kedro_viz/api/apps.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  public/telemetry.html
Due: backend_change, frontend_change
