Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

set max-width for url box
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/url-box/url-box.js
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

fix sorting line for css
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

include tooltip
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

Twine replaced by gh-action-pypi-publish action
  .github/workflows/release.yml
Due: frontend_change

update current test
  src/components/shareable-url-modal/shareable-url-modal.test.js
Due: frontend_change

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: frontend_change

remove unused code and classnames
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

fix the truncated url box issue
  src/components/shareable-url-modal/url-box/url-box.scss
Due: frontend_change

Include expandAllPipelines flag in initial state (#1896)
  RELEASE.md
  src/actions/actions.test.js
  src/actions/index.js
  src/actions/pipelines.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.js
  src/components/flowchart-primary-toolbar/flowchart-primary-toolbar.test.js
  src/components/flowchart-wrapper/flowchart-wrapper.js
  src/reducers/index.js
  src/reducers/reducers.test.js
  src/store/initial-state.js
  src/store/initial-state.test.js
  src/store/normalize-data.js
  src/store/store.js
  src/utils/index.js
  src/utils/utils.test.js
Due: frontend_change

--include-preview flag added for CLI
  package/kedro_viz/launchers/cli.py
  package/tests/test_launchers/test_cli.py
Due: backend_change

update pipeline_registry"
  demo-project/src/demo_project/pipeline_registry.py
Due: frontend_change

fix for def pipeline not updating
  src/components/flowchart-wrapper/flowchart-wrapper.js
Due: frontend_change

fix for def pipeline not updating
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

update failed e2e tests
  cypress/tests/ui/flowchart/shareable-urls.cy.js
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

update type for labelText in IconButton
  src/components/ui/icon-button/icon-button.js
Due: frontend_change

update release note
  RELEASE.md
Due: frontend_change

initial draft - testing basic shift
  demo-project/src/demo_project/settings.py
  package/kedro_viz/constants.py
  package/kedro_viz/integrations/kedro/data_loader.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/integrations/kedro/sqlite_store.py
Due: backend_change, frontend_change

initial draft - testing basic shift
  demo-project/.version
  package.json
  package/kedro_viz/server.py
  trufflehog-ignore.txt
Due: backend_change, frontend_change

format check
  package/kedro_viz/integrations/kedro/sqlite_store.py
Due: backend_change

update successContent styling
  src/components/shareable-url-modal/shareable-url-modal.js
  src/components/shareable-url-modal/shareable-url-modal.scss
  src/components/ui/modal/modal.js
Due: frontend_change

sorting lines
  src/components/shareable-url-modal/shareable-url-modal.scss
Due: frontend_change

remove button wrapper from successContent test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

remove .only in test
  cypress/tests/ui/flowchart/shareable-urls.cy.js
Due: frontend_change

CircleCI to Github actions migration for Kedro-Viz (Release) (#1876)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/check-release.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/javascript-lint-and-tests.yml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/release.yml
  demo-project/Dockerfile
Due: ci_change, frontend_change

v9.0.1
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

update version
  RELEASE.md
  demo-project/lightsail.json
Due: frontend_change

update name for content to be view
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

move showPublishedView outside the component render
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

v9.1.0
  demo-project/.version
  package-lock.json
  package.json
  package/kedro_viz/__init__.py
Due: backend_change, frontend_change

update version to be 9.1.0
  demo-project/lightsail.json
Due: frontend_change

fix lint
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

are_datasets_previewable renamed to is_all_previews_enabled
  package/kedro_viz/api/rest/responses.py
  package/kedro_viz/integrations/deployment/base_deployer.py
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/models/flowchart.py
  package/tests/conftest.py
  package/tests/test_api/test_rest/test_responses.py
  package/tests/test_launchers/test_cli.py
  package/tests/test_models/test_flowchart.py
Due: backend_change

lint fix
  package/kedro_viz/models/flowchart.py
Due: backend_change

are_datasets_previewable renamed to is_all_previews_enabled
  package/kedro_viz/api/rest/requests.py
  package/kedro_viz/api/rest/router.py
  package/tests/test_api/test_rest/test_router.py
Due: backend_change

update name
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

update names
  src/components/shareable-url-modal/shareable-url-modal.js
Due: frontend_change

try delaying import + lazy subcommands
  package/kedro_viz/launchers/cli.py
  package/kedro_viz/launchers/lazy_group.py
Due: backend_change

type ignore add for TRANSCODING_SEPARATOR
  package/kedro_viz/data_access/repositories/catalog.py
  package/kedro_viz/integrations/kedro/hooks.py
  package/kedro_viz/models/flowchart.py
Due: backend_change

update reminder-content
  src/components/update-reminder/update-reminder-content.js
Due: frontend_change

Path conditions:
  backend_change: any of: package/.*
  ci_change: any of: .circleci/.*
  frontend_change: any of: ^((?!package/).)*$
