Repository kedro-org/kedro-viz: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend_change, ci_change, frontend_change

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            package/.* backend_change true
            .circleci/.* ci_change true
            ^((?!package/).)*$ frontend_change true
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

add link to typing file
  docs/source/preview_custom_datasets.md
Due: frontend_change

Update docs/source/preview_pandas_datasets.md
  docs/source/preview_pandas_datasets.md
Due: frontend_change

typo and spacing fix
  docs/source/preview_custom_datasets.md
Due: frontend_change

non caps
  docs/source/preview_datasets.md
  docs/source/preview_pandas_datasets.md
Due: frontend_change

Test fix
  src/components/node-list/node-list.test.js
  src/components/pipeline-list/pipeline-list.test.js
Due: frontend_change

based on reviews
  demo-project/conf/base/catalog_01_raw.yml
  docs/source/preview_custom_datasets.md
  docs/source/preview_datasets.md
  docs/source/preview_pandas_datasets.md
Due: frontend_change

fix docs lint
  docs/source/preview_custom_datasets.md
Due: frontend_change

Updated docs for shareable Viz
  demo-project/data/session_store.db
Due: frontend_change

Updated Docs for Shareable-Viz
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/publish_and_share_kedro_viz_on_aws.md
  docs/source/publish_and_share_kedro_viz_on_azure.md
  docs/source/publish_and_share_kedro_viz_on_gcp.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Updated docs for shareable Viz
  docs/source/platform_agnostic_sharing_with_kedro_viz.md
  docs/source/share_kedro_viz.md
Due: frontend_change

Updated docs for shareable Viz
  docs/source/share_kedro_viz.md
Due: frontend_change

Updated docs for shareable Viz
  docs/source/publish_and_share_kedro_viz_on_aws.md
Due: frontend_change

revert changes
  demo-project/conf/base/catalog_01_raw.yml
Due: frontend_change

Documentation for Preview Dataset (#1757)
  docs/source/experiment_tracking.md
  docs/source/index.md
  docs/source/kedro-viz_visualisation.md
  docs/source/preview_custom_datasets.md
  docs/source/preview_datasets.md
  docs/source/preview_matplotlib_datasets.md
  docs/source/preview_pandas_datasets.md
  docs/source/preview_plotly_datasets.md
Due: frontend_change

fix lint issue on main
  .circleci/continue_config.yml
  package/kedro_viz/data_access/repositories/graph.py
Due: backend_change, ci_change, frontend_change

update win orb
  .circleci/continue_config.yml
Due: ci_change, frontend_change

test conda env
  .circleci/continue_config.yml
Due: ci_change, frontend_change

test fix
  cypress/tests/ui/flowchart/menu.cy.js
Due: frontend_change

add install miniconda
  .circleci/continue_config.yml
Due: ci_change, frontend_change

add install miniconda test1
  .circleci/continue_config.yml
Due: ci_change, frontend_change

using msft image
  .circleci/continue_config.yml
Due: ci_change, frontend_change

remove msft image
  .circleci/continue_config.yml
Due: ci_change, frontend_change

reverting test changes
  .circleci/continue_config.yml
Due: ci_change, frontend_change

Migrate to pyproject.toml
  package/pyproject.toml
  package/setup.cfg
  package/setup.py
Due: backend_change

Migrate to hatchling
  package/pyproject.toml
  package/setup.py
Due: backend_change

Remove direct invokations of setup.py
  Makefile
Due: frontend_change

revert test branch condition
  .circleci/continue_config.yml
Due: ci_change, frontend_change

fix preview data len
  src/components/metadata-modal/metadata-modal.js
Due: frontend_change
